[2014-04-15 13:22] fsteeg opened #1 "Textual access to NWBib classification and spatial classification"
e.g. "Reiseberichte" -> `http://purl.org/lobid/nwbib#s102060`

(based on: https://raw.githubusercontent.com/lobid/vocabs/master/nwbib/nwbib.ttl)

e.g. "Rheinland" -> `http://purl.org/lobid/nwbib-spatial#n03`

(based on: https://raw.githubusercontent.com/lobid/vocabs/master/nwbib/nwbib-spatial.ttl)

Given the resulting ID, we can already query the Lobid API, e.g.:

http://api.lobid.org/resource?sub

[2014-04-15 13:24] fsteeg opened #2 "Visual access to NWBib classification"
The classification consists of hierarchical data, so there should be some tree like access.

(based on: https://raw.githubusercontent.com/lobid/vocabs/master/nwbib/nwbib.ttl)

[2014-04-15 13:25] fsteeg opened #3 "Visual access to NWBib spatial classification"
The spatial classification describes locations, so there should be some map based access.

(based on: https://raw.githubusercontent.com/lobid/vocabs/master/nwbib/nwbib-spatial.ttl)

[2014-04-16 10:30] fsteeg opened #4 "Wrong NWBib classifications"
Some NWBib classifications are wrong. Sample:

The NWBib classification code for `Grabmale` is `617050`.

Corresponding Lobid URI is `http://purl.org/lobid/nwbib#s617050`

See http://api.lobid.org/nwbib/subject?query=Grabmale

However, http://lobid.org/resource/HT018160076 has subject `http://purl.org/lobid/nwbib#s61705` (notice the missing trailing `0`).

@dr0i Could this be caused by handling th

[2014-04-16 10:39] #1 closed, assigned to fsteeg

[2014-04-16 15:37] fsteeg opened #5 "Implement pagination for results"

[2014-04-16 15:37] fsteeg opened #6 "Display labels for all result properties"

[2014-04-17 13:59] fsteeg opened #7 "Wrong NWBib spatial classifications"
It seems some entries have wrong nwbib-spatial classifications, e.g.:

http://lobid.org/resource/HT018131501
is classified as `http://purl.org/lobid/nwbib-spatial#n24`

but should be `http://purl.org/lobid/nwbib-spatial#n46`
(http://193.30.112.134/F/NS3I3SVMFB4L7FMK14TFD497PPNCMHCX7FLBDTGEXKFBLQYAB3-51973?func=full-set-set&set_number=108480&set_entry=000001&format=999)

http://lobid.org/resource/H

[2014-04-22 09:00] fsteeg opened #8 "Improve appearance with Bootstrap"

[2014-04-22 11:10] #2 closed, assigned to fsteeg

[2014-04-24 13:03] #8 closed, assigned to fsteeg

[2014-04-24 13:12] fsteeg opened #9 "Visualize item holders in result list on a map"

[2014-04-25 10:49] #5 closed, assigned to fsteeg

[2014-04-25 15:48] #9 closed, assigned to fsteeg

[2014-04-28 17:09] #6 closed, assigned to fsteeg

[2014-05-07 09:21] acka47 opened #10 "Only give one stamen/OSM attribution at bottom of each page"
Currently, the phrase "Kartenbild von von [Stamen Design](http://stamen.com/), Daten von [OpenStreetMap](http://openstreetmap.org/), beides unter [CC BY-SA](http://creativecommons.org/licenses/by-sa/3.0)." appears with every map visualization of holding information, see e.g. http://lobid.org/nwbib/search?query=heine.

I suggest giving only attribution per page at the bottom of the page à la:

[2014-05-07 09:52] #4 closed, assigned to dr0i

[2014-05-07 09:54] #7 closed, assigned to dr0i

[2014-05-07 12:26] acka47 opened #11 "Multiple holdings for one resource should be shown on one map"
Currently, there is one map for each holding, see e.g. http://lobid.org/nwbib/search?query=n48, results 4 to 6. These  should instead be shown on one map the user can navigate and zoom into.

It then would probably make sense to move the information on holding "Einrichtung" and "Signatur" into a window that pops up when clicking a marker.

[2014-05-08 13:11] #10 closed, assigned to acka47

[2014-05-09 11:49] #11 closed, assigned to acka47

[2014-05-14 12:17] acka47 opened #12 "Protoype facets"
- type
- creator
- subject
- issued
- NWBib classification
- NWBib spatial classification

[2014-05-14 12:32] acka47 opened #13 "Add icons for document type"

[2014-05-14 12:37] acka47 opened #14 "Create compact result list"
The results are too long. Only two could be seen on the screen. It should be ~10 results to be seen on screen.

[2014-05-21 12:46] acka47 opened #15 "Publisher marked as editor in HTML"
See e.g. http://lobid.org/nwbib/search?query=blatt-verl. where the publisher property is named "Herausgeber" which actually means 'editor'.

Another example: http://lobid.org/nwbib/search?query=suhrkamp

[2014-05-21 13:19] fsteeg opened #16 "Evaluate link resolver usage"
Direct link from item map into catalogue.

We should discuss this with @heikojansen

[2014-05-21 14:01] #15 closed, assigned to fsteeg

[2014-05-27 12:13] acka47 opened #17 "Spatial notation "99" is (ab)used as addtional free text field in source data"
The notation "99" is used in the data (see http://test.lobid.org/nwbib/search?query=n99) but doesn't show up in the classification ([SKOS](http://purl.org/lobid/nwbib-spatial#n99), [legacy classification](http://193.30.112.134/F/?func=file&file_name=systematik_js&local_base=NWBIB)).

This is so because the notation is used as a free text field for information on places, indicating `99` in subfield

[2014-06-18 07:35] acka47 opened #18 "Make "Alle" default for result list"
Not only the results "Mit Bestand" should be shown as default but all results.

[2014-06-18 15:02] fsteeg opened #19 "Make boolean AND the default search"
Probably easiest to add `+` to search terms internally and keep using current API.

[2014-06-18 15:02] fsteeg opened #20 "Add UI for boolean search"
Boolean search UI (i.e.: fields, combine with AND/OR/AND-NOT) for:
- 'Erweiterte Suche' (title, author, subject)
- 'Kombinierte Orts- und Sachgruppensuche' (text field, Sachsystematik, Raumsystematik)

@acka47 Am I understanding the requirements correctly here?

[2014-06-18 15:05] fsteeg opened #21 "Ranking options"
Mentioned: type, but isn't that covered by the faceted search?

Same for date: do we need a ranking option, or would a date facet work as well?

[2014-06-18 15:07] fsteeg opened #22 "Tweak details view"
- Type icon
- Additional fields: date, ...
- Swap LOD link and search link

[2014-06-18 15:08] fsteeg opened #23 "Support filtering results by items in specified library"
e.g. with an autosuggest text field to select the library

[2014-06-18 15:09] fsteeg opened #24 "Add breadcrumb navigation for browsing"

[2014-06-18 15:10] fsteeg opened #25 "Add logos and links"
- NWBib book logo top
- hbz logo bottom
- hbz and ULBs links

[2014-06-18 15:13] fsteeg opened #26 "Direct page access in pagination"

[2014-06-18 15:14] fsteeg opened #27 "Replace tag icon in Systematik"

[2014-06-18 15:16] fsteeg opened #28 "Rename 'Blättern' in navigation bar"
Suggestions:
- Themensuche
- Themennavigation
- Systematische Suche
- Themensystematik

[2014-06-18 15:17] fsteeg opened #29 "Add main map with Gemeinden"

[2014-06-18 15:19] fsteeg opened #30 "Add a way to mark/collect results (Merkliste/Korb)"

[2014-06-23 09:48] #14 closed, assigned to fsteeg

[2014-06-23 09:48] #18 closed, assigned to fsteeg

[2014-06-23 09:48] #12 closed, assigned to fsteeg

[2014-06-23 09:48] #13 closed, assigned to fsteeg

[2014-06-23 12:42] acka47 opened #31 "Search instead link to authority data when clicking on creator/contributor"
Clicking on a contributor should yield the behaviour that currently exists when clicking on the magnifying glass besides it. The redundant magnifier can then be removed.

[2014-06-26 09:29] acka47 opened #32 "Suggest libraries for holding filter based on user's geolocation"
As noted in https://github.com/hbz/nwbib/issues/23#issuecomment-46941470 we might work on suggesting libraries to chose for holding filter based on the geo location of a user.

[2014-06-27 15:49] fsteeg opened #33 "Move facets route to Lobid API"
At some point the facets route should be provided by the Lobid API in a reusable form.

[2014-06-27 15:49] fsteeg opened #34 "Move classification route to Lobid API"
At some point the classification route should be provided by the Lobid API in a reusable form.

[2014-06-30 09:34] #23 closed, assigned to fsteeg

[2014-07-01 08:46] #27 closed, assigned to fsteeg

[2014-07-01 12:04] #28 closed, assigned to acka47

[2014-07-01 12:59] #19 closed, assigned to acka47

[2014-07-01 15:36] #31 closed, assigned to fsteeg

[2014-07-02 10:23] fsteeg opened #35 "Display labels for NWBib and DDC subjects"
The most straightforward approach would be to resolve and include the labels in the resource responses from the Lobid API, like we do for GND entities.

[2014-07-02 12:57] acka47 opened #36 "Show specific contributor role instead of generic "Mitwirkender""
Detailed entry view only indicates generally that some person is a "Mitwirkender" though bibo (e.g. "Editor" and marc relator (e.g. 'ill' for illustrator) properties exist which specify a more detailed role description.

Examples:
- http://test.lobid.org/nwbib/BT000078891(editor)
- http://test.lobid.org/nwbib/HT016568152 (illustrator)
- http://test.lobid.org/nwbib/TT000016858 (performer)

[2014-07-02 13:36] #22 closed, assigned to fsteeg

[2014-07-03 08:29] #25 closed, assigned to acka47

[2014-07-03 08:30] #35 closed, assigned to acka47

[2014-07-03 12:12] acka47 opened #37 "Improve media/publication type facets"
Currently, we only use `rdf:type` information for media/publication type facets and do not distinguish between media type or publication type.

We should also take into account the other RDF data we get from MAB field 050 and use `dct:medium` to represent in RDF, as of [this wiki page](https://wiki1.hbz-nrw.de/display/SEM/Format+050) these are:

[code]

See https://wiki.hbz-nrw.de/display/SRR/Face

[2014-07-03 12:15] fsteeg opened #38 "Add tool tips to search, LOD, and other links"

[2014-07-04 09:58] fsteeg opened #39 "Add TOC links to details view"

[2014-07-07 09:12] acka47 opened #40 "Enable export of Merkliste"
Currently, there only exists the possibility to create a "Merkliste" for one session. It should be possible to somehow save this list.

Easiest solution: Get a list of lobid/NWBib URLs for the listed resources. We might offer this in a first step.

Later, we should offer a way to export list using different citation styles. This means, we should utilize [Citation Style Language (CSL)](http://citat

[2014-07-07 10:43] #38 closed, assigned to fsteeg

[2014-07-07 10:43] #30 closed, assigned to fsteeg

[2014-07-08 13:27] acka47 opened #42 "Add links to locations in wikidata using dct:spatial"
As addition to OSM and GeoNames links (see #17), we should also add links to the corresponding wikidata resource to NWBib resources.

[2014-07-08 14:38] #36 closed, assigned to fsteeg

[2014-07-09 08:08] acka47 opened #43 "Quality check of exemplary catalogue entries"
See the list at https://wiki1.hbz-nrw.de/x/CAAkAQ

[2014-07-09 13:01] acka47 opened #44 "Articles without link to superordinated resources"
Examples (with "Quelle: Oberhausen" in source data):
- http://lobid.org/resource/HT017705285/about
- http://lobid.org/resource/HT017699222/about
- http://lobid.org/resource/HT016286379/about

[2014-07-09 13:06] acka47 opened #45 "Add links to superordinated resources to HTML view"
Examples:
- http://lobid.org/nwbib/HT014400151
- http://lobid.org/nwbib/HT017676809

[2014-07-14 13:15] #43 closed, assigned to acka47

[2014-07-16 14:41] #33 closed, assigned to fsteeg

[2014-07-17 14:42] fsteeg opened #47 "Support boolean operators in advanced search"

[2014-07-17 14:44] fsteeg opened #48 "'Kombinierte Orts- und Sachgruppensuche'"
Depends on new fields in the data, see https://github.com/lobid/vocabs/issues/20

[2014-07-17 14:46] fsteeg opened #49 "Additional fields for advanced search"
- Schlagwortkette (?),
- Verlag (publisher),
- Erscheinungsort (placeOfPublication),
- `id=` for ISBN and others

[2014-07-17 14:53] #20 closed, assigned to acka47

[2014-07-18 07:24] acka47 opened #51 "GND autosuggest only for resources linked in NWBib"
Currently, if you start typing a subject in the NWBib advanced search you will get auto suggestions from the whole GND. It would be nice to only have those GND resources suggested that are actually linked to from NWBib.

[2014-08-01 14:29] dr0i opened #52 "Resource in NWbib missing, but available in lobid.ogr/resource"
http://api.lobid.org/nwbib/HT017219655 => "Es ist ein Fehler aufgetreten...."
But the resource exist in lobid.org/resource:
http://api.lobid.org/resource/HT017219655

[2014-08-12 08:42] #52 closed, assigned to nobody

[2014-08-19 07:45] acka47 opened #53 "Create links from values in 700n=96|97"
[code]

Example:
 `<http://lobid.org/resource/HT016176022> <http://purl.org/dc/terms/subject> <http://purl.org/lobid/nwbib-spatial#n> .`

Other examples:
- http://lobid.org/resource/BT000041593
- http://lobid.org/resource/BT000053187
- http://lobid.org/resource/BT000067443

This obviously has something to with the notation 97 which works similar to 99 but but indicates a "Kreis" instead of a "Stad

[2014-08-25 09:09] acka47 opened #54 "Add Körperschaft / Corporate Body in advanced search"
For DigiBib integration we need the following fields to be searched seperately (striked though are those we already have:

1. ~~Freitext~~: ?q parameter
2. ~~Wörter aus dem Titel~~: `dct:title` and `http://rdvocab.info/Elements/otherTitleInformation`
3. Autor (Name, Vorname): `dct:creator` + `a gnd:Person`
4. Körperschaft: dct:creator + `a gnd:CorporateBody`
5. ~~Verlag: `dc:publisher`~~
6. ~~Schl

[2014-08-25 11:43] #21 closed, assigned to fsteeg

[2014-08-26 09:40] #49 closed, assigned to acka47

[2014-08-27 12:51] acka47 opened #57 "Add facet for values of property dct:medium"
In anticipation of https://github.com/lobid/lodmill/issues/512.

[2014-08-28 07:13] #37 closed, assigned to fsteeg

[2014-08-28 08:06] acka47 opened #58 "Also show labels for places that are linked with dct:spatial"
After #17 we have valuable links to GeoNames and LinkedGeoData in our data derived from the places indicated in NWBib's Ortssystematik notation 99. Currently, we make now use of these. As a first step, the labels should be shown in title views under "Ortssystematik" and a search for this resource enabled by clicking on it.

[Example](http://lobid.org/nwbib/HT017787209):

[code]
1. Fetch the German

[2014-09-17 19:57] acka47 opened #59 "When searching for lower level notation in Sachsystematik expand hierarchy"
E.g. when typing "sozialpolitik" into filter at http://lobid.org/nwbib/classification?t=Sachsystematik only "520000 Sozialwesen" is shown and not the actual found term that is on the sublevel.

[2014-09-18 13:14] #57 closed, assigned to fsteeg

[2014-09-22 08:31] acka47 opened #60 "Problems with combined sorting by oldest & type facet"
Example (not working):
1. Search for "bibliotheksverbund": http://lobid.org/nwbib/search?query=bibliotheksverbund
2. sort by "oldest first": http://lobid.org/nwbib/search?query=bibliotheksverbund&owner=all&sort=oldest
3. Filter by type "buch": http://lobid.org/nwbib/search?query=bibliotheksverbund&from=20&owner=all&t=http%3A%2F%2Fpurl.org%2Fontology%2Fbibo%2FBook&sort=oldest -> no results

Doing t

[2014-09-22 08:51] acka47 opened #61 "Misc should be last type to be chosen as icon"
Example:
These two results are of type `bibo:Journal` and `lv_Miscellaneous`. While this should be dealt with on data level (see https://github.com/hbz/lobid/issues/52) there might still be cases left where `lv:Miscellaneous` is combined with other type information. In those cases, the label for the other – specific – type should be shown and used for facetting while `lv:Miscellaenous` should be i

[2014-09-22 08:53] acka47 opened #62 "Add icon and albel for type :lv:Biography"
See e.g. the type facet for this query: http://lobid.org/nwbib/search?query=m%C3%BChlen+rheinland&owner=all&sort=

[2014-09-24 08:32] fsteeg opened #63 "Add medium to details view"
Like type, with icon

[2014-09-24 09:53] #60 closed, assigned to acka47

[2014-09-24 09:53] #62 closed, assigned to acka47

[2014-09-24 09:54] #61 closed, assigned to acka47

[2014-09-30 13:04] dr0i opened #66 "Show labels for "700n = 96|97|99""
See also #17 and #53.

It [is agreed](https://wiki1.hbz-nrw.de/display/SEM/NWBib-Treffen+10.9.2014) to show the labels for the literals denoting spatial areas (field 700, ... 99). As agreed with @fsteeg , the easiest (and most correct way) is to use what was originally catalogued - not what was somehow heuristically generated by linking to OSM.
Fall back to @acka47's mention of taking `dc:coverage

[2014-10-01 07:36] fsteeg opened #67 "Add simple way to report errors"
Should be for errors on all levels: cataloguing, transformation, UI.
- Maybe specific to a field, e.g. in http://lobid.org/nwbib/HT017198589
- Maybe general link in navigation, automatically inserting current URL
- Should go to some collective email, and be dispatched to libs or devs

[2014-10-01 09:16] fsteeg opened #68 "Fix missing item map issue"
Currently if one of the itmes has an non-existant org, no map is shown.

See e.g. http://lobid.org/nwbib/HT014148753

[2014-10-01 12:14] fsteeg opened #69 "Item owners as facet"
See https://wiki1.hbz-nrw.de/display/SEM/NWBib-Treffen+10.9.2014

[2014-10-10 15:42] dr0i opened #70 "Transform "Schlagwortketten" (subject chains)"

[2014-10-13 09:26] #69 closed, assigned to acka47

[2014-10-13 13:19] acka47 opened #71 "Remove "Projektion" from medium facet"
Redundant facets, see http://lobid.org/nwbib/search?query=*&medium=http%3A%2F%2Frdvocab.info%2FtermList%2FRDAMediaType%2F1005 & http://lobid.org/nwbib/search?query=*&medium=http%3A%2F%2Frdvocab.info%2FtermList%2FRDACarrierType%2F1050.

As the results are identical with the "video" facet and many VHS media are covered here, video is the right thing to choose. We should also think about removing the

[2014-10-13 14:56] acka47 opened #72 "Add query links to literal values from Raumsystematik"
We have a lot of literal values from 700n=96|97|99 in `lv:nwbibspatial`, see https://github.com/hbz/nwbib/issues/53, https://github.com/hbz/nwbib/issues/17 and https://github.com/hbz/nwbib/issues/66.

In the NWBib HTML, we should add to each label an underlying query link that GETs a list of all resources with the place as spatial subject.
Example: "Hilden" in http://lobid.org/nwbib/BT000084171 sh

[2014-10-15 08:32] #71 closed, assigned to acka47

[2014-10-22 12:24] #70 closed, assigned to fsteeg

[2014-10-23 09:32] #68 closed, assigned to acka47

[2014-10-23 14:57] #45 closed, assigned to fsteeg

[2014-10-27 11:22] #17 closed, assigned to acka47

[2014-10-27 15:39] #53 closed, assigned to acka47

[2014-10-30 10:45] acka47 opened #73 "Don't transform 700n 96|97 like spatial classfication notations"
As we know, the notations 96 and 97 as well as 99 of the NWBib spatial classification are abused as places to catalog the names of administrative districts and other locations (see #17, #53).

As we record the information from 96 and 97 in the rdf with `dc:coverage` (#66) and create links to other linked data sources based on them (#53) we shouldn't also use these notations as SKOS concepts and li

[2014-10-30 14:29] fsteeg opened #74 "Items map: initial zoom as close as possible"
Zoom in as close as possible to show all pins in initial map.

[2014-11-03 12:27] fsteeg opened #75 "Subject chain autosuggest"
Typing subjects should suggest all chains that are continuations of the typed subjects

[2014-11-03 12:28] fsteeg opened #76 "Link to superordinated resource for holdings"
"Zum Bestand siehe Überordnung"

[2014-11-03 12:30] fsteeg opened #77 "Missing owner details"
Some owners (Untersigel) are not present in our organisations data.

Two appoaches possible:
- Add missing owners (we did that for some)
- Subsume the owners under their main Sigel

[2014-11-03 12:34] fsteeg opened #78 "Facets for 'Raumsystematik' and 'Sachsystematik'"
When done, we can replace the preselected advanced search for these with subject search.

Requirement derived from NWBib mail, 2014-10-31

[2014-11-05 13:36] acka47 opened #79 "Some small UI improvements"
Based on user feedback from ULB Münster from 4 November 2014.
- [x] Rename holdings button from "Bestand: mit und ohne Bestand" to "Besitzende Bibliothek"
- [ ] When online resource, only show link to fulltext in detailed view and no map
- [x] Don't view `<kein Autor>` in results list if creator is missing. Just don't show anything at all.
- [x] In results list only show publication date of first

[2014-11-10 12:38] #78 closed, assigned to fsteeg

[2014-11-10 12:57] acka47 opened #80 "Adjust alphabetic sorting in facets, registers, and classifications"
Currently, words starting with an Umlaut (e.g. "Ökologie") are sorted to the end of the list. They should probably best be handled as the letter without the dots (ä=a, ö=o, Ü=u).

[2014-11-10 16:14] fsteeg opened #81 "Add facet for subjects"
NWBib mail, 2014-11-10, HF

[2014-11-11 08:34] #80 closed, assigned to fsteeg

[2014-11-11 15:39] #81 closed, assigned to fsteeg

[2014-11-12 14:51] #39 closed, assigned to fsteeg

[2014-11-13 09:33] #79 closed, assigned to acka47

[2014-11-17 09:02] #75 closed, assigned to nobody

[2014-11-17 09:04] #67 closed, assigned to nobody

[2014-11-17 09:06] #48 closed, assigned to nobody

[2014-11-17 09:08] fsteeg opened #82 "Geo-based polygon search on main page"
The main page map search should trigger an actual geo search passing the polygon of the selected area.

Depends on https://github.com/hbz/lobid/issues/88

See https://wiki1.hbz-nrw.de/x/BgCHAg

[2014-11-17 14:11] #73 closed, assigned to dr0i

[2014-11-18 12:58] #82 closed, assigned to fsteeg

[2014-11-18 15:29] #26 closed, assigned to nobody

[2014-11-18 15:32] #59 closed, assigned to fsteeg

[2014-11-18 15:35] #63 closed, assigned to acka47

[2014-11-21 13:50] #58 closed, assigned to acka47

[2014-11-24 07:51] acka47 opened #83 "Improve automatic mapping of NWBib classification to wikidata"
See these comments:
- https://github.com/hbz/nwbib/issues/42#issuecomment-63775578: 47,357 resources with 700_96|97|99 aren't linked to wikidata yet.
- An incorrect mapping is documented at: https://github.com/hbz/nwbib/issues/42#issuecomment-63790251

[2014-11-24 07:52] #42 closed, assigned to nobody

[2014-12-11 08:11] acka47 opened #84 "How do I initiate an update of URL templates for OPAC links?"
@fsteeg I understood that, when https://github.com/hbz/link-templates/blob/master/isil2opac_hbzid.json is updated the links to local catalogs in NWBib won't be updated automatically.

As I assume, there will be some updates to the URL templates in the next months, @dr0i and me should know how to update the corresponding NWBib URL templates.

[2014-12-11 09:45] #84 closed, assigned to fsteeg

[2015-01-05 15:37] acka47 opened #85 "Add preferred and alternate name strings for creators & contributers"
Use extra properties – like dc:contributor & ex:corporateContributor – with these literals. Get the preferred and alternate name strings directly from Aleph data via metafacture/morph.

[2015-01-05 15:44] acka47 commented on #76
Can't find this in the current version. The corresponding commit is https://github.com/hbz/nwbib/commit/a10d822c36e52e9131d367c3f0011947198321d1.

[2015-01-14 09:59] acka47 commented on #77
Not all hbz-internal sub"sigels" will be added to the official Sigelverzeichnis. We will thus have to implement a solution to not present these pseudo sigels/ISILs in lobid.

@dr0i suggested a solution that seems to be very sensible:
- Implement the solution on the metafacture/data transformation level.
- Check all appearing sub-sigels, i.e. ISILs of the form `DE-[0-9]{1,4}\w{0,1}-[0-9]{0,3}\w{0,3

[2015-01-14 12:50] acka47 commented on #85
Closing, duplicate to #38.

[2015-01-14 12:50] #85 closed

[2015-01-16 19:07] fsteeg commented on #76
I think this is due to the API change of moving `http://lobid.org/resource/NWBib` from `isPartOf` to `collectedBy`. If I remember correctly we decided to retain it in `isPartOf`, and only *add* it in `collectedBy` (to avoid this kind of issues). I'd prefer that fix. The other option would be to change the condition for `superordination` in [this line](https://github.com/hbz/nwbib/blob/master/app/v

[2015-01-20 09:57] acka47 commented on #76
Re-reading https://github.com/lobid/lodmill/issues/359 I'd say we didn't decide to retain `isPartOf` and we in fact didn't do it. Also, I think that having both links would create problems elsewhere. Thus, someone will have to fix https://github.com/hbz/nwbib/blob/master/app/views/details.scala.html#L19. Assigning to @dr0i – but perhaps @fsteeg will do it as he is obviously taking a look at GitHub

[2015-01-23 22:12] fsteeg commented on #76
Even if we didn't decide to retain it, I think this issue (if my assumption about its cause is even correct) shows that we should have. It's an API change that breaks client applications, as it did here for our own. We can't do these kind of changes and claim to be stable and compatible. I'm aware we did this before, but we should learn from it and don't make these kind of changes (at least for th

[2015-01-26 09:36] acka47 commented on #76
You are right that this breaks our application. But the other API user who relies on links to a collection (edoweb) actually made the feature request and seems to be happy with our change. (Maybe another change would break their application...) As I am quite sure that nobody else relies on it, we can leave it this way. I totally agree with you that we shouldn't make this kind of changes in API 2.0

[2015-01-26 14:46] acka47 opened #86 "Wrong results with geo search for "Mülheim a. d. Ruhr""
Reported by user (see [wiki](https://wiki1.hbz-nrw.de/pages/diffpagesbyversion.action?pageId=42401798&selectedPageVersions=101&selectedPageVersions=100)). Clicking on "[Mülheim a. d. Ruhr](http://lobid.org/nwbib/search?location=M%C3%BClheim%20an%20der%20Ruhr|51.5,6.9+51.5,6.9%2051.5,6.9%2051.4,6.9%2051.4,7.0%2051.4,7.0%2051.4,7.0%2051.4,7.0%2051.4,6.9%2051.4,6.9%2051.4,6.9%2051.4,6.9%2051.4,6.9%20

[2015-01-26 15:02] acka47 commented on #86
There are at least three problems:

1. Probably there is a problem with the [polygon](http://lobid.org/nwbib/search?location=M%C3%BClheim%20an%20der%20Ruhr|51.5,6.9+51.5,6.9%2051.5,6.9%2051.4,6.9%2051.4,7.0%2051.4,7.0%2051.4,7.0%2051.4,7.0%2051.4,6.9%2051.4,6.9%2051.4,6.9%2051.4,6.9%2051.4,6.9%2051.4,6.9%2051.4,6.9%2051.4,6.9%2051.4,6.9%2051.4,6.9%2051.4,6.9%2051.4,6.9%2051.4,6.9%2051.4,6.9%2051.4

[2015-01-26 15:05] acka47 commented on #86
The linking will be improved by #83 which should be solved first.

[2015-01-26 15:09] acka47 commented on #86
Wrong geo coordinates in wikidata are NOT the problem. These are `51°30'N, 6°54'E` for Oberhausen-Osterfeld which looks correct (see https://goo.gl/maps/Pi1wh).

[2015-01-27 12:44] acka47 opened #87 "Title query over union of title and adtionalTitle fields"
Reported by customer, see https://wiki1.hbz-nrw.de/pages/diffpagesbyversion.action?pageId=42401798&selectedPageVersions=97&selectedPageVersions=96.

Example: The query http://lobid.org/nwbib/search?name=Bildungswege+Weckruf currently doesn't deliver http://lobid.org/nwbib/HT018504288 which has title "Marl: Bildungswege zu einer neuen Stadt "  and additional title "ein programmatischer Weckruf ".

[2015-01-27 15:32] acka47 commented on #76
Please only write "Zum Bestand: {title of superordinated resource}. Customer feedback, see https://wiki1.hbz-nrw.de/pages/diffpagesbyversion.action?pageId=42401798&selectedPageVersions=60&selectedPageVersions=59

[2015-01-27 16:38] dr0i commented on #76
Deployed to staging.

[2015-01-27 16:40] dr0i commented on #76
(Note: this issue has nothing to do with `collectedBy`)

[2015-01-29 09:45] dr0i commented on #76
You can test with e.g. http://test.lobid.org/nwbib/HT018286356.

[2015-02-01 12:31] fsteeg commented on #86
This might be an issue with the precision of the polygon that we use. We use coordinates with one decimal digit to avoid too large URLs, see:

https://github.com/hbz/nwbib/blob/master/app/views/tags/nrw_map.scala.html#L47

At our latitude, this results in a precision of about 6 km, see:

http://en.wikipedia.org/wiki/Decimal_degrees

The different polygons on our map differ in their number of coord

[2015-02-01 13:03] fsteeg commented on #87
The corresponding query is currently configured to match the query tokens with AND, see:

https://github.com/hbz/lobid/blob/master/app/models/queries/LobidResources.java#L86

In the example `Bildungswege` and `Weckruf` appear in different fields. That might be causing this issue. I think having the AND query is due to the requested AND-by-default behaviour. Simply switching to OR here might yield

[2015-02-01 13:20] fsteeg commented on #76
I think the empty first column looks odd. Also `Zum Bestand` suggests the links go to the `Bestand`, not to the superordinated resource. How about `Zum Bestand siehe:` as the caption, and `Überordnung` as the labels in the first column?

[2015-02-06 14:09] dr0i commented on #87
@fsteeg u're right, there is an ES option :)

[2015-02-06 14:10] dr0i commented on #87
Deployed to staging, see http://test.lobid.org/resource?name=Bildungswege%20Weckruf .

[2015-02-09 13:02] acka47 opened #89 "For anthologies, add link to list of included articles"
If in NWBib existant we should have a link to articles included in an anthology labeled "Enthaltene Beiträge anzeigen".

Example: http://test.lobid.org/nwbib/HT018295975

This should be implmented analoguous to journals, see e.g. http://test.lobid.org/nwbib/HT006919326.

(Note: A special case are multivolume works where currently all parts are listed within the description of the work, see e.g. ht

[2015-02-09 13:16] acka47 commented on #89
Customers also asked for adjusting the links from multivolume works to subordinated resources to the pattern for journals and – to be implemented – for anthologies. This would be good for us, to only have one pattern. So we might just implement it for all resources that actually have at least one other resoruce pointing at it with `isPartOf`.

[2015-02-09 13:41] acka47 commented on #89
As we don't have any type information about anthologies we should at this first, see lobid/lodmill#271. After this, we will just have to add the type to https://github.com/hbz/nwbib/blob/3041f0c1fab1ac598a290533c130262ff9bb4995/app/views/tags/result_doc.scala.html#L88 and everything is fine.

[2015-02-10 08:32] acka47 opened #90 "Don't list volumes of MutlVolumeWorks but only show link to list of volumes"
See #89. We should add MultiVolumeWork to https://github.com/hbz/nwbib/blob/3041f0c1fab1ac598a290533c130262ff9bb4995/app/views/tags/result_doc.scala.html#L88 (see also https://github.com/hbz/nwbib/issues/89#issuecomment-73509613) and delete https://github.com/hbz/nwbib/blob/d3097afd5d7ccef24833d49822a5d5fb09caa610/app/views/tags/result_doc.scala.html#L77-79.

[2015-02-11 16:28] dr0i commented on #87
Re-deployed to staging small test set, please try http://test.lobid.org/resource?name=ossia%20elise.

[2015-02-20 12:10] acka47 commented on #76
+1

[2015-02-20 12:16] acka47 commented on #87
In the new example the query matches information in fields `title` and `alternativeTitle` while the original example was about the fields `title` and `otherTitleInformation`.

Obviously, the original use case is also covered, see http://test.lobid.org/resource?name=dankrede%20gr%C3%A4finn.

Thus: +1

[2015-02-20 20:49] fsteeg commented on #76
I seem to remember that when we chatted about this recently, you both liked my suggestion.

I really think the indented variant with an empty first column that's now being deployed looks broken.

[2015-02-23 08:47] acka47 commented on #76
@fsteeg I can't recall the details of your suggestion. Can you say it again?

[2015-02-23 16:00] fsteeg commented on #76
@acka47 What I described in https://github.com/hbz/nwbib/issues/76#issuecomment-72364481.

[2015-02-26 11:31] acka47 commented on #54
We will now enable search for corporate body by creating a separate API parameter, see https://github.com/hbz/lobid/issues/121.

[2015-02-26 13:02] acka47 opened #91 "Install web log analyzer"
For http://lobid.org/nwbib. See http://piwik.org/log-analytics/.

[2015-02-26 14:25] dr0i commented on #76
@fsteeg We should better wait upon customer feedback for now, as we agreed once.

[2015-02-26 14:25] dr0i commented on #76
Deployed to production, closing.

[2015-02-26 23:21] fsteeg commented on #76
I'm not so happy with how we're handling this issue. Originally this is a regression of a feature that was already deployed to production. But then we mixed two things that I think we should instead handle separately:

1. Fix the issue that breaks a deployed feature with highest priority
2. Implement and review the label change requested by stakeholders

I think this would give both us and them a

[2015-03-02 10:39] acka47 commented on #76
I am Ok with writing it in one row with "Zum Bestand siehe:" and can only agree with @fsteeg that this would be a better solution.

[2015-03-02 12:16] acka47 commented on #91
@dr0i chose [AWStats](http://www.awstats.org/) instead of Piwik.

[2015-03-06 13:04] acka47 opened #92 "Don't show holding information for online resources"
If something is an online resource, there should be no map + information on an institution that holds this item.

Examples:
- http://test.lobid.org/nwbib/HT018544173
- http://test.lobid.org/nwbib/HT018541136

[2015-03-06 13:05] acka47 commented on #92
Requirement derived from 8.b) of https://wiki1.hbz-nrw.de/x/CoCDAw.

[2015-03-06 16:03] dr0i commented on #91
Me choose now [goaccess.io](http://goaccess.io). It's really fast and easy to configure. It fits very well into the linux environment. Will build you nwbib stats and show how to do that for your own or automize reports. Meanwhile have a look at the whole [lobid web access](http://stats.lobid.org/web-access/) stats.

[2015-03-09 09:27] acka47 commented on #91
I like goaccess. Looks much slicker than awstats and is morge intuitive. As soon as we have a UI only for /nwbib I will close this ticket.

[2015-03-09 10:57] dr0i commented on #91
You'll find nwbib filtered in http://stats.lobid.org/web-access/nwbib .

[2015-03-09 14:00] acka47 commented on #91
Looks good for now. Closing.

[2015-03-09 14:00] #91 closed

[2015-03-09 16:19] dr0i commented on #87
Deployed to production, closing.

[2015-03-09 16:19] #87 closed

[2015-03-09 19:57] fsteeg commented on #92
I seem to remember that @dr0i objected that we have resources that are both online and print resources.

[2015-03-09 20:07] fsteeg commented on #91
Nice!

[2015-03-16 14:59] acka47 commented on #47
AND, NOT and OR queries are already possible – although the system works quite counterintuive.

This is how I can make an AND query: http://lobid.org/nwbib/search?location=&q=%2Bkarneval+%2Bk%C3%B6ln (= "+karneval +köln" in the search field)

This is how I can make an OR query: http://lobid.org/nwbib/search?location=&q=karneval%2Bk%C3%B6ln (= "karneval+köln" in the search field)

This is how I can

[2015-03-16 15:06] acka47 commented on #47
- AND: "karneval+köln"
- OR: "karneval köln"
- NOT: "karneval -köln" (as already implemented)

Sorry, I have to correct this. As customers want – and already have – a default AND search, it should look like this:
- AND: "karneval köln"
- OR: "karneval OR köln"
- NOT: "karneval -köln" (as already implemented)

Thus, we just have to adjust the OR query.

[2015-04-07 14:30] acka47 opened #93 "Statistics on usage of different seach/browsing entries"
For the NWBib meeting on 13 April we should prepare some usage statistics about:
- [x] "Erweiterte Suche": http://lobid.org/nwbib/advanced
- [x] "Themensuche": http://lobid.org/nwbib/topics
- [x] Browsing of spatial classification: http://lobid.org/nwbib/classification?t=Raumsystematik & http://lobid.org/nwbib/register?t=Raumsystematik
- [x] Browsing onf subject classification: http://lobid.org/nw

[2015-04-08 09:15] acka47 commented on #93
To know about usage of Themensuche and classifications, we will have to check some more URL requests:

- *Themensuche*: We will have to check the referrer of queries like http://lobid.org/nwbib/search?q=%22M%C3%BCnster+%28Westf%29+|+Stadtentwicklung+|+Karte%22` whether it is some URL of the form `http://lobid.org/nwbib/topics?q={query}` (e.g. http://lobid.org/nwbib/topics?q=m%C3%BCnster+karte)
- *

[2015-04-08 11:57] dr0i commented on #93
Done, check if http://stats.lobid.org/web-access/nwbib/issue_93/ satisfying.
Say *uh* if you want a monthly report.
Creating statistics, keep in mind:
It's right that there is only marginal usage of theses special queries - but they are 100% human invoked. So it should be set into the proper relation of overall usage of nwbib, and there 85.86% of the traffic comes alone from googlebot.

[2015-04-08 13:44] acka47 commented on #93
It's probably best to configure the stats for the classifications checking whether the referer is one of the two links provided for each classification in https://github.com/hbz/nwbib/issues/93#issue-66901524.

[2015-04-08 13:44] acka47 commented on #93
Also, we will have to check how tot create statistics on the usage of facetting options.

[2015-04-08 14:36] dr0i commented on #93
Done re: classification and referer.
re: facets: see http://stats.lobid.org/web-access/nwbib/issue_93/2015-04-01_nwbibfacets.html .
This statistic does not include resource facets done on the nwbib-set facetting ownership. Should this also be taken into account?

[2015-04-09 09:23] acka47 opened #94 "Customization of number of results on list page"
As a user I want to choose a bigger number of results (options not clear yet, initial proposal: 25, 50, 100, 500) to be shown on one result list page so that I can get a better overview over results.

[2015-04-09 09:25] acka47 opened #95 "Jump to specific result list page"
As a user I want to jump to a specific result list page.

[2015-04-09 09:27] acka47 opened #96 "Filter by publication date"
As a user I want to filter results by publication date choosing a specific year or a range of years.

[2015-04-09 09:29] acka47 opened #97 "Enable combination of values from one facet to filter results"
As a user I want to combine several facets to filter a result set so that I can build a filter using related subjects.

[2015-04-09 09:52] acka47 opened #98 "Add links between supplements and supplemented resources"
As done in https://github.com/hbz/lobid/issues/102 we now have links between supplements and the supplemented resource in lobid. These have to be shown in the NWBib views of the resources.

[2015-04-10 12:15] acka47 commented on #93
That's ok for now. I forgot the simple NWBib search. Can you please add statistics for this? Example query: http://lobid.org/nwbib/search?location=&q=k%C3%B6ln+karneval
URL pattern: `http://lobid.org/nwbib/search?location=&q={search terms}`

[2015-04-10 12:17] acka47 commented on #93
URL pattern: `http://lobid.org/nwbib/search?location=&q={search terms}`

So we should add statistics on hits with a referer of the form `http://lobid.org/nwbib/search?location=&q={search terms}`.

[2015-04-10 14:21] acka47 commented on #93
For now I am happy with the stats. We will undoubtly have to improve the statistics in the future and will open new issues when needed. This will now be closed.

[2015-04-10 14:21] #93 closed

[2015-04-24 11:22] acka47 opened #99 "Add schema.org markup to HTML"
Including alternate names for subject with property `schema:about`.

The easiest way to implement this is prbably by adding JSON-LD in a `<script>` tag. Google also supports this, see their ["About Schema.org" page](https://developers.google.com/structured-data/schema-org).

[Google's structured data testing tool](https://developers.google.com/structured-data/testing-tool/) also supports JSON-LD.

[2015-04-24 11:30] acka47 opened #100 "Human-readable documentation of mapping"
Customers ask for a documentation of our mappings (see https://wiki1.hbz-nrw.de/x/DQBEB):
1. Aleph-xml to RDF
2. Which fields are searched with which query?

[2015-04-24 11:57] acka47 opened #101 "Colour westphalian disctricts in red when hovering over map"
Customer feedback from our meeting on 2015-04-13 (see https://wiki1.hbz-nrw.de/x/DQBEB): The districts in the Westphalian part of Northrhine Westphalia should be coloured in the red of the coat of arms  – instead of green – when hovering over the map on the start page.

[2015-04-24 12:00] acka47 commented on #99
This was also requested by customers, see https://wiki1.hbz-nrw.de/x/DQBEB.

[2015-04-24 12:46] acka47 opened #102 "Create BEACON file for NWBib contributors"
Customers want to be listed in the [person search](http://tools.wmflabs.org/persondata/) linked from some German Wikipedia articles (e.g. [Heinrich Böll](http://de.wikipedia.org/wiki/Heinrich_B%C3%B6ll) -> Normdaten -> Wikipedia-Personensuche) if the person in question has created a work that is part of NWBib. THus, we will have to create a BEACON file with GND IDs of all persons that have a creat

[2015-04-24 12:50] acka47 commented on #83
After having improved the wikidata linking we will send a list of locations by district (Landkreis) to NWBib editors as well as a list of locations not linked to wikidata.

[2015-04-24 12:53] acka47 opened #103 "Remove Feedback buttons from NWBib"
Customers want the mail feedback buttons removed as the contact information is sufficient (see https://wiki1.hbz-nrw.de/x/DQBEB).

[2015-04-24 12:58] acka47 opened #104 "Subject chains with double angle brackets aren't shown correctly in HTML"
See e.g. http://lobid.org/nwbib/HT018312899. It reads:
`Schlagwortfolge 	Grabbe, Christian Dietrich | <> Cid | Dramaturgie | Rezeption`

The [underlying data](http://lobid.org/resource?id=HT018312899&format=full): `subjectChain": "Grabbe, Christian Dietrich | <<Der>> Cid | Dramaturgie | Rezeption (231,321)"`

[2015-04-24 13:27] dr0i commented on #104
I will remove this '<<>>' "crab"-crap from the data (really, looks like a crab).
Will not fix html.

[2015-04-24 17:04] fsteeg commented on #103
If I remember correctly, all of the feedback we received came via these links. They also automatically provide details about the current page as part of the subject. I therefore don't think we should remove them. Or is this about something else and I'm getting it wrong?

[2015-04-27 08:06] acka47 commented on #103
You are getting it righ and I argued the same way at the NWBib meeting. Customers said the feedback received hadn't been useful and too much. Wha they want are suggestions of resources to be included in NWBib. They argued that the feedback information would be redundant as contact linkswould already be presentged behind the ":information_source:" sign.

We'll ask at the [meeting at Lokal K on Wedn

[2015-04-27 08:41] acka47 opened #105 "Wrong links in single resource views"
All the links in a single resourc view are based on a generic `q` query. They have to be adjusted with regard to their location.

Example: http://lobid.org/nwbib/HT018112985
- Current link behind `Autor/in`: http://lobid.org/nwbib/search?q=%22http%3A%2F%2Fd-nb.info%2Fgnd%2F128586516%22
- I should be the following: http://lobid.org/nwbib/search?person=http%3A%2F%2Fd-nb.info%2Fgnd%2F128586516 (Obvio

[2015-04-27 08:51] acka47 commented on #105
While we are at it, we should also specify the links behind the spatial and subject notations from NWBib classification. For this, we will use the following link types:
- for NWBib spatial: http://lobid.org/nwbib/search?nwbibspatial={URI}
- for NWBib subject: http://lobid.org/nwbib/search?nwbibsubject={URI}

Example http://lobid.org/nwbib/HT014318568:
- Link behind `Raumsystematik` "Nordrhein-West

[2015-04-27 09:07] acka47 opened #106 "Create BEACON file for NWBib subjects"
Besides a BEACON for literature by a ceratin person (see #102 ) we should also add another BEACON with resources in NWBib _about_ a person and other subjects. It should look like this:
EDIT @dr0i: this template has changed. For the actual version, see https://github.com/lobid/lodmill/blob/master/lodmill-rd/doc/scripts/hbz01/stats/stats.sh

[code]

[2015-04-29 16:52] dr0i commented on #102
The script in https://github.com/lobid/lodmill/issues/663 generates the beacon, see http://lobid.org/download/beacons/ .
However, since getting the NWBib dataset results in an error (-> hbz/lobid#107), some data is missing right now.

[2015-04-29 16:59] dr0i commented on #106
The script in lobid/lodmill#663 generates the beacon, see http://lobid.org/download/beacons/nwbibSubjects.bf.
However, since getting the NWBib dataset results in an error (-> hbz/lobid#107), some data is missing right now.

[2015-04-30 08:15] acka47 commented on #106
Something went wrong with this one. Firstly, it is quite short and secondly there are no GND IDs but lobid URIs in the second part of the file.

[2015-04-30 08:30] acka47 commented on #102
Looks good, we have to adjust the person queries, though, as the URL template `http://lobid.org/nwbib/search?person={ID}` doesn't work with hyphenated GND IDs, e.g.
-  http://lobid.org/nwbib/search?person=10007642-7 (In contrast to http://lobid.org/nwbib/search?q=%22http://d-nb.info/gnd/10007642-7%22)
- http://lobid.org/nwbib/search?person=10008170-8 (in contrast to http://lobid.org/nwbib/search?q

[2015-04-30 08:32] acka47 opened #107 "Adjust query with person parameter to find hyphenated GND IDs"
As a general user I want to search for/link to literature by a person using the persons GND ID – whether the ID is hyphenated or not.

Quoting from https://github.com/hbz/nwbib/issues/102#issuecomment-97706585;

-  http://lobid.org/nwbib/search?person=10007642-7 (In contrast to http://lobid.org/nwbib/search?q=%22http://d-nb.info/gnd/10007642-7%22)
- http://lobid.org/nwbib/search?person=10008170-8

[2015-05-06 08:06] dr0i commented on #102
Fixed that, see the updates.

[2015-05-06 08:06] dr0i commented on #106
Fixed that, see the updates.

[2015-05-18 12:06] acka47 commented on #102
@dr0i, you changed the `#TARGET` to `http://lobid.org/nwbib/search?q=%22http://d-nb.info/gnd/{ID}%22` which isn't correct as results also contain resources _about_ a person and not only resources where the person is contributor. We have to bease this on the `/person` query as said in https://github.com/hbz/nwbib/issues/102#issuecomment-97706585 and adjust the query according to #107 .

[2015-05-18 12:17] acka47 commented on #106
Similar to what I said in https://github.com/hbz/nwbib/issues/102#issuecomment-103039221 the  #TARGET` shouldn't be `http://lobid.org/nwbib/search?q=%22http://d-nb.info/gnd/{ID}%22`as the results contain – at least for persons and corporate bodies – not only resources _about_ them but also _by_ them.

Example: http://lobid.org/nwbib/search?q="http%3A%2F%2Fd-nb.info%2Fgnd%2F10017689-6" contains htt

[2015-05-19 08:17] dr0i commented on #102
BUt that doesn't work, using e.g the example used in the beacon: http://lobid.org/nwbib/search?person=%22http://d-nb.info/gnd/118515470%22

[2015-05-19 08:26] dr0i commented on #106
Yes, but again: these don't work , eg. http://lobid.org/nwbib/search?subject=%22http://d-nb.info/gnd/10017689-6%22 .

[2015-05-22 09:46] acka47 commented on #106
@dr0i Please run the script once again so that we can close this issue.

[2015-05-22 11:39] acka47 commented on #107
This is a lobid API problem and not a problem with how the query is configure in NWBib: http://lobid.org/resource?author=10007642-7 doesn't work as well.

[2015-05-29 11:36] dr0i opened #108 "Play OutOfMemoryError"
2015-05-29 13:25:31,933 - [ERROR] - from akka.actor.ActorSystemImpl in play-akka.actor.default-dispatcher-146554
Uncaught error from thread [play-akka.actor.default-dispatcher-146577] shutting down JVM since 'akka.jvm-exit-on-fatal-error' is enabled
java.lang.OutOfMemoryError: Java heap space
        at java.util.Arrays.copyOf(Arrays.java:3326) ~[na:1.8.0_05]
        at java.lang.AbstractStringBui

[2015-05-29 11:37] dr0i commented on #108
See also hbz/lobid#107

[2015-06-01 11:49] acka47 opened #109 "Don't show person twice – as contributor and under specific role"
See e.g. http://lobid.org/nwbib/HT016161271.

We should leave the redundancy in the base data though. For background to the implementation of specific role attributes instead of generic `Mitwirkung` see #36 .

[2015-06-01 14:59] acka47 opened #110 "Adjust standard/all field search"
One unwanted behaviour already reported by customers (see https://wiki1.hbz-nrw.de/pages/viewpage.action?pageId=58949642): A standard search or `Alle Felder` search shouldn't search field `bibliographicCitation` ("Quelle"). The unwanted behaviour as described in German by customers:

There might be more fields mthat should be excluded from a standard search. We may align this to the behaviour if t

[2015-06-05 10:10] acka47 commented on #83
We might also take a look at the Getty Thesaurus of Geographic Names (TGN) for getting geo coordinates. It includes more than 15k places in North Rhine-Westphalia, see http://www.getty.edu/vow/TGNHierarchy?find=&place=&nation=&english=Y&subjectid=7003677. A lot of them have geo coordinates – at least the one I looked into. On the [TGN about page](http://www.getty.edu/research/tools/vocabularies/tg

[2015-06-05 10:19] acka47 commented on #83
@dr0i Please ignore my coment above and this one I just wanted to document this somewhere. It looks like the wikidata geo coordinates might probably be better than TGN.
- Example Burgoldinghausen:
[wikidata](https://www.openstreetmap.org/?mlat=51.0158&mlon=7.98056&zoom=11#map=15/51.0148/7.9803) vs. [TGN](https://www.openstreetmap.org/?mlat=51.0167&mlon=7.9833&zoom=11#map=17/51.01580/7.98060)
- Exa

[2015-06-05 14:20] dr0i commented on #109
Deployed to staging, please test.

[2015-06-08 08:26] acka47 commented on #109
+1 (I just now realized that we only have the redundancy for `dct:creator` and `dct:contributor` but not for specific roles (e.g singer, see http://lobid.org/resource/HT016568152/about). To remove this inconsistency, I now did make a ticket to remove reduntant entries on data level https://github.com/hbz/lobid/issues/158. I am sorry I haven't seen this before and you have to do double work. :grima

[2015-06-08 09:54] dr0i commented on #109
deployed to production, closing

[2015-06-08 09:54] #109 closed

[2015-06-17 09:53] acka47 commented on #99
I created a first draft at https://wiki1.hbz-nrw.de/x/JwDDB.

[2015-06-17 14:11] dr0i commented on #108
See also my comment at https://github.com/hbz/lobid/issues/107#issuecomment-112816550.

[2015-06-17 15:01] dr0i commented on #102
Resolving hbz/lobid#107 we can work on this further.
Regenerated the beacon. Have a look.
Interestingly the file starts with an empty ID which the ocurence of `2`. I investigated this and found the cause in the catalog, see e.g. http://lobid.org/resource/HT017587220.

[2015-06-17 15:01] dr0i commented on #106
Resolving hbz/lobid#107 we can work on this further.
Regenerated the beacon. Have a look.

[2015-06-18 07:28] acka47 commented on #102
Same problem here as in https://github.com/hbz/lobid/issues/163. E.g. http://lobid.org/nwbib/search?person=100120318 which -- according to the BEACON file -- is expected to deliver 2 results gives 2248 results.

Also, search with hyphenated GND IDs doesn't work.

I will review this more thorougly as soon as #107 and  https://github.com/hbz/lobid/issues/163 are resolved.

[2015-06-18 07:29] acka47 commented on #102
If you tell me the other resource that is incorrectly catalogued or even provide me with your method to find the one with missing GND IDs I will write to the NWBib editors to fix it in the source.

[2015-06-18 07:41] acka47 commented on #106
This one looks good. +1 with onr limitation: The result numbers in the BEACON file and in the actual result differ a bit for some result lists. This isn't a big problem I think as it is ok when the numbers only give an approximation. Thus, just correct it if there is an easy fix.

Examples:
- http://lobid.org/nwbib/search?subject=10073784-5 gives 170 results though the BEACON says 167.
- http://lo

[2015-06-18 07:43] dr0i commented on #102
Re: finding missing GND IDs: it's all about context:

Grep the contributors and pipe that into sed like in https://github.com/lobid/lodmill/blob/master/lodmill-rd/doc/scripts/hbz01/stats/stats.sh (don't (!) sort it etc.).
This will get you a list of ids. Now open `vi` and find the empty lines ( pattern '^$'). Now you copy the resources directly before or after that empty line. Open the `NWBib_all.

[2015-06-18 07:47] dr0i commented on #106
Interesting! This gives us a way to validate if the API is ok and the scripts are wrong or vice versa. Will investigate this.

[2015-06-18 11:52] dr0i commented on #107
Deployed to staging.

[2015-06-18 12:25] acka47 commented on #107
+1

[2015-06-18 12:40] dr0i commented on #107
Deployed to production, closing.

[2015-06-18 12:40] #107 closed

[2015-06-18 13:21] dr0i commented on #102
So , go on :)

[2015-06-19 07:13] dr0i commented on #106
Ah! The scripts worked on an old, wrong NWBib dump, where some records were multiple times in it. Will make a whole new dump and run the scripts again.

[2015-06-19 09:48] dr0i commented on #90
Deployed to staging. Looks great! E.g. http://test.lobid.org/nwbib/HT018138615.

[2015-06-19 10:45] acka47 opened #113 "Prefer MultiVolumeBook icon to Book icon"
See this result list: http://lobid.org/nwbib/search?q=*&t=http%3A%2F%2Fpurl.org%2Fontology%2Fbibo%2FMultiVolumeBook

Although, all results are f type `MultiVolumeBook` the respective icon is only shown on some of them. Mostly the `Book` icon is shown.

(The way to tackle this might be similar to this closed issue: #61.)

[2015-06-19 11:02] acka47 commented on #90
+1 Works like a charm. :v:

[2015-06-19 11:17] acka47 commented on #106
Let me know as soon as you have done so and I will do another review.

[2015-06-19 11:22] acka47 commented on #102
Similar to https://github.com/hbz/nwbib/issues/106#issuecomment-113063614, this looks good but mostly doesn't give the exact number of result that one will get. Examples:

- http://lobid.org/nwbib/search?person=100057160: BEACON 10, query 6
http://lobid.org/nwbib/search?sort=newest&person=10007031-0: BEACON 33, query 35

[2015-06-19 19:33] dr0i commented on #90
Good staff work there at hbz :)
Deployed to production, closing.

[2015-06-19 19:33] #90 closed

[2015-06-22 11:22] acka47 commented on #90
This is not exactly as customers have asked for, though. They would like to have another wording for multivolume works instead of "Enthaltene Beiträge anzeigen" it should read "Enthaltene Bänder anzeigen".

[2015-06-24 14:00] acka47 commented on #44
It now works for the last example: http://lobid.org/resource/HT016286379/about . [Source](http://lobid.org/resource?id=HT016286379&format=source) snippet:

[code]

The others still don't have the link. From the source files.

http://lobid.org/resource?id=HT017705285&format=source:
[code]

http://lobid.org/resource?id=HT017699222&format=source:
[code]

[2015-06-24 14:02] acka47 commented on #44
As the ID of the superordinated resource is missing (field `599`) we won't be able to automatically add the link. Closing.

[2015-06-24 14:02] #44 closed

[2015-07-03 09:56] dr0i commented on #89
Deployed to staging. (Can't say that it works, though).

[2015-07-03 10:18] acka47 commented on #89
It works, see http://test.lobid.org/nwbib/HT003873178 or http://test.lobid.org/nwbib/HT004489607 compared to http://lobid.org/nwbib/HT003873178 and http://lobid.org/nwbib/HT004489607.

The problem with the test resource provided in the issue description – http://test.lobid.org/nwbib/HT018295975 – is that it isn't typed as `EditedVolume` although the [source](http://test.lobid.org/resource?id=HT018

[2015-07-03 10:23] acka47 opened #115 "Show readable label for lV:EditedVolume instead of URI"
Currently, the URI is shown under "Publikationstyp", see resources from http://lobid.org/nwbib/search?q=*&t=http%3A%2F%2Fpurl.org%2Flobid%2Flv%23EditedVolume.

At least, we should have a better readable label for this and – in a second step – also an icon.

[2015-07-03 11:20] dr0i commented on #89
Deployed to production. Closing.

[2015-07-03 11:22] #89 closed

[2015-07-03 11:31] dr0i commented on #115
Deployed to staging. Looks nice :+1:

[2015-07-03 11:39] acka47 commented on #115
I also added the [package octicon](https://octicons.github.com/icon/package/) for this. It seemed the best choice from what is available. We will have to rework the icon set anyhow..

However, looks good. +1 Can be deployed to production.

[2015-07-03 11:55] dr0i commented on #115
Deployed to production, closing.

[2015-07-03 11:55] #115 closed

[2015-07-09 14:53] acka47 opened #117 "Person search doesn't work"
See e.g. http://lobid.org/nwbib/search?sort=newest&person=adenauer%20konrad.
We would expect around 50 hits.

[2015-07-09 14:57] acka47 opened #118 "Type all resources with 90* "Aufsatzsammlung" as lv:EditedVolume"
See e.g. http://lobid.org/resource/HT018295975 where the [source](http://lobid.org/resource?id=HT018295975&format=source) says:

[code]

Obviously, https://github.com/lobid/lodmill/issues/271 didn't work for all cases.

[2015-07-09 15:05] acka47 commented on #118
Other example is http://lobid.org/resource/HT014965738.

[2015-07-10 12:50] dr0i commented on #117
Deployed to staging.

[2015-07-10 13:15] dr0i commented on #117
Redeployed. Now test URL reveals 61 hits.

[2015-07-10 14:47] acka47 commented on #117
Strange that there are six more results than before this bug. Will investigate this next week (or we will get some customer feedback on this, anyway=. Please deploy to production anyway.

[2015-07-13 08:34] dr0i commented on #117
Deployed to production.

[2015-07-13 12:10] #117 closed

[2015-07-13 12:23] acka47 commented on #110
We might have to add a new API parameter for this "all fields" search that doesn't search all fields...

[2015-07-16 09:55] acka47 opened #119 "Some resources won't be shown within NWBib"
Examples:
http://lobid.org/nwbib/HT017529028
http://lobid.org/nwbib/HT017529054

They can be found and listed in a result list, eg.g. http://lobid.org/nwbib/search?set=HT012848847 but when you click on them it reads "Es ist ein Fehler aufgetreten. Bitte versuchen Sie es erneut oder kontaktieren Sie das Entwicklerteam, falls das Problem fortbesteht".

[2015-07-16 13:13] dr0i commented on #119
The API breaks because of an exception. The cause is an item without a proper ISIL ( see http://lobid.org/item/HT017529028::DI%20ESGA%2018.1), while this ISIL is taken for granted for some sorting in scala template at `app/views/tags/items_map.scala.html`.
So this exception must be catched somehow (difficult for me to do in scala, but will have a look).
Another, maybe better solution would be to f

[2015-07-16 13:17] dr0i commented on #119
This is the data which makes it hard to guess what item data is to be taken care of:

          <datafield tag="088" ind1=" " ind2=" ">
            <subfield code="b">MAG</subfield>
            <subfield code="c">DI ESGA 18.1</subfield>
            <subfield code="e">48</subfield>
          </datafield>
          <datafield tag="088" ind1=" " ind2=" ">
            <subfield code="a">1032</subfield

[2015-07-16 15:58] dr0i commented on #92
@fsteeg If I am not misleaded @acka47 said a `book` can also be an ebook, thus a resource typed as `book` doesn't implicit to be printed.
Anyway, @acka47 are you sure that anything we typed as `lv:fulltextOnline` is indead free to be viewed by everyone so that removing the `exemplar` property with the owning isil is fine? Otherwise, the ownership indicates from which IP you can view the resource.

[2015-07-17 09:57] dr0i commented on #119
Did that. Please have a look @acka47 .

[2015-07-17 09:57] acka47 commented on #119
+1

[2015-07-17 14:10] dr0i opened #120 "When only literals exists and no GND id, a search should use that literal"
E.g. clicking on "Wimmer, Jeffrey, 1972-" at http://lobid.org/nwbib/HT017587220 a GND search is triggered with only the base URL of the GND , because the actual ID is not in the data. If the latter is the case, a simple literal search would be much better.

[2015-07-17 14:10] dr0i commented on #120
@acka47 please qualify and priorize if this is actually an issue.

[2015-07-17 14:14] acka47 commented on #120
@dr0i #105 is related and should be solved before we discuss special features like you suggest.

[2015-07-17 14:17] acka47 commented on #120
(Actually, I don't think that customers want this feature.)

[2015-07-20 08:16] dr0i commented on #119
Deployed to production, closing.

[2015-07-20 08:16] #119 closed

[2015-07-22 15:13] dr0i commented on #106
The wrong NWBib dump was a result of the old way to load the data (using deep pagination). With hbz/lobid#176 the dumps are coherent (=> no more doublets). Now getting this dump and work on it.

[2015-07-22 17:11] dr0i commented on #106
@acka47 please have a look again.

[2015-07-23 08:57] dr0i commented on #102
This result is caused by resources having a person as e.g. contributor AND creator thus counting double. After discussing with @acka47 we should adjust the data to decide which one to use. `dct:contributor` should only be used if not already `dct:creator` was chosen before. `dct:contributor` would be chosen at last.

[2015-07-23 09:03] acka47 commented on #106
+1

[2015-07-23 09:24] dr0i commented on #102
After further discussion and musing: we will have resources where the same person will have more than one role anyway. So we leave the data as it is.

[2015-07-23 09:26] #106 closed

[2015-07-23 09:42] dr0i commented on #120
Closing, as it is not necessary to be solved.

[2015-07-23 09:42] #120 closed

[2015-07-23 12:06] acka47 commented on #102
+1. Added this BEACON file and the subject BEACON ( #106) to the Wikipedia BEACON list, see https://de.wikipedia.org/w/index.php?title=Wikipedia%3ABEACON&type=revision&diff=144300548&oldid=143700048. Contacted APPER to add NWBib to the Wikipedia-Personensuche, see. https://de.wikipedia.org/w/index.php?title=Benutzer_Diskussion%3AAPPER&type=revision&diff=144300753&oldid=144252720. Closing.

[2015-07-23 12:06] #102 closed

[2015-07-23 13:04] dr0i commented on #104
Deployed test to staging.

[2015-07-23 13:15] acka47 commented on #104
+1

[2015-07-23 15:03] dr0i commented on #118
Deployed test to staging.

[2015-07-27 08:55] dr0i commented on #118
No, it's not (or "no more").

[2015-07-27 08:56] dr0i commented on #118
Deployed to production, closing.

[2015-07-27 08:56] #118 closed

[2015-07-27 11:38] fsteeg commented on #95
Duplicate of #26, but that is closed, so will work here.

[2015-07-27 14:04] dr0i commented on #104
Deployed to production, closing.

[2015-07-27 14:04] #104 closed

[2015-07-27 14:09] fsteeg commented on #95
Deployed to staging: http://test.lobid.org/nwbib/search?q=ehrenfeld

[2015-07-27 14:17] dr0i commented on #95
+1

[2015-07-27 15:30] fsteeg commented on #94
Deployed to staging: http://test.lobid.org/nwbib/search?q=ehrenfeld

[2015-07-28 11:45] dr0i commented on #108
Doubled assignation of RAM via `/etc/monit/conf.d/play-instances.rc` . Stable for more than month now, closing.

[2015-07-28 11:45] #108 closed

[2015-07-28 15:25] fsteeg commented on #101
Deployed to staging: http://test.lobid.org/nwbib

[2015-07-29 07:45] fsteeg commented on #76
Deployed to staging, with "Zum Bestand siehe:" and the superordination title in one row, using "Bestandsangaben" as the caption if the resource has no items itself, and "Ergänzende Bestandsangaben" if it does. See:

http://test.lobid.org/nwbib/HT018689626
http://test.lobid.org/nwbib/HT018286356

[2015-07-29 12:27] fsteeg commented on #110
Deployed to staging, see:

http://test.lobid.org/nwbib/search?q=Melanargia
http://test.lobid.org/nwbib/search?word=Melanargia

[2015-07-30 15:47] fsteeg commented on #105
Deployed to staging, see your samples from above:

http://test.lobid.org/nwbib/HT018112985
http://test.lobid.org/nwbib/HT016531289
http://test.lobid.org/nwbib/HT014318568

The search `param` to use is configured in the document template, see:

https://github.com/hbz/nwbib/blob/master/app/views/tags/result_doc.scala.html#L42

[2015-08-03 08:59] acka47 commented on #105
+1

[2015-08-03 09:15] acka47 commented on #110
Looks good but unfortunately an example provided by a customer doesn't work as expected. From a mail from 2015-07-09:

If I do the [`word` search for "Alfred Flechtheim Andrea Bambi"](http://test.lobid.org/nwbib/search?sort=newest&word=Alfred+Flechtheim+Andrea+Bambi) I get zero results. In the old NWBib I get one result...

[2015-08-03 09:21] acka47 commented on #101
+1. I didn't check for each district whether the colouring is correct, though. :-)

[2015-08-03 09:30] acka47 commented on #94
Using the framed boxes adds another nav element typeto the page. I suggest just using links as for #95 and as we have for ranking type on production.

[2015-08-03 09:37] acka47 commented on #95
+1

[2015-08-03 10:44] fsteeg commented on #94
Redeployed to staging with nav pills as suggested: http://test.lobid.org/nwbib/search?q=ehrenfeld

[2015-08-03 11:05] fsteeg commented on #110
Redeployed with CROSS_FIELDS query to staging. Your test case:

http://test.lobid.org/nwbib/search?sort=newest&word=Alfred+Flechtheim+Andrea+Bambi

[2015-08-03 11:09] acka47 commented on #110
+1

[2015-08-03 14:04] acka47 commented on #94
+1

[2015-08-03 14:12] acka47 commented on #76
We should always write "Bestandsangaben" and never "Ergänzende Bestandsangaben". As the example shows this holding information is the result of incorrect cataloging, just take a look at the "call number" (Signatur).

[2015-08-03 14:12] acka47 commented on #76
We should always write "Bestandsangaben" and never "Ergänzende Bestandsangaben". As the example shows this holding information is the result of incorrect cataloging, just take a look at the "call number" (Signatur).

[2015-08-03 14:53] fsteeg commented on #76
Deployed fix to staging, see:

http://test.lobid.org/nwbib/HT018689626
http://test.lobid.org/nwbib/HT018286356

[2015-08-04 09:43] fsteeg commented on #54
Deployed to staging, see: http://test.lobid.org/nwbib/search?corporation=hbz

[2015-08-04 09:59] fsteeg commented on #47
I'm not sure what needs to be done here. Is this about UI? Because right now all of this works:

`karneval AND köln`
`karneval OR köln`
`karneval AND NOT köln`

lobid.org/nwbib/search?q=karneval+AND+NOT+köln

[2015-08-04 11:11] acka47 commented on #76
+1

[2015-08-04 11:13] fsteeg commented on #47
Reassigning, as discussed offline, to clarify requirements by stakeholders.

[2015-08-04 11:16] acka47 commented on #54
+1

[2015-08-04 11:41] #105 closed

[2015-08-04 11:41] #95 closed

[2015-08-04 11:41] #101 closed

[2015-08-04 11:41] #94 closed

[2015-08-04 11:41] #76 closed

[2015-08-04 11:41] #54 closed

[2015-08-05 09:50] fsteeg opened #121 "Use http://beta.lobid.org/organisations for item details"
To push our API 2.0 efforts, we should dogfood our new organisations API in NWBib.

[2015-08-05 09:52] fsteeg opened #122 "Use http://beta.lobid.org/hbz01 for hidden source links"
To push our API 2.0 efforts, we should dogfood our new source data API in NWBib.

[2015-08-05 09:58] fsteeg commented on #97
Not sure I understand. Do you mean combining multiple values of the same facet type? E.g. to get documents that contain both subject A and subject B?

[2015-08-05 10:28] fsteeg commented on #110
Not implemented for standard/simple search. Reopening.

[2015-08-05 12:56] fsteeg commented on #110
Fix for standard/simple search with query string syntax support deployed to staging, see:

http://test.lobid.org/nwbib/search?q=Alfred+Flechtheim+Andrea+Bambi
http://test.lobid.org/nwbib/search?q=karneval+AND+NOT+köln

[2015-08-05 13:25] fsteeg commented on #72
Deployed to staging: http://test.lobid.org/nwbib/BT000084171

[2015-08-05 14:22] fsteeg commented on #86
Seems like my hunch from https://github.com/hbz/nwbib/issues/86#issuecomment-72362916 was correct: with higher precision the Mülheim query yields less results, and none with Osterfeld: [Mülheim an der Ruhr](http://test.lobid.org/nwbib/search?location=M%C3%BClheim%20an%20der%20Ruhr|51.46,6.92+51.45,6.92%2051.45,6.92%2051.45,6.95%2051.44,6.96%2051.43,6.96%2051.43,6.95%2051.42,6.95%2051.42,6.94%2051.

[2015-08-05 15:40] acka47 commented on #110
+1

[2015-08-05 15:53] fsteeg commented on #110
Will deploy after https://github.com/hbz/lobid/pull/207 is merged by @dr0i.

[2015-08-06 07:02] #110 closed

[2015-08-06 07:55] acka47 commented on #86
As said in https://github.com/hbz/nwbib/issues/86#issuecomment-71474011, I think @dr0i should first improve the wikidata mapping.

[2015-08-06 08:22] fsteeg commented on #86
Ah, I thought what you said in https://github.com/hbz/nwbib/issues/86#issuecomment-71474622 meant that this was not the problem. But regardless of other issues, I think the higher precision fixes the issue now and makes a lot of sense, since about 6 km is not precise enough for the smaller districts.

[2015-08-06 08:26] acka47 commented on #86
You are right. +1 from me.

[2015-08-06 08:30] acka47 commented on #97
I guess this is what I meant and haven't expressed clearly enough. I am not sure where this issue originated. We should leave this for now and maybe ask customers at some point whether they want this.

[2015-08-06 08:30] acka47 commented on #97
Moving to backlog.

[2015-08-06 09:09] acka47 commented on #92
After solving lobid/lodmill#700 we should remove the holding information from all online resources as customers requested. We will see whether this generates problems with some resources...

BTW, I just saw that there is another indicator in the data to identify online resources: There is the "Formschlagwort" "Online-Publikation" in field 902 resp. `v:subjectChain`.

[2015-08-06 09:21] fsteeg commented on #113
Here's a slightly different, more general suggestion to fix this: when the type facet is active, always use its icon in the result list. Deployed to staging, see: http://test.lobid.org/nwbib/search?q=*&t=http%3A%2F%2Fpurl.org%2Fontology%2Fbibo%2FMultiVolumeBook

[2015-08-06 09:23] acka47 commented on #113
I would like to always see the more specific icons in the result list, whether a type facet is active or not.

[2015-08-06 09:26] fsteeg commented on #92
So if I understand correctly this depends on https://github.com/lobid/lodmill/issues/700, therefore removing `ready` label.

[2015-08-06 09:30] fsteeg commented on #113
For that I'd need an ordering of specificity. Perhaps you could order the entries in `nwbib.conf`?

[2015-08-06 11:42] acka47 commented on #72
+1

[2015-08-06 14:31] #86 closed

[2015-08-06 14:31] #72 closed

[2015-08-10 11:42] acka47 commented on #113
As far as I know, I did this last week and submitted a pull request. Can't see where it went, though...

[2015-08-11 08:47] fsteeg commented on #113
@acka47 Hm, me neither - nothing at https://github.com/hbz/nwbib/pulls

[2015-08-11 11:20] acka47 commented on #113
There it is now: https://github.com/hbz/nwbib/pull/123. Assigning to you, @fsteeg .

[2015-08-12 07:28] fsteeg commented on #113
Deployed to staging, see:
http://test.lobid.org/nwbib/search?q=*&t=http%3A%2F%2Fpurl.org%2Fontology%2Fbibo%2FMultiVolumeBook

[2015-08-12 08:43] acka47 commented on #113
Looks good for now. +1

[2015-08-12 09:03] fsteeg commented on #113
Deployed to production:
http://lobid.org/nwbib/search?q=*&t=http%3A%2F%2Fpurl.org%2Fontology%2Fbibo%2FMultiVolumeBook

[2015-08-12 09:03] #113 closed

[2015-08-13 08:56] fsteeg commented on #122
Deployed to staging, see hidden link in:
http://test.lobid.org/nwbib/HT018604501

Which points to:
http://beta.lobid.org/hbz01/HT018604501

[2015-08-13 09:07] acka47 commented on #122
+1

[2015-08-13 09:37] fsteeg commented on #121
Deployed to staging, see e.g. http://test.lobid.org/nwbib/HT013313122

[2015-08-13 11:23] acka47 commented on #121
http://test.lobid.org/nwbib currently gives "Action not found For request 'GET /error/HTTP_SERVICE_UNAVAILABLE.html.var'".

[2015-08-14 07:15] fsteeg commented on #121
Restarted, now running again: http://test.lobid.org/nwbib

[2015-08-14 08:03] acka47 commented on #121
Looks good. +1

[2015-08-14 09:50] #121 closed

[2015-08-14 09:50] #122 closed

[2015-08-14 12:48] fsteeg commented on #96
Deployed simple implementation to staging: http://test.lobid.org/nwbib/search?q=ehrenfeld

No slider, no histogram (yet).

@acka47 should we deploy this as a first step or would you prefer to wait until we have a slider?

[2015-08-14 13:53] acka47 commented on #96
I prefer to wait for the slider, histogram is a nice bonus, though.

[2015-08-18 13:17] acka47 opened #124 "Associate numbering with multi-volume work/series link"
Based on https://github.com/lobid/lodmill/issues/497 (which is currently on staging only and latest on Thursday in production) we have to adjust the title view in NWBib.

Examples on test:

http://test.lobid.org/nwbib/BT000003404
http://test.lobid.org/nwbib/HT015440386 (This currently doesn't work, probably because of the changes.)

[2015-08-18 15:04] fsteeg commented on #96
Deployed slider and bar chart to staging, see: http://test.lobid.org/nwbib/search?q=nrw

[2015-08-19 07:38] fsteeg commented on #124
The error you mentioned is actually caused by lobid-organisations, I opened https://github.com/hbz/lobid-organisations/issues/66.

[2015-08-19 07:41] fsteeg opened #125 "Error for queries with `[`"
e.g. http://lobid.org/nwbib/search?q=[Köln

[2015-08-19 07:43] acka47 commented on #96
Looks good and also works good in Firefox. The slider doesn't work in chromium, though.

Also, I think it might make sense to show the number of results in brackets behind the year range when people are moving the slider. So they know how many results to expect with a specific filter. Is this possible?

[2015-08-19 10:06] fsteeg commented on #96
Deployed fix for the Chromium issue and preview of expected hits while sliding to staging.

To avoid HTTP requests while sliding, I've implemented the hits preview by summing the facets count for the time range. Since some resources have ranges in their `issued` field however, this is not always accurate (for an example, see requests `1` and `2`, which yield 4 and 5 results, giving 9 as the estima

[2015-08-19 10:21] acka47 commented on #96
I like it very much now. +1

[2015-08-19 11:48] fsteeg commented on #96
Deployed to production, closing. See http://lobid.org/nwbib/search?q=nrw

[2015-08-19 11:48] #96 closed

[2015-08-19 13:17] acka47 commented on #97
Now I know, see https://wiki1.hbz-nrw.de/x/FoDgAw, 4.2. Customers just repeated their wish to have this feature.

[2015-08-19 14:05] acka47 opened #126 "Differentiate presentation of various hasPart information"
- [ ] Show link at multi-volume work to list of volumes (properties `volumeIn`->`multiVolumeWork`) with "Bände – Zugehörige Bände anzeigen."
- [ ] Show links to list of articles contained in a resource (property `containedIn`) with "„Enthält“ – „Enthaltene Beiträge anzeigen“"

Customers requested this via mail to email list on 14./15. July.

Example for a resource that should contain both types of

[2015-08-19 14:14] acka47 commented on #126
Working on this, we should also take into account this customer feedback from today (2015-08-19):

[2015-08-19 14:18] fsteeg commented on #97
As mentioned on the phone earlier, I'd like to have some way to differentiate issues required for an official launch vs. further improvements. We could tag issues like this one `post-release` or similar, or the ones that need to be done to wrap up the beta as `beta` or similar.

[2015-08-19 14:18] acka47 opened #127 "Access-restricted ebooks as "fulltextOnline""
There are also links to ebooks that are only accessible from within certain IP ranges in the RDF (property `lv:fulltextOnline`). The NWBib UI should use appropriate wording so that people won't expect actually being able to access the fulltext.

From a customer mail from 2015-08-19:

[2015-08-19 14:24] acka47 commented on #97
In the end, customers decide which is which. I will soon schedule another meeting between us and the NWBib editors...

[2015-08-20 08:13] acka47 opened #128 "Show subject search term in search field"
Currently, the search term for a subject field is displayed in the subject facet (after the query was submitted). Customers want the term to be shown in the search field with search parameter "Schlagwort".

Thus, we will have to differentiate between `?subject=` searches with GND URIs (to be shown in the subject facet) and `?subject=` searches with strings (to be shown in the search field.

[2015-08-20 08:17] acka47 commented on #97
We will implement this pre-release. If we choose an AND query for value combination the list should update as soon as I have selected the first value to only show values that appear together with the first. It would be great to have the feature like this. If this doesn't work I would prefer an OR query.

[2015-08-20 08:18] acka47 opened #129 "Enable combination of multiple libraries in holdings filter"
The libraries should be combined with OR.

[2015-08-20 08:39] acka47 opened #130 "Enable paging detail views in search list and favorites"
Customers request a feature to page through the detailed title views of a certain query [UPDATE: and the favorites list]. Somehow we will need to retain information about the query a resource was called from. There are at least two approaches to this:

1. We may do this by using the HTTP referer (e.g. `Referer: http://lobid.org/nwbib/search?location=&q=b%C3%B6cke` for resource http://lobid.org/nwb

[2015-08-21 07:53] acka47 opened #131 "Wrong behaviour when clicking hyphenated"
When clicking on `Raumsystematik: Köln-Longerich` in http://lobid.org/nwbib/HT016911934 I get a list of results (http://lobid.org/nwbib/search?nwbibspatial=K%C3%B6ln-Longerich) including hits only for "Köln".

We will have to correct this as only hits for "Köln-Longerich" should be served. A phrase search currently isn't the solution: http://lobid.org/nwbib/search?nwbibspatial=%22K%C3%B6ln-Longeri

[2015-08-21 07:55] acka47 commented on #131
Another example ("Düsseldorf-Bilk"): http://lobid.org/nwbib/HT018572150 & http://lobid.org/nwbib/search?nwbibspatial=D%C3%BCsseldorf-Bilk

[2015-08-21 10:48] fsteeg commented on #125
Deployed to production, closing.

[2015-08-21 10:48] #125 closed

[2015-08-21 11:45] fsteeg commented on #131
Deployed to staging, see:

http://test.lobid.org/nwbib/search?nwbibspatial=K%C3%B6ln-Longerich
http://test.lobid.org/nwbib/search?nwbibspatial=D%C3%BCsseldorf-Bilk

[2015-08-21 12:18] acka47 commented on #131
+1

[2015-08-24 08:25] fsteeg commented on #131
Deployed to production, closing. See:

http://lobid.org/nwbib/search?nwbibspatial=K%C3%B6ln-Longerich
http://lobid.org/nwbib/search?nwbibspatial=D%C3%BCsseldorf-Bilk

[2015-08-24 08:25] #131 closed

[2015-08-24 08:58] fsteeg commented on #126
Is this really `ready`? The sample you linked to (http://lobid.org/resource/HT009821451?format=full) contains none of the fields from the issue description. Or am I not getting what this is about?

[2015-08-24 09:06] fsteeg commented on #127
Deployed to staging: http://test.lobid.org/nwbib/HT018523444

[2015-08-24 09:38] acka47 commented on #126
No, but the subordinated resource behind the link "Enthaltene Beiträge anzeigen" in http://lobid.org/nwbib/HT009821451 contain this information. See also the "sister ticket" #124  that deals with the presentation for subordinated resources.

[2015-08-24 09:40] acka47 commented on #127
+1

[2015-08-24 09:53] fsteeg commented on #128
Deployed to staging, see: http://test.lobid.org/nwbib/search?subject=Bauvorhaben

The URI idea didn't quite work out and is incompatible with out future plans for the subject labels, which probably won't be URI-based in the future, see https://github.com/hbz/lobid/issues/84 and related issues.

Instead, I've implemented it this way: effectively, if coming from the advanced search form, you get the

[2015-08-24 11:28] acka47 commented on #128
With the proposed solution the search term is also shown in the subject facet (here: "Bauvorhaben"). This  should not be the case. We should follow a strict separation here: Strings to the search field and authority resources to the facet. (Otherwise we would have to select all authority resources containing the search string in prefered or alternate name in the facet. (This would be in this case

[2015-08-24 11:56] fsteeg commented on #128
How should I handle literals on `nwbibspatial` queries then? e.g. http://lobid.org/nwbib/search?nwbibspatial=Overath. Here, like with literal subjects, the facet is active. There is currently no `nwbibspatial` advanced search.

[2015-08-24 12:30] fsteeg commented on #128
Added a `nwbibspatial` advanced search option as a suggested solution.

Deployed to staging, see:

http://test.lobid.org/nwbib/search?subject=Bauvorhaben
http://test.lobid.org/nwbib/search?nwbibspatial=Marsberg

[2015-08-24 13:43] fsteeg commented on #128
Redeployed after offline discussion, `nwbibspatial` literals in facet, as they are a controlled vocabulary:

http://test.lobid.org/nwbib/search?subject=Bauvorhaben
http://test.lobid.org/nwbib/search?nwbibspatial=Marsberg

[2015-08-24 14:28] fsteeg commented on #126
Ok, I'm starting to understand. But given a resource like http://lobid.org/nwbib/HT009821451, how can I decide which type of link(s) to show? The current `Enthaltene Beiträge anzeigen` link is inserted based on the resource type. But http://lobid.org/nwbib/HT009821451 is only `http://purl.org/ontology/bibo/Journal` - should all journals get both these links?

[2015-08-24 14:46] acka47 commented on #126
Is this necessary? If possible, I'd suggest checking for contained articles or volumes and show them when existing.

If this is too much of a hassle, we might select the types where it should be shown but there are a lot. I could find the following that have articles linked to them with `cointainedIn`:
- `Journal` (example article http://lobid.org/nwbib/HT018616958 contained in http://lobid.org/nw

[2015-08-24 14:56] acka47 commented on #126
`inSeries` -> `series` and `volumeIn`->`multiVolumeWork` are easier to handle than `containedIn`. You only have to look for subordinated resources pointing to a resource with these properties when the resource in question is a `Series` resp. a `MultiVolumeBook`.

[2015-08-25 07:31] fsteeg commented on #124
Deployed to staging, see:

http://test.lobid.org/nwbib/BT000003404
http://test.lobid.org/nwbib/HT015440386

[2015-08-25 08:51] acka47 commented on #124
For a start, this is ok: +1 (I liked the the one-line solution you showed me better but there was the link problem.) Let's see what the customers say.

[2015-08-25 08:54] acka47 commented on #124
As it probably has something to do with this issue: the link from articles to the resource they are contained in is now missing. See the results from http://test.lobid.org/nwbib/search?q=*&size=100&t=http%3A%2F%2Fpurl.org%2Fontology%2Fbibo%2FArticle.

[2015-08-25 09:31] fsteeg commented on #124
Deployed to staging, see: http://test.lobid.org/nwbib/HT018629431

No label if there's a `bibliographicCitation`, else `Enthalten in`.

[2015-08-25 09:46] acka47 commented on #124
+1

[2015-08-25 11:26] acka47 commented on #128
+1

[2015-08-26 08:22] dr0i commented on #126
New data with index profile set to `not_analyzed` deployed to staging.

[2015-08-26 09:01] fsteeg commented on #124
Deployed to production, closing. See:

http://lobid.org/nwbib/BT000003404
http://lobid.org/nwbib/HT015440386
http://lobid.org/nwbib/HT018629431

[2015-08-26 09:01] #124 closed

[2015-08-26 09:02] fsteeg commented on #128
Deployed to production, closing. See:

http://lobid.org/nwbib/search?subject=Bauvorhaben
http://lobid.org/nwbib/search?nwbibspatial=Marsberg

[2015-08-26 09:02] #128 closed

[2015-08-26 09:03] fsteeg commented on #127
Deployed to production, closing. See: http://lobid.org/nwbib/HT018523444

[2015-08-26 09:03] #127 closed

[2015-08-26 10:38] fsteeg commented on #126
Deployed to staging, see:

http://test.lobid.org/nwbib/HT009821451
http://test.lobid.org/nwbib/HT018486420
http://test.lobid.org/nwbib/HT014974933
http://test.lobid.org/nwbib/HT015131678
http://test.lobid.org/nwbib/HT017306644
http://test.lobid.org/nwbib/HT001387709

[2015-08-26 11:47] acka47 commented on #126
Here also a series example: http://test.lobid.org/nwbib/HT018346684

[2015-08-26 11:48] acka47 commented on #126
Lookes very good! +1

[2015-08-26 12:42] fsteeg commented on #126
The subordination restriction was not considered in the facets.

Deployed a fix to staging, see query linked from http://test.lobid.org/nwbib/HT018346684

But there's still an issue: if we come from such a link, and set facets, there is no hint in the UI about the superordination query. We used to have the `Überordnung` advanced search for that. Should that basically be replaced by the three new f

[2015-08-27 09:05] fsteeg commented on #126
Deployed a suggested solution for the issue described in https://github.com/hbz/nwbib/issues/126#issuecomment-134991235 to staging: add an advanced search option to display the current subordination restriction. The displayed string is the full Elasticsearch field query, so I named the new option `Expertensuche`. See e.g. query linked from http://test.lobid.org/nwbib/HT018346684.

[2015-08-27 09:34] acka47 commented on #126
I am not sure whether this solution is the way to go. I suggest for the start not to show the query at all, maybe it isn't that important for customers to have the info in this case.
If they want it, we may also try a solution based on HTTP header as imagined for https://github.com/hbz/nwbib/issues/130#issue-102091367...

[2015-08-27 11:30] fsteeg commented on #126
But consider a usage workflow like this: on http://test.lobid.org/nwbib/HT009821451 click on `91 Beiträge`, then use the `Regionen und Orte` facet to select `Rheinland`. We have 2 hits. Without the new advanced search option, the UI only indicates that facet, it looks exactly [like this](http://test.lobid.org/nwbib/search?nwbibspatial=http%3A%2F%2Fpurl.org%2Flobid%2Fnwbib-spatial%23n03), but with

[2015-08-27 11:36] acka47 commented on #126
Now I really understand the problem. Let's talk tomorrow. I will call you.

[2015-08-28 08:42] fsteeg commented on #126
We decided offline that we should try to add a notice about the restriction to the area showing the number of results, using the superordination title, instead of the new advanced search option.

[2015-08-28 09:45] fsteeg commented on #126
Deployed to staging, see links from:

http://test.lobid.org/nwbib/HT009821451
http://test.lobid.org/nwbib/HT018486420

[2015-08-28 10:24] acka47 commented on #126
I think this is a good solution. I'd chang eone thing, though, and put the number of hits before the "Titel"/"Beiträge". E.g.: "91 Beiträge in: Altenberger Blätter, zeige 1 bis 10". This would make it even shorter.

[2015-08-28 11:10] fsteeg commented on #126
Deployed tweaked label to staging, see links from:

http://test.lobid.org/nwbib/HT009821451
http://test.lobid.org/nwbib/HT018486420

[2015-08-28 11:12] acka47 commented on #126
+1 Let's keep it like that for now and ask customers what they think about it.

[2015-08-28 11:25] fsteeg commented on #126
Deployed to production, closing. See links from:

http://lobid.org/nwbib/HT009821451
http://lobid.org/nwbib/HT018486420

[2015-08-28 11:25] #126 closed

[2015-08-31 14:10] acka47 opened #132 "Add thesis information"
Since https://github.com/hbz/lobid/issues/178 we have a new field with `thesisInformation` in the data for most resources of type `bibo:Thesis`. Example http://lobid.org/nwbib/HT018645839:

[code]

We should add this field to the NWBib HTML view, I suggest right after publisher/Verlag.

[2015-09-01 08:13] acka47 commented on #132
Many thesises (~ one quarter of all thesises) don't have this field.

Other examples with this field:

- http://lobid.org/resource/HT016713698: "Zugl., Münster (Westf.), Univ., Diss., 2008/09 u.d.T.: Harding, Elizabeth: Landsässige Ritterschaften im Nordwesten des Alten Reiches"
- http://lobid.org/resource/HT003428601: "Dortmund, Univ., Diss., 1988"
- http://lobid.org/resource/HT010735207 "Bonn, U

[2015-09-01 08:15] fsteeg commented on #132
Deployed to staging, see:

http://test.lobid.org/nwbib/HT003428601
http://test.lobid.org/nwbib/HT018645839

[2015-09-01 08:20] acka47 commented on #132
+1 I think this is ok for the start and may even work as a permanent solution.

[2015-09-01 08:29] fsteeg commented on #132
Deployed to production, closing. See:

http://lobid.org/nwbib/HT003428601
http://lobid.org/nwbib/HT018645839

[2015-09-01 08:29] #132 closed

[2015-09-01 13:01] dr0i opened #133 "Redundant dct:contributor and dtc:creator no longer possible - clean code"
It is rumoured that in the API there is a workaround to handle the now resolve issue of https://github.com/hbz/lobid/issues/158. So, if you like, you may clean the code.

[2015-09-01 14:10] fsteeg commented on #133
Thanks for the reminder. I tried removing the workaround, but there still seem to be redundant creators/contributors in the data, see http://lobid.org/resource/HT016161271?format=full (3 creators, 4 contributors, 3 of them the 3 creators). Should we reopen https://github.com/hbz/lobid/issues/158?

[2015-09-02 14:33] dr0i commented on #133
Deployed small test  to staging, test eg.  http://test.lobid.org/resource/HT016161271?format=full

[2015-09-02 15:10] fsteeg commented on #133
Looks good in the sample and works in NWBib without workaround, see:
http://test.lobid.org/nwbib/HT016161271

[2015-09-03 09:22] acka47 opened #134 "Adjust some labeling"
As requested by customers via mail today.

- [x] For series and journals that have other resources as parts show the link as "Bände - x zugehörige Bände". Examples: http://lobid.org/nwbib/HT015563767 & http://lobid.org/nwbib/HT009821451
- [x] For articles, add an "In" as label for the link to the superordinated resource (After the "Quelle" field). Examples: http://lobid.org/nwbib/HT017574738 & htt

[2015-09-03 13:14] fsteeg commented on #97
Deployed to staging, see: http://test.lobid.org/nwbib

[2015-09-03 13:14] fsteeg commented on #129
Deployed to staging, see: http://test.lobid.org/nwbib

[2015-09-03 13:27] fsteeg commented on #134
Deployed to staging, see:

http://test.lobid.org/nwbib/HT015563767
http://test.lobid.org/nwbib/HT009821451

http://test.lobid.org/nwbib/HT017574738
http://test.lobid.org/nwbib/HT018730167

[2015-09-04 07:18] fsteeg commented on #97
Redeployed with 1 change:

Switch to relevance ranking on multi subject selection (as discussed offline).

See: http://test.lobid.org/nwbib

[2015-09-04 07:44] fsteeg commented on #97
Redeployed with 1 change:

Add `onclick` handler to checkbox to fix Chromium issue (reported offline by @acka47).

See: http://test.lobid.org/nwbib

[2015-09-04 08:03] acka47 commented on #97
Some issues with this:

- Facetting doesn't work when I directly click on a box (not on the term itself) in Chromium although the ox i checked afterwards.
- I don't think, the relevance ranking works good. When I search

There are several issues with GND subjects:
- GND subjects are taking way too long to load for bigger result lists (e.g. [search for "Kunst"](http://lobid.org/nwbib/search?locatio

[2015-09-04 08:10] acka47 commented on #97
The relevance ranking works as expected. (Please ignore the half-written comment from the first version of my review comment which was sent by mail.)

[2015-09-04 09:05] acka47 opened #135 "Don't show holdings information for online resources with fulltext link"
Reported by customers on 2015-09-03:

[2015-09-04 10:17] fsteeg commented on #97
I was not able to consistently reproduce the caching issue. Your `Kunst` -> `Sammlung` sample worked fine for me. Sporadically I did get the issue though. I've refactored the facet processing to avoid redundant label and icon calls and to cache the full labelled list (before, only the actual facet request and the individual label requests were cached). With this, I did not encounter long loading f

[2015-09-04 10:38] acka47 commented on #134
Looks good. Check. Before closing this I have another one:

- [ ] Use "Von" statt "In" for volume descriptions. E.g. http://test.lobid.org/nwbib/HT017898225 & http://test.lobid.org/nwbib/HT017671721 (as requested by customers.

From the mail:

[2015-09-04 10:51] fsteeg commented on #134
Deployed to staging, see:

http://test.lobid.org/nwbib/HT017898225
http://test.lobid.org/nwbib/HT017671721

[2015-09-04 11:12] acka47 commented on #134
+1

[2015-09-04 11:44] acka47 opened #136 "Some partOf's not shown/found for a series"
Short version:

- Click on "In	Schriften des NS-Dokumentationszentrums der Stadt Köln" in http://lobid.org/nwbib/HT007499897 ("Die Macht der Worte")
- You are now in the superordinated resource http://lobid.org/nwbib/HT006514951. Then click on "Enthält	17 Titel" and expand list to 25 results view
- Search for "Die Macht der Worte" and you won't find it although the system "knows" that htis one is

[2015-09-04 12:01] acka47 commented on #129
Here, everything is too slow for me. The loading and reloading of the facet as well the loading of the result list when I select a facet.

Also I think it would make sense to somehow group the libs under the location label so that I can select als libraries in Bochum by cklicking on "Bochum".

[2015-09-04 12:16] acka47 commented on #97
Works better now. +1 for the add-on.

We still have something to work on regarding the GND facet. I must say that I am not happy with the overall experience especially when there is a very long GND subject list. Sorting the GND subjects by occurence (with the most appearing subjects on top) as most other systems do it would probably make this more user-friendly. Regarding NWBib classifications, th

[2015-09-04 13:33] fsteeg commented on #135
Duplicate of #92 (if I understand correctly), closing.

[2015-09-04 13:33] #135 closed

[2015-09-04 13:33] fsteeg commented on #92
https://github.com/lobid/lodmill/issues/700 is closed, adding `ready` label.

[2015-09-07 07:26] fsteeg commented on #97
Deployed to production, closing. See: http://lobid.org/nwbib

[2015-09-07 07:26] #97 closed

[2015-09-07 07:27] fsteeg commented on #134
Deployed to production, closing. See:

http://lobid.org/nwbib/HT017898225
http://lobid.org/nwbib/HT017671721

[2015-09-07 07:27] #134 closed

[2015-09-07 12:18] fsteeg commented on #92
Deployed to staging, see:

- http://test.lobid.org/nwbib/HT018544173
- http://test.lobid.org/nwbib/HT018541136
- http://test.lobid.org/nwbib/ZDB2830721-5

[2015-09-07 12:36] acka47 opened #137 "Group libraries from one location in holding facet"
See https://github.com/hbz/nwbib/issues/129#issuecomment-137717405

[2015-09-07 12:36] acka47 commented on #129
Closing this one. Made another ticket for grouping libraries in one location, see #137.

[2015-09-07 12:36] #129 closed

[2015-09-07 12:54] acka47 commented on #92
+1

[2015-09-07 14:36] fsteeg commented on #136
Fix: Don't restrict subordination queries to NWBib set:

- Not all subordinations are marked as NWBib members, so the set restrictions resulted in missing results
- Also rename `series` label since we now have resources with all three types of subordination, which resulted in identical labels

Deployed to staging, see:

http://test.lobid.org/nwbib/HT006514951
http://test.lobid.org/nwbib/HT00138770

[2015-09-07 14:39] acka47 commented on #136
Wasn't this already the case before this change.

Anyway, +1.

[2015-09-07 14:52] fsteeg commented on #136
No, looks like the resources associated with `multiVolumeWork` and `series` are not `collectedBy` NWBib, see: http://lobid.org/nwbib/HT001387709 (vs. http://test.lobid.org/nwbib/HT001387709).

As agreed offline, we will wait with production deployment for stakeholder communication.

[2015-09-10 12:28] acka47 opened #138 "Link to super-ordinated resource missing"
See the examples http://lobid.org/nwbib/HT018290299, http://lobid.org/nwbib/HT017500124, http://lobid.org/nwbib/HT018483380. Two volume numbers are associated with only one link, the other link to a super-ordinated resource is not shown. We will have to adjust this so that the links to series and multi-volume work are displayed separately with the associated volume number.

[2015-09-10 12:30] acka47 commented on #136
+1 Please deploy to production so that we have a basis for discussion on the mailing list.

[2015-09-10 14:32] fsteeg commented on #138
Deployed to staging, see:

http://test.lobid.org/nwbib/HT018290299
http://test.lobid.org/nwbib/HT017500124
http://test.lobid.org/nwbib/HT018483380

Fixing this required a solution that pulls the superordination and numbering into a single row (see 40b1983c69aa19a90c5f655513242041a4871e5b for details), which was also requested by stakeholders (in NWBib mail UP, 2015-09-04).

[2015-09-11 10:47] fsteeg commented on #66
If my understanding from re-reading this issue is correct, the remaining work is a data issue with the automatic addition of "Kreis", so I'm assigning this to @dr0i and moving to `ready`.

[2015-09-11 10:50] fsteeg commented on #34
With our goal of focussed, independently deployable data and application modules (see http://hbz.github.io/) I think it's actually better to keep the classification route in nwbib (since it is about the NWBib classification), and consider it API of the nwbib module. Closing.

[2015-09-11 10:50] #34 closed

[2015-09-11 10:54] fsteeg opened #139 "Explore map based facet for coverage"
To facet over the `coverage` values, we want to experiment with a map for visualization and selection of regions.

[2015-09-11 11:09] fsteeg commented on #3
Our plans for map-based visualization and exploration of the data are now focussed on the `coverage` field (see #139). Closing.

[2015-09-11 11:09] #3 closed

[2015-09-11 11:09] fsteeg commented on #29
Our plans for map-based visualization and exploration of the data are now focussed on the `coverage` field (see #139). Closing.

[2015-09-11 11:11] fsteeg commented on #24
I'm not sure what this was about, and don't think it's well suited for our state/session-less approach. Closing.

[2015-09-11 11:11] #24 closed

[2015-09-11 11:16] fsteeg commented on #16
Was implemented in b34de9bd1a612d0d58856d92b0092abb0433fd0f, closing.

[2015-09-11 11:16] #16 closed

[2015-09-11 11:43] acka47 commented on #16
Actually, a link resolver is something different from what we have implemented. A link resolver not just checks against the holdings of one library via the OPAC but also checks – based on the OpenURL standard – whether the library provides any other access (through a repository, licensed eRessources etc.) to a resource.

From [Wikipedia](https://en.wikipedia.org/wiki/OpenURL):

Anyway, the first c

[2015-09-11 14:20] acka47 commented on #138
+1 I think the solution is good and I'm curious what stakeholders will think about it. Please deploy to production and I will write a mail to the list next week.

[2015-09-14 07:15] fsteeg commented on #92
Deployed to production, closing. See:

http://lobid.org/nwbib/HT018544173
http://lobid.org/nwbib/HT018541136
http://lobid.org/nwbib/ZDB2830721-5

[2015-09-14 07:15] #92 closed

[2015-09-14 07:16] fsteeg commented on #136
Deployed to production, closing. See:

http://lobid.org/nwbib/HT006514951
http://lobid.org/nwbib/HT001387709

[2015-09-14 07:17] #136 closed

[2015-09-14 07:18] fsteeg commented on #138
Deployed to production, closing. See:

http://lobid.org/nwbib/HT018290299
http://lobid.org/nwbib/HT017500124
http://lobid.org/nwbib/HT018483380

[2015-09-14 07:18] #138 closed

[2015-09-15 07:05] dr0i commented on #66
Deployed to staging.

[2015-09-15 07:12] dr0i commented on #66
(Interesting. Some samples shows indeed: now getting more data as before.)

[2015-09-15 07:47] acka47 commented on #66
+1

[2015-09-15 08:37] acka47 opened #140 "Quotation marks escaped in heading of volume list"
Go to http://lobid.org/nwbib/HT018576758 and click on "Enthält	3 Beiträge" and then look on the heading which includes ` &quot;`.

[2015-09-15 08:50] acka47 opened #141 "Empty links with erroneous titles in classification facets"
When I do a search for http://lobid.org/nwbib/search?location=&q=* and select the "Sachgebiet" or "Region" facet, the lists start with empty labels. Selecting one /e.g. http://lobid.org/nwbib/search?q=*&nwbibsubject=http%3A%2F%2Fpurl.org%2Flobid%2Fnwbib%23s246000) and clicking on the resulting [title](http://lobid.org/nwbib/HT018602524) I get an error.

[2015-09-15 09:20] fsteeg commented on #140
Fix deployed to staging, follow link from http://test.lobid.org/nwbib/HT018576758

[2015-09-15 09:28] acka47 commented on #140
+1

[2015-09-15 10:09] fsteeg commented on #141
I think the issue here are missing items in our classifications. The unlabelled IDs are not in the nwbib index (see http://quaoar2.hbz-nrw.de:9200/_plugin/head/). My guess is that this was always true, but until recently, these empty labels were filtered out in the facets, so we never noticed it.

As a first step, I've deployed a fix to staging to display the URIs in the facets and the details vie

[2015-09-15 11:44] acka47 commented on #141
+1 A solution for the missing notations in NWBib classifications will be worked on with https://github.com/lobid/vocabs/issues/30.

[2015-09-15 11:50] fsteeg commented on #141
Deployed to production, closing. See: http://lobid.org/nwbib/search?q=

[2015-09-15 11:50] #141 closed

[2015-09-15 11:51] fsteeg commented on #140
Deployed to production, closing. Follow link from http://lobid.org/nwbib/HT018576758

[2015-09-15 11:51] #140 closed

[2015-09-15 12:12] dr0i commented on #66
Deployed to production, closing.

[2015-09-15 12:12] #66 closed

[2015-09-21 11:29] acka47 opened #142 "Show creators & contributors without GND ID"
After https://github.com/hbz/lobid/issues/154, we now have person names without GND ID in fields `creatorName` and `contributorName`. These should also be shown in NWBib along the creators/contributors with GND ID.

Examples:

http://lobid.org/nwbib/HT018617137
http://lobid.org/nwbib/HT018700720 (which is not a NWBib resource but acts as a good example anywa)

[2015-09-22 10:10] fsteeg commented on #130
Deployed to staging, see pager at bottom of details view after a search, e.g.
http://test.lobid.org/nwbib/search?q=ehrenfeld

Some technical details:

Store hbz IDs and URL of the last result list in the session. Store previous and next hbz ID on access of details view in the session. Use all three to create previous and next pager links and
link to last result list at the bottom of the details vi

[2015-09-22 12:27] fsteeg commented on #130
Deployed UI changes based on our offline discussion to staging, see pager at top of details view after a search, e.g. http://test.lobid.org/nwbib/search?q=ehrenfeld

Leaving assignment as is (Merkliste, functional issues), but could you review the UI change @acka47?

[2015-09-22 12:45] acka47 commented on #130
I like it better now. Is it possible to only put the link under "letzten Trefferliste"?.

[2015-09-23 07:05] fsteeg commented on #130
Not with the current UI elements (only the link is rendered as that round button).

[2015-09-23 12:32] fsteeg commented on #130
Deployed support for favorites and fixes for caching issues to staging: http://test.lobid.org/nwbib

[2015-09-23 12:44] acka47 commented on #130
Looks good. Could you adjust the text in the middle to "Treffer 3 von 5 in der Merkliste" for favorites?

[2015-09-23 12:58] fsteeg commented on #130
Deployed label adjustment for favorites to staging: http://test.lobid.org/nwbib/stars

[2015-09-23 13:09] fsteeg commented on #142
1) Should we always show both?

2) Only `contributorName` and `creatorName`? What about `contributorLabel`? http://lobid.org/resource/HT018617137?format=full has only `contributorLabel`, no `contributorName`, http://lobid.org/resource/HT018700720?format=full has both `contributorName` (1 value) and `contributorLabel` (4 values).

[2015-09-23 13:28] acka47 commented on #130
+1

[2015-09-23 13:51] fsteeg commented on #142
Deployed to staging after @acka47 answered my questions offline (both: yes), see:

http://test.lobid.org/nwbib/HT018617137
http://test.lobid.org/nwbib/HT018700720

[2015-09-23 13:53] acka47 commented on #142
+1

[2015-09-23 14:01] fsteeg commented on #130
Deployed to production, closing. See:

http://lobid.org/nwbib/search?q=ehrenfeld
http://lobid.org/nwbib/stars

[2015-09-23 14:02] fsteeg commented on #142
Deployed to production, closing. See:

http://lobid.org/nwbib/HT018617137
http://lobid.org/nwbib/HT018700720

[2015-09-23 14:02] #142 closed

[2015-09-23 14:02] #130 closed

[2015-09-23 14:04] fsteeg opened #143 "Insecure connection with HTTPS due to non-HTTPS map tile server"
See: https://lobid.org/nwbib/HT018263803 vs. http://lobid.org/nwbib/HT018263803

[2015-09-23 14:32] acka47 commented on #99
The JSON-LD should be embedded in the HTML using `<script type="application/ld+json">` see https://developers.google.com/schemas/formats/json-ld?hl=de.

Assigning @fsteeg. You can start with a few properties like `title` `creator` and `publisher`. As soon as you have a working solution I can do the details adding the mapping for more properties.

[2015-09-23 14:45] fsteeg commented on #143
Deployed a fix to production, see: https://lobid.org/nwbib/HT018263803

The map is now shown, but we get an insecure connection warning due to mixed insecure content coming from the map tile server (see Javascript console on the page linked abovefor details).

Will rename the issue accordingly and leave it open.

[2015-09-24 08:36] fsteeg commented on #99
Deployed an initial setup to staging.

See source of http://test.lobid.org/nwbib/HT018263803 (search for `ld+json`).

The embedded markup is valid JSON-LD, see http://tinyurl.com/q7eaxd3.

You can add type classes and properties in the template file at:
https://github.com/hbz/nwbib/blob/master/app/views/tags/schema_org.scala.html

[2015-09-24 12:02] dr0i commented on #99
Is this functionality really nwbib specific or does it make sense to do this in lobid.org/api (and embed this in nwbib) ?

[2015-09-24 14:02] acka47 commented on #99
I think this isn't important for lobid as it isn't really indexed in Google anyway (see https://www.google.de/search?q=site%3Alobid.org%2Fresource) in contrast to lobid.org/nwbib.

Also, we currently don't serve any structured data at all in NWBib so it will be nice to at least serve some schema.org markup.

[2015-09-24 14:03] acka47 commented on #99
This will be ok for the start but we will get a much better result as soon as we have lobid API 2.0.

[2015-09-24 14:20] fsteeg commented on #99
Deployed to production, closing. See source of:

http://lobid.org/nwbib/HT018263803
http://lobid.org/nwbib/HT018720169

[2015-09-24 14:21] #99 closed

[2015-09-24 15:47] dr0i commented on #99
Yes, but what's with apps using lobid as an API - wouldn't it for them also of interest to enrich their websites with `schema.org`?

[2015-09-25 07:13] acka47 commented on #99
Let's discuss this after implementing API 2.0. For now, the schema.org markup isn't really useful anyway...

[2015-09-28 13:18] fsteeg commented on #139
Deployed to staging: http://test.lobid.org/nwbib/search?q=wandern

[2015-09-28 13:51] acka47 commented on #139
This already looks great! Generally, the UI can stay like this IMO. I would like to see two improvements:

- When choosing on an area, the search results should adjust accordingly to only show results about places in the chosen area. (This would mean that you don't need the "Titel mit Bezug zu diesem Ort filtern" popup in the end as chosing an area or place always results in this behaviour.)
- The

[2015-09-29 08:36] fsteeg commented on #139
Deployed to staging with two changes:

* Consider current query parameters in location links (actual filtering based on the location)
* Show number of results in pin hover, popup, and size (use small, medium, or large icon)

See: http://test.lobid.org/nwbib/search?q=wandern

Some thoughts about your suggestion of an area search and removing the popup:

* This would be a major change: the current i

[2015-09-29 09:15] acka47 commented on #139
As discussed on the phone, we had misunderstandings. My suggestion ist to leave the actual map navigation as is but adjust the result list with every click on an area by applying the polygon shown on the map as filter.

[2015-09-29 12:04] acka47 opened #145 "Adjust UI for paging single results"
As requested by customers (mail by E. Lakomy from 2015-09-28) the arrows for paging detailed result pages should be besides the middle button that says "Treffer x von y in der letzten Trefferliste".

[2015-09-29 12:07] acka47 opened #146 "Use boxes instead of drop downs for facets"
As discussed on the phone today we should try to
- use boxes instead of drop downs for the different facetting options
- Sort filters by number of hits they result in and only show the five first filters.
- Expand the result list to show 25 results by default.

[2015-09-29 12:32] fsteeg commented on #145
Deployed to staging: http://test.lobid.org/nwbib/search?q=ehrenfeld

[2015-09-29 12:46] acka47 commented on #145
+1

[2015-09-30 08:35] acka47 opened #148 "Label "inSeries" row as "Erschienen als""
As proposed by NWBib stakeholder (mail by U. Pflughaupt from 2015-09-29):

Z.Z. „In“, aus Münster kam der Vorschlag „Zu“, wie wäre es mit „Erschienen als“ ? (Für TA von Aufsätzen müsste natürlich „In“ bestehen bleiben), also
Erschienen als        Biographien und Materialien Band 2
Erschenen als         Schriften des …. Köln Band 19

[2015-09-30 08:41] acka47 opened #149 "Paging of detail views from result list doesn't work as expected"
Reported by NWBib stakeholder on 2015-09-29 (mail by U. Pflughaupt):

[2015-09-30 08:43] acka47 opened #150 "Remove holdings + map for journal articles"
Reported by NWBib stakeholders on 2015-09-29 (mail by U. Pflughaupt):

Bei alten TA zu Aufsätzen findet man bisweilen Bestandangaben von kleineren Spezialbibliotheken. Wäre es nicht sinnvoll, bei Aufsätzen Bestandsangaben mit Karte wegzulassen, wie bei Online-Ressourcen, damit die Nutzer nicht denken, dass dieser Aufsatz nur in Solingen im Stadtarchiv sei. Den Link zu den Bestandsangaben der Übero

[2015-09-30 11:37] fsteeg commented on #139
Deployed to staging with these changes:

* Support area search (directly searching on a cluster click doesn't work nicely, because a search requires a reload, and after a reload the map shows different content than the previous map, so instead a popup opens offering area search or zooming in. I think this makes all available navigation modes very accessible and self-explanatory).
* Add `Orte` to t

[2015-09-30 12:09] acka47 commented on #139
This is better. Klicking through bubbles is more time-consuming now as you always have to choose whether to zoom or to search. Using +/- or the mouse wheel to zoom and only ckicking on a bubble to search is a good way, though, to circumvent the popups when they are not necessary.

Generally, I am not that fond of the line with "Titel mit Bezug zu: " showing the geo filter. Personally, i often over

[2015-09-30 13:13] acka47 opened #151 "Subject search with comma gives to much results"
Reported via email list today by I. Niemann:

Bei der Eingabe in Form [Nachname, Vorname] wird der Personenname nicht als Zeichenkette gesucht.
Die Treffermenge in der neuen NWBib enthält auch Titel, in denen Personen mit gleichlautenden Vor- oder Namennamen in den Schlagwortfeldern vorkommen.
Außerdem gibt es unterschiedliche Trefferzahlen bei der Recherche mit Umlauten.

Examples:
- [subject sea

[2015-09-30 15:14] acka47 opened #153 "Adjust ISBN label"
NWBib stakeholders asked for labeling the ISBN field "ISBN" only not "ISBN-10".

[2015-10-01 08:04] fsteeg commented on #145
Will deploy after https://github.com/hbz/nwbib/pull/147 is merged (ping @dr0i).

[2015-10-01 08:40] fsteeg commented on #139
We don't have the scroll wheel zooming enable (also in the items map) because it makes it harder to scroll in the page (suddently zooms when entering the map area). With just the buttons and manual panning navigation is cumbersome. I actually like the explicit choice of search or zoom at every step. Perhaps this is a case where we could await user feedback?

As we discussed offline, the seemingly

[2015-10-01 08:48] acka47 opened #154 "Rename "ISBN-10" to "ISBN" in HTML view"
Based on stakeholder feedback (mail by E. Lakomy from 2015-09-30).

[2015-10-01 08:48] dr0i commented on #145
Merged.

[2015-10-01 09:26] acka47 commented on #154
Duplicate of #153. Closing.

[2015-10-01 09:26] #154 closed

[2015-10-01 10:00] fsteeg commented on #139
Deployed to staging with two changes:

* Show current `location` query parameter as polygon on map
* Highlight spatial label in same color as current map polygon

See http://test.lobid.org/nwbib

[2015-10-01 10:57] fsteeg commented on #139
Deployed one more minor change:

Change default page size from 10 to 15 results. With the new coverage map, this yields a more balanced view, see: http://test.lobid.org/nwbib/search?q=wandern

[2015-10-01 11:55] fsteeg commented on #151
Deployed to staging, see:

http://test.lobid.org/nwbib/search?subject=ney,+elisabet
http://test.lobid.org/nwbib/search?subject=elisabet+ney

[2015-10-01 12:21] acka47 commented on #151
+1

[2015-10-01 12:57] acka47 commented on #139
We are nearly there to present it to stakeholders. I see one last problem, though. Example:

- Clicking on [Kreis Mettmann](http://test.lobid.org/nwbib/search?location=Kreis%20Mettmann|51.31,7.17+51.31,7.14%2051.31,7.13%2051.30,7.12%2051.30,7.12%2051.30,7.11%2051.29,7.10%2051.28,7.10%2051.28,7.08%2051.26,7.06%2051.26,7.06%2051.26,7.04%2051.25,7.03%2051.25,7.02%2051.24,7.02%2051.24,7.02%2051.24,7.0

[2015-10-02 07:15] fsteeg commented on #151
Can be deployed after https://github.com/hbz/lobid/pull/246 is merged.

[2015-10-02 10:05] fsteeg commented on #139
Deployed to staging with two changes:

* Don't filter `coverage` facet options based on current value. This makes the `coverage` facet behave like our other facets: The facets show their currently selected value but don't filter their options based on their own value, but on other facets or query parameters, to enable switching values for that facet. The previous behaviour was responsible for the

[2015-10-02 10:33] fsteeg commented on #151
Deployed to production, closing. See:

http://lobid.org/nwbib/search?subject=ney,+elisabet
http://lobid.org/nwbib/search?subject=elisabet+ney

[2015-10-02 10:33] #151 closed

[2015-10-02 10:49] fsteeg commented on #148
Deployed to production, closing. See: http://lobid.org/nwbib/HT018290299

[2015-10-02 10:49] #148 closed

[2015-10-02 10:50] acka47 opened #156 "After filtering by location/polygon the map should reload showing the same map section"
Currently, after a a filter by map polygon, the result list is updated and the map reloaded to the uppermost zoom level. It would rather be nice to show the same map section with the same zoom level as it wasthe moment one had clicked the "Filter" button.

This is good for two reasons:
- It is more intuitive and people can go ahead zooming and filtering even further from the point they last set a

[2015-10-02 10:52] fsteeg commented on #145
Deployed to production, closing. See http://test.lobid.org/nwbib/search?q=ehrenfeld

[2015-10-02 10:52] #145 closed

[2015-10-02 10:53] acka47 opened #157 "Place facet map: Indicate the number of titles referencing a cluster of places"
Currently, you can only see how many places ill show up when zooming into a region. It would be nice to also somehow indicate how many bibliographic resources are associated with all of these places. This feature is currently only implemented for individual places.

[2015-10-02 10:53] fsteeg commented on #153
Deployed to production, closing. See: http://lobid.org/nwbib/HT018170913

[2015-10-02 10:53] #153 closed

[2015-10-02 11:17] acka47 opened #158 "Show links to descriptions"
We added links to descriptions in the RDF, see https://github.com/lobid/lodmill/issues/729. These should be shown in NWBib under the label "Inhaltsangabe" (probably before field "Inhaltsverzeichnis").

[2015-10-02 11:45] fsteeg commented on #158
Deployed to staging: http://test.lobid.org/nwbib/HT018705251

[2015-10-02 11:52] acka47 commented on #158
+1

[2015-10-02 11:59] acka47 opened #160 "Don't show paging options in UI for directly accessed titles"
If I have once used the detailed results paging mechanism(see #130 ), I will also get the paging buttons when I directly access a title via a link, e.g. http://lobid.org/nwbib/BT000096406. The buttons should only be show when clicking through to the details view via a result list.

[2015-10-02 12:13] fsteeg commented on #149
Fixed the 'hanging' issue, deployed to staging, see clicking through this result list:
http://test.lobid.org/nwbib/search?subject=karneval+k%C3%B6ln+&size=25

Won't implement crossing from first result list to the next, or separate lists for search and favorites (as mentioned in a mail), as this would significantly complicate a feature that already has a high cost, due to storing data in the sessi

[2015-10-02 12:18] acka47 commented on #139
+1 Please deploy so stakeholders can play around with it and we can discuss further adjustments.

[2015-10-02 12:37] fsteeg commented on #158
Deployed to production, closing. See http://lobid.org/nwbib/HT018705251

[2015-10-02 12:37] #158 closed

[2015-10-02 12:56] fsteeg commented on #139
Deployed to production, closing.

See http://lobid.org/nwbib/search?q=wandern

@dr0i As the code is not yet reviewed and merged, I did not merge into master in the `nwbib` repo on `quaoar1`, but instead switched that repo to `issue-139-map` and rebased that locally on master. So in case we need to revert the facet map, we can easily checkout master and redeploy `nwbib` on `quaoar1`.

[2015-10-02 12:56] #139 closed

[2015-10-02 13:14] acka47 commented on #149
I am not sure whether we should close this one. Moving it to backlog for now.

[2015-10-09 07:25] acka47 opened #163 "Vorbereitung der NWBib-Integration"
Currently, the "old" Aleph-based NWBib is searched within the Virtuelle Deutsche Landesbibliograhie (VDL). In order to ultimately switch to the new interface at some point, searches oin VDL also have to be served by the new system.

As long as the description of VDL technology (which is based on the KVK, Karlsruher Virtueller Katalog) on Wikipdia (https://de.wikipedia.org/wiki/Karlsruher_Virtuelle

[2015-10-09 10:11] acka47 opened #164 "Replace "Autor/in" by "Urheber/in""
I suggest replacing the label "Autor/in" by "Urheber/in" as not all entities under `dct:creator` have an author role in relation to the work described. As examples where it doesn't work see http://lobid.org/nwbib/HT018771475, http://lobid.org/nwbib/HT015828173 & http://lobid.org/nwbib/HT018527580.

@fsteeg What do you think? Should I just change it or should we first discuss this on the email list

[2015-10-15 08:17] acka47 opened #165 "Show marcrel:red in HTML"
After https://github.com/lobid/lodmill/issues/736 some persons aren't contributors anymore but `marcrel:red` (`redaktor` in json). See e.g. http://lobid.org/resource/HT018331662. Currently, they are not shown in NWBib see http://lobid.org/nwbib/HT018331662, thus, `redaktor` has to be added to the template.

[2015-10-15 09:20] dr0i commented on #165
Deployed to staging.

[2015-10-15 11:02] acka47 commented on #165
+1

[2015-10-15 11:28] dr0i commented on #165
Deployed to production, closing.

[2015-10-15 11:28] #165 closed

[2015-10-16 10:39] acka47 opened #167 "Show icons for online resources in result list"
See https://github.com/lobid/lodmill/issues/730#issuecomment-147994306 where stakeholders are quoted with this requirement:

Könnte man bei dieser Trefferliste hier beispielsweise zum Icon Publikationstyp „Buch“ eventuell die Medienart „Online“ hinzufügen? Oder ebenfalls im Titel [Elektronische Ressource] ergänzen?

[2015-10-16 14:23] acka47 commented on #163
Did that today. Now waiting for a response.

[2015-10-16 14:35] acka47 commented on #98
As far as I can see, we only have links from the supplemented resource to its supplements, e.g. http://lobid.org/resource/HT014630291/about (snippet):

[code]

But there is no link back from the supplements, see e.g. http://lobid.org/resource/HT017317344 where HT014630291 isn't mentioned. Same in source data, where the link can only be found in the supplemented resource which isn't mentione din th

[2015-10-19 07:00] fsteeg commented on #149
The hanging issue was fixed, we communicated the other points, I think we can close this.

[2015-10-19 07:00] #149 closed

[2015-10-20 07:04] fsteeg commented on #167
Instead of a special case for online resources I'd propose:

- Always show the `medium` icon in addition to the `type` in the result list
- Don't add any text to the title

Deployed to staging: http://test.lobid.org/nwbib/search?q=digitalisierungsstrategie+westfalens

[2015-10-20 07:14] acka47 commented on #167
+1. Please deploy on production and we will see what stakeholders think about it.

[2015-10-20 10:05] acka47 commented on #164
http://lobid.org/nwbib/HT018771475 looks broken now, see https://github.com/lobid/lodmill/issues/742.

[2015-10-20 10:09] fsteeg commented on #164
+1 for "Urheber/in". I think we could just change it and then communicate our reasoning on the list.

[2015-10-20 10:12] acka47 commented on #164
Ok. I will do it. Cataloguers might not be happy, though. In cataloguing rules, "Urheber" is used for corporations and "Verfasser" for persons... Will address this in the mail to the list.

[2015-10-20 10:13] fsteeg commented on #164
In that case, maybe it'd be better to discuss it first.

[2015-10-20 10:14] fsteeg commented on #167
Deployed to production, closing.

See: http://lobid.org/nwbib/search?q=digitalisierungsstrategie+westfalens

[2015-10-20 10:14] #167 closed

[2015-10-20 11:26] acka47 commented on #163
Got the response and also phoned with Uwe Dierolf. The general process for getting the new NWBib website into VDL looks like this:

1. Sort out financing as integration of a new source in VDL costs 2,500 Euros.
2. Settle on a final URL where NWBib will be found.
3. put together the following info for VDL integration:
a. what lobid API calls should be used
b. how the result list should be parsed
c.

[2015-10-22 12:22] acka47 opened #169 "Filtering by region doesn't work"
Example:

- http://lobid.org/nwbib/search?q=trauerseeschwalbe
- Click on bubble and "Titel mit Bezug zu 3 Orten filtern"
- [No results](http://lobid.org/nwbib/search?location=3%20Orte%20aus%20Kartenauswahl|51.766666593030095,6.399999987334013+51.80889998562634,6.396110113710165+51.80060005746782,6.368890050798655&q=trauerseeschwalbe&person=&name=&subject=&publisher=&issued=&medium=&nwbibspatial=&n

[2015-10-27 12:09] fsteeg commented on #169
Deployed to staging, see: http://test.lobid.org/nwbib/search?q=trauerseeschwalbe

[2015-10-27 12:19] acka47 commented on #169
+1

[2015-10-28 09:27] fsteeg commented on #169
Deployed to production, closing. See: http://lobid.org/nwbib/search?q=trauerseeschwalbe

[2015-10-28 09:27] #169 closed

[2015-10-30 08:37] acka47 opened #171 "Show overview at /classification and /register"
Reported by  @nichtich via email on 2015-10-28:

[2015-10-30 13:02] fsteeg commented on #171
Deployed to staging, see:

http://test.lobid.org/nwbib/classification
http://test.lobid.org/nwbib/register

[2015-10-30 13:05] acka47 commented on #171
+1

[2015-11-02 13:16] fsteeg commented on #171
Deployed to production, closing.

See:
http://lobid.org/nwbib/classification
http://lobid.org/nwbib/register

[2015-11-02 13:16] #171 closed

[2015-11-05 14:12] acka47 commented on #163
We should also switch to SSL before this.

[2015-11-05 14:18] acka47 opened #174 "Dual use of pictograms"
Reported by EL on 2015-10-27:

[2015-11-05 14:19] acka47 commented on #83
UP suggested on 2015-10-16:

[2015-11-05 14:20] acka47 opened #175 "Show NRW border on map"
UP suggested ion 2015-11-03:

EL responded on same day:

[2015-11-05 14:21] acka47 commented on #175
We should also try out to completely blank out the NRW environment.

[2015-11-05 14:22] acka47 opened #176 "Improve colouring of clusters on facet map"
Reported by UP on 2015-11-03:

EL agrees on same day:

[2015-11-05 14:23] acka47 opened #177 "Enable mouse-zoom in facet map"
EL writes on 2015-11-03:

[2015-11-05 14:28] acka47 opened #178 "UI details"
A list of UI details reported by UP (2015-10-19, 2015-11-03) and EL (2015-10-26).

- [x] "Regionen" instead of "Regionen/Orte"

- [x] Adjust language to sungular use for one sub-ordinated resource:

- [x] "Erschinen als" instead of "In" for volumes:

- [x] "Medientyp " instead of "Medienart" in facet

[2015-11-05 14:31] acka47 opened #179 "Weekly creation of list of 700n without 078n"
Customers ask for a monthly list of titles with NWBib classification entries in 700n but without NWBib mark in 078n. @dr0i Can you do this (automatically)?

[2015-11-05 15:03] fsteeg commented on #177
Deployed to staging, see: http://test.lobid.org/nwbib/search?q=wandern

[2015-11-05 15:50] fsteeg commented on #178
Deployed to staging, see:

- http://test.lobid.org/nwbib/search?q=wandern ("Regionen" in menu and facet)
- http://test.lobid.org/nwbib/HT018221619 (singular form, also in linked result list)
- http://test.lobid.org/nwbib/HT017180452 ("Erschienen als")
- http://test.lobid.org/nwbib/search?q=wandern ("Medientyp" in facet)
- http://test.lobid.org/nwbib/HT018781126 ("Medientyp" in details)

[2015-11-06 07:41] acka47 commented on #177
+1 I see that mouse-scrolling zoom isn't possible in holdings map. We should better also enable it there for sake of consistency.

[2015-11-06 07:47] acka47 commented on #178
+1

+1 (I see that you also covered articles in edited volumes, e.g. http://test.lobid.org/nwbib/HT018595883)

+1

+1

+1

[2015-11-06 08:45] fsteeg commented on #177
Deployed scroll wheel zooming on items map to staging.

For further consistency, I also made the items map the same height as the coverage map.

See http://test.lobid.org/nwbib/HT018146030

[2015-11-06 08:51] acka47 commented on #177
+1

Very good.

[2015-11-06 10:21] fsteeg commented on #176
Deployed to staging, see: http://test.lobid.org/nwbib/search

[2015-11-06 12:02] fsteeg commented on #175
Deployed to staging, see: http://test.lobid.org/nwbib/search

Completely blanking out the non-NRW map would be possible, but it would cut off labels that begin outside of NRW (e.g. "Osnabrück"). I've restricted zooming out to the NRW border. Together with the border highlighting, I think this is a good solution.

[2015-11-06 12:10] acka47 commented on #175
+1. BTW, I guess the current version of NWBib isn't very usable for colour-blind people. At some point, we probably should test the UI with respect to colour-blind persons.

[2015-11-06 12:14] acka47 commented on #176
+1 (here also with doubts regarding usage by colour-blind persons)

[2015-11-06 13:35] fsteeg commented on #174
Deployed to staging, see: http://test.lobid.org/nwbib/search

New icons: Konferenzschrift, Zeitschrift (Publikationstypen), Print (Medientypen).

[2015-11-06 14:15] fsteeg commented on #174
Redeployed with new icon for "Print" medium after offline discussion with @acka47.

See http://test.lobid.org/nwbib/search

[2015-11-09 08:48] acka47 commented on #174
+ 1 BTW, we will have an additional publication type `Report` soon, see https://github.com/hbz/lobid/issues/242.

[2015-11-09 09:29] fsteeg opened #185 "Visualize subjectLocation in resource details view"
Using the coverage map from the facet, above the items map.

@acka47 would you agree?

[2015-11-09 09:47] acka47 commented on #185
Sounds good to me. Maybe we should only show the items map when people want to look for items (with a popup or having it collapsed by default.

[2015-11-09 11:06] fsteeg commented on #176
Deployed to production, closing. See: http://lobid.org/nwbib/search

[2015-11-09 11:07] fsteeg commented on #177
Deployed to production, closing. See: http://lobid.org/nwbib/search?q=wandern

[2015-11-09 11:07] #177 closed

[2015-11-09 11:12] fsteeg commented on #178
Deployed to production, closing. See:

- http://lobid.org/nwbib/search?q=wandern ("Regionen" in menu and facet)
- http://lobid.org/nwbib/HT018221619 (singular form, also in linked result list)
- http://lobid.org/nwbib/HT017180452 ("Erschienen als")
- http://lobid.org/nwbib/search?q=wandern ("Medientyp" in facet)
- http://lobid.org/nwbib/HT018781126 ("Medientyp" in details)

[2015-11-09 11:12] #178 closed

[2015-11-09 11:14] fsteeg commented on #175
Deployed to production, closing. See: http://lobid.org/nwbib/search

[2015-11-09 11:14] #175 closed

[2015-11-09 11:15] fsteeg commented on #174
Deployed to production, closing. See: http://lobid.org/nwbib/search

New icons: Konferenzschrift, Zeitschrift (Publikationstypen), Print (Medientypen).

[2015-11-09 11:15] #174 closed

[2015-11-10 10:43] fsteeg commented on #185
After some initial prototyping I'm not so sure this is a good idea. It would certainly require some work, because the use case is quite different, and just reusing the coverage map is rather confusing (visualize 1-5 places about a resource VS use the subjectLocation as a facet).

Moving to backlog. Feel free to close, @acka47.

[2015-11-10 10:47] fsteeg commented on #176
Looking at http://lobid.org/nwbib/search?q=braunkohle I think we should swap the red and green (many hits red, single hit green). Reopening.

[2015-11-10 11:05] fsteeg commented on #176
Deployed to staging, see:

http://test.lobid.org/nwbib/search?q=braunkohle
http://test.lobid.org/nwbib/search?q=steinkohle
http://test.lobid.org/nwbib/search?q=schiefer
http://test.lobid.org/nwbib/search?q=radwandern
http://test.lobid.org/nwbib/search?q=wandern

[2015-11-10 11:12] acka47 commented on #176
What about using a pin again for single places to differentiate them from clusters?

[2015-11-10 11:47] fsteeg commented on #176
I know no way to display "1 Ort" on a pin (part of the original request).

I also think using the same cluster look is in the spirit of the request (to make it simpler).

[2015-11-10 11:51] acka47 commented on #176
ok, +1 then.

[2015-11-10 12:28] fsteeg commented on #160
Deployed to staging. Steps to reproduce:

- Click some result on http://test.lobid.org/nwbib/search (result: pager)
- Use pager to go forward and backward (result: pager)
- Copy URL, open new tab, paste, and open (result: no pager)

[2015-11-10 12:43] acka47 commented on #160
+1

[2015-11-11 11:02] fsteeg commented on #176
Deployed to production, closing. See:

http://lobid.org/nwbib/search?q=braunkohle
http://lobid.org/nwbib/search?q=steinkohle
http://lobid.org/nwbib/search?q=schiefer
http://lobid.org/nwbib/search?q=radwandern
http://lobid.org/nwbib/search?q=wandern

[2015-11-11 11:02] #176 closed

[2015-11-11 11:03] fsteeg commented on #160
Deployed to production, closing. Steps to reproduce:

- Click some result on http://lobid.org/nwbib/search (result: pager)
- Use pager to go forward and backward (result: pager)
- Copy URL, open new tab, paste, and open (result: no pager)

[2015-11-11 11:03] #160 closed

[2015-11-11 14:51] philboeselager commented on #83
@dr0i
A) Can you please provide an example of the data format used in NWBib?
B) Which fields will be used? Only latitude and longitude?
C) Is it feasible to pull these field's data via single requests?

[2015-11-11 15:07] dr0i commented on #83
A) see e.g. http://lobid.org/resource/BT000084171/about
B) -> `subjectLocation` and `spatial`
C) You mean: one record, one request? Yeah thats the way to go. I did this using the SQL lookup function in metafacture, wich uses JDBC. If you make elasticsearch lookups , that should be fast enough, as long as you don't make these lookups via http of course. Shouldn't be too slow (lookups you need: > 30

[2015-11-12 15:02] acka47 commented on #179
We decided to create such a list each week after the new index was created and let NWBib editors fetch it from the server whenever they want.

[2015-11-12 16:10] fsteeg commented on #146
Deployed to staging, see: http://test.lobid.org/nwbib/search?q=wandern

I tried to use actual boxes, but simple lists looked cleaner.

[2015-11-13 07:25] acka47 commented on #146
Looks good with the lists. While it's ok for the other filters to show all elements when expanding, we at some points get very long lists for "Schlagwörter" and "Sachgebiete". Thus, I'd propose a different behaviour for these: Instead of a button "Zeige alle Sachgebiete/Schlagwörter" the button should be named "Zeige mehr Sachgebiete/Schlagwörter". When one clicks on it, you will see 15 more entri

[2015-11-19 08:53] acka47 opened #188 "Add SearchAction to homepage to enable search via google result list"
According to https://developers.google.com/structured-data/slsb-overview we would have to add this JSON-LD snippet to the homepage:

[code]

[2015-11-19 09:13] fsteeg commented on #146
Deployed to staging: Show more facet values in steps of 15 items.

See: http://test.lobid.org/nwbib/search?q=wandern

[2015-11-19 09:40] acka47 opened #189 "Should we add geo coordinates for regions, e.g. Eifel?"
Just stumbled over this:
- When I [search for "wandern"](http://test.lobid.org/nwbib/search?q=wandern) and
- klick on "Eifel" in the "Regionen" facet.
- result: only 13 titles of the 153 in the result list have a `subjectLocation` indicated.

If we would add geo coordinates from wikidata for ["Eifel"](https://www.wikidata.org/wiki/Q152356) all of them would have a location. The problem is, that th

[2015-11-19 12:43] fsteeg commented on #188
Deployed to staging: view source of http://test.lobid.org/nwbib

[2015-11-19 12:57] acka47 commented on #188
+1

[2015-11-19 13:13] acka47 commented on #146
+1 I think we can deploy this as is and talk about the details with stakeholders.

[2015-11-19 15:03] fsteeg commented on #146
Deployed to production, closing. See: http://lobid.org/nwbib/search?q=wandern

[2015-11-19 15:03] #146 closed

[2015-11-19 15:03] fsteeg commented on #188
Deployed to production, closing. View source of http://lobid.org/nwbib

[2015-11-19 15:03] #188 closed

[2015-11-27 15:05] acka47 opened #192 "Collapse function for facets"
Feedback provided by E.L. on 2015-11-27 via email list:

[2015-11-27 15:06] acka47 opened #193 "Problem with subject facet after subject search"
Bug report by E.L. on 2015-11-27 via email list:

[2015-11-27 15:10] acka47 opened #194 "Speed up loading of subject facet"
As provided by E.L. on 2015-11-27 via email list:

[2015-11-27 15:14] acka47 commented on #194
I guess we are already using the quickest API call for this, don't we? This would be querying by id with `format=short.preferredName` parameter I guess, e.g. http://lobid.org/subject?id=http://d-nb.info/gnd/4079041-1&format=short.preferredName

[2015-12-07 13:05] fsteeg opened #195 "Error on details page, related to session data"
Steps to reproduce:

1. Restart your browser, or remove the PLAY_SESSION cookie
2. Visit http://lobid.org/nwbib/HT016558942 - should work with clean session
3. Visit http://lobid.org/nwbib/search?q=braunkohle
4. Visit http://lobid.org/nwbib/HT016558942 again - error

Works again after removing the PLAY_SESSION cookie from the browser (or restarting the browser).

[2015-12-07 13:50] fsteeg commented on #193
A few issues here:

1. It is normal facet behavior that a facet is not restricted by its own selection, i.e. no matter which subject is selected, the most frequent alternative values will always be the same. This is true for all the facets.
2. When we search by subject using a string, not a GND-URI, we don't get a selection in the subject facet. This is one of a few points where the interaction of

[2015-12-07 14:39] acka47 commented on #195
I not reproduce this in Chromium. This reminded me of another incident from a few days ago: @jschnasse had a maybe similar problem. He got an error for NWBib resources that I could view on my laptop sitting next to him... The resource in question was something from http://etherpad.lobid.org/p/20151203_publisso-telko. @jschnasse can you reproduce this?

[2015-12-07 14:39] fsteeg commented on #195
Deployed to staging, steps to reproduce:

1. Restart your browser, or remove the PLAY_SESSION cookie
2. Visit http://test.lobid.org/nwbib/HT016558942
3. Visit http://test.lobid.org/nwbib/search?q=braunkohle
4. Visit http://test.lobid.org/nwbib/HT016558942 again

Note that I also added the first step to steps to reproduce the problem in the issue description.

[2015-12-07 14:41] fsteeg commented on #195
Ha, we commented at the same second. Try again with the new first step, I also had problems reproducing in a running browser session.

[2015-12-07 14:42] acka47 commented on #195
Yes, this "worked". I guess, the underlying problem was the same some days ago.

[2015-12-07 14:44] acka47 commented on #195
+1 for the fix.

[2015-12-08 08:46] fsteeg commented on #150
Deployed to staging, see: http://test.lobid.org/nwbib/BT000128765

[2015-12-08 10:33] fsteeg commented on #195
Deployed to production, closing. Steps to reproduce:

1. Restart your browser, or remove the PLAY_SESSION cookie
2. Visit http://lobid.org/nwbib/HT016558942
3. Visit http://lobid.org/nwbib/search?q=braunkohle
4. Visit http://lobid.org/nwbib/HT016558942 again

[2015-12-08 10:33] #195 closed

[2015-12-08 10:49] acka47 commented on #150
Looks like this is already deployed to production. Anyway, +1.

[2015-12-08 11:41] fsteeg commented on #150
Right, the pull request was already merged when I deployed #195 (same for the bugfix part of #193).

Since these were small fixes, I figured it was OK.

Still: Deployed to production, closing. See: http://lobid.org/nwbib/BT000128765

[2015-12-08 11:41] #150 closed

[2015-12-08 11:43] fsteeg commented on #193
As mentioned in https://github.com/hbz/nwbib/issues/150#issuecomment-162858198, the bugfix part of this is already deployed to production, see:
http://lobid.org/nwbib/search?subject=abfallbeseitigung

For the other issue, perhaps a solution related to #194 would be feasible (I will comment there).

[2015-12-08 11:59] fsteeg commented on #194
The reason that this is slow is that we don't have the labels we want to display in the data. The facet request against Elasticsearch uses the `subject` field. That part is fast. Then, we load all the labels for display in the facet. That's the slow part. If we'd facet over values we actually have in the data (like `subjectLabel` or `subjectChain`) it would be very fast. Would it be feasible to fa

[2015-12-08 12:02] fsteeg commented on #193
After an offline discussion, @acka47 and I were able to narrow down the actual remaining issue: we want to be able to combine a string based advanced subject search with the subject facet. This is currently not possible because internally, they are both `subject` searches. So the string based advanced subject search should use a different query parameter internally.

[2015-12-08 12:10] acka47 commented on #194
I don't think we can use `subjectLabel` for this as we want the facet to display single subject headings which aren't always clearly separated in this field. Thus, we will wait for API 2.0 which is on its way.

[2015-12-08 12:11] acka47 commented on #194
Moved to backlog.

[2015-12-09 10:53] fsteeg commented on #193
Deployed to staging, see: http://test.lobid.org/nwbib/search?subject=abfallbeseitigung

[2015-12-09 13:08] acka47 commented on #193
This goes in the right direction and it will also speed up loading of the subject facet. It still has some issues, though. After I tried out the linked example http://test.lobid.org/nwbib/search?subject=abfallbeseitigung, I tried out two other examples http://test.lobid.org/nwbib/search?subject=pferd & http://test.lobid.org/nwbib/search?subject=hund. The subject facet doesn't change with the diffe

[2015-12-15 09:35] fsteeg commented on #193
Deployed to staging, see:

http://test.lobid.org/nwbib/search?subject=abfallbeseitigung
http://test.lobid.org/nwbib/search?subject=pferd
http://test.lobid.org/nwbib/search?subject=hund

[2015-12-15 10:42] acka47 commented on #193
+1

[2015-12-15 11:29] fsteeg commented on #193
Deployed to production, closing. See:

http://lobid.org/nwbib/search?subject=abfallbeseitigung
http://lobid.org/nwbib/search?subject=pferd
http://lobid.org/nwbib/search?subject=hund

[2015-12-15 11:29] #193 closed

[2015-12-15 12:43] fsteeg commented on #47
This has been mentioned in multiple sections as high priority in the most recent mail by stakeholders (GC, 2015-12-10). From what I understand the main issue is that boolean operators work for the simple search but not for the advanced search. Will investigate support in advanced search.

[2015-12-15 12:49] acka47 commented on #47
@fsteeg Great you pick this up. Just thought about this, when looking at the Agenda for our tomorrow meeting. It would be great if you had an estimate for implementation tomorrow.

[2015-12-15 12:50] acka47 commented on #40
This is another issue ranked with high priority by stakeholders. A rough estimate of implementation time for tomorrow's meeting would be nice, @fsteeg.

[2015-12-15 13:12] fsteeg opened #201 "Tweak details view"
Mail GC, 2015-12-10

- [x] Straffung durch geringere Zeilenabstände
- [x] Straffung der Schlagwortanzeige, allerdings darf auf keinen Fall die Verlinkung des Einzelschlagworts für weitere Titelsuche und  die Verlinkung des Schlagworts mit der GND verloren gehen. Von Münster wird die Verlinkung der Schlagwortkette in die Themensuche gewünscht, s. Punkt 6b/4.
- [x] Verkleinerte Darstellung der Besta

[2015-12-16 12:47] acka47 opened #202 "Re-order facets"
Reported by NWBib stakeholder G.C. on 2015-12-07:

[2015-12-16 12:48] acka47 opened #203 "Add orientation text to see which facets are set"
Reported by NWBib stakeholder E.L. on 2015-12-07:

[2015-12-16 14:34] fsteeg opened #204 "Missing subject labels in facet"
See https://github.com/hbz/lobid/issues/84 for root cause, but will take a different approach, because labels in the resources should be displayed, so we will look them up using the resource API.

[2015-12-16 14:55] acka47 opened #205 "Improve design of map on home page"
Reported by G.C. on 2015-12-10:

Low priority.

[2015-12-16 14:58] acka47 commented on #47
G.C. wrote on 2015-12-10:

[2015-12-16 15:06] acka47 opened #206 "Remove "Überordnung" from advanced search & volume lookup"

[2015-12-16 15:10] acka47 commented on #47
We won't implement this for now. I will ask what stakeholders mean by " sollte im Suchschlitz nur die UND-Verknüpfung angeboten werden".

[2015-12-16 15:19] dr0i commented on #93
Since our nfs, destination of the i.a. the logs, crashed the second time in two months we choose to mount weywot4 as nfs and store the logs there.
Should the newest stats not be build correctly consider this the cause.

[2015-12-16 15:20] dr0i commented on #93
See also #91 .

[2015-12-16 15:21] dr0i commented on #91
Since our nfs, i.a. destination of the logs, crashed the second time in two months we choose to mount weywot4 as nfs and store the logs there.
Should the newest stats not be build correctly consider this the cause.

[2015-12-16 16:43] fsteeg commented on #47
I'd also mention that it would be a pity to lose this functionality in the simple search.

[2015-12-17 09:50] fsteeg opened #207 "No correct polygon for some Kreise"
When searching from the index page map, we don't get proper polygons for Hochsauerlandkreis and Kreis Euskirchen. These polygons have too many coordinates to be passed a query params. We will have to store the polygons elsewhere (e.g. in ES) and get them from there. This will also allow us to increase polygon precision.

[2015-12-17 09:55] fsteeg commented on #203
But this is done by the checkboxes in the facets, or am I getting this wrong?

[2015-12-17 10:12] fsteeg opened #208 "Handle umlauts and their resolution as equivalent"
Köln, Koeln should yield the same result

[2015-12-17 11:21] acka47 commented on #208
Also, "Koln"  as stakeholders required.

[2015-12-17 12:29] fsteeg commented on #208
No, if I recall correctly, that should explicitly not be treated as equivalent, sample given was:

Münster is not equal to Munster.

[2015-12-17 12:39] acka47 commented on #203
Yes, but they would like to have an overview in one place.

[2015-12-17 12:47] acka47 commented on #203
We should implement this as a breadcrumb overview.

[2015-12-17 12:49] acka47 commented on #208
Ok, I probably confused this with the actual implementation we once had using Jörg's plugin.

[2015-12-18 10:42] acka47 opened #209 "Evaluating the usefulness of subject chains in NWBib data"
As implementing "Themensuche" and clickable subject chains will take some effort and as I have the feeling that no user except of some librarians will use these features, I would like to have some evidence regarding the potential usefulness of these features.

Regarding clickable subject chains, I would like to have an answer to the question:

How many subject chains exist where clicking would lea

[2015-12-18 11:09] fsteeg commented on #209
I did a quick try using a facets request but that doesn't work because the subjectChain field is analyzed, so we don't get a meaningful facets response. The dump-based appraoch you mentioned earlier is probably a better approach here.

[2015-12-18 11:46] acka47 opened #210 "Many subject chains are not found within "Themensuche""
For example http://lobid.org/nwbib/topics?q=rees doesn't give back all results for http://lobid.org/nwbib/topics?q=rees+r%C3%B6merzeit.

[2015-12-21 12:03] fsteeg commented on #204
Deployed to staging, see e.g.:

- Issue: http://lobid.org/nwbib/search?q=ehrenfeld (expand subject facet twice, two missing labels)
- Fix: http://test.lobid.org/nwbib/search?q=ehrenfeld

[2015-12-21 12:51] acka47 commented on #204
+1 Also works for others, e.g. http://test.lobid.org/nwbib/search?location=&q=Bottrop vs. http://lobid.org/nwbib/search?location=&q=Bottrop

[2015-12-22 13:26] fsteeg commented on #210
Deployed to staging, see:

http://test.lobid.org/nwbib/topics?q=rees
http://test.lobid.org/nwbib/topics?q=rees+r%C3%B6merzeit

[2015-12-22 13:59] acka47 commented on #210
+1

[2015-12-22 14:02] acka47 opened #213 "Improve performance for Themensuche"
After testing #210 and looking at different examples (e.g. [searching for "Köln"](http://test.lobid.org/nwbib/topics?q=k%C3%B6ln) with > 15k results) in Themensuche, I think we should implement paging for Themensuche. What about loading more results when people scroll to the button of the page. Is it possible to implement this easily?

[2015-12-28 08:42] fsteeg commented on #204
Deployed to production, see: http://lobid.org/nwbib/search?q=ehrenfeld

[2015-12-28 08:42] #204 closed

[2015-12-28 08:48] fsteeg commented on #210
Deployed to production, closing. See:

http://lobid.org/nwbib/topics?q=rees
http://lobid.org/nwbib/topics?q=rees+r%C3%B6merzeit

[2015-12-28 08:48] #210 closed

[2015-12-28 09:08] fsteeg commented on #213
Not in a useful way. I've actually had this implemented as a first approach for #210, but an important feature of the current topics search is that the result is sorted alphabetically. Individual pages can be sorted, but e.g. `Rees | Römer*` will be spread across pages. The alternative of loading all and sorting that would have the same performance issue.

The root issue for the performance issue

[2015-12-29 09:31] fsteeg commented on #207
Deployed to staging, see [Hochsauerlandkreis](http://test.lobid.org/nwbib/search?location=Hochsauerlandkreis|u1nm1x+u1nm1x+u1nm4r+u1nm4m+u1nm4k+u1nm4t+u1nm4e+u1nm56+u1nm58+u1nmh1+u1nmh0+u1nkfv+u1nkf7+u1nkf6+u1nkfb+u1nkdy+u1nkej+u1nkdf+u1nke6+u1nked+u1nke8+u1nk7x+u1nk7q+u1nk7s+u1nk77+u1nk6g+u1nk67+u1nk32+u1nk34+u1nk34+u1nk2f+u1nk2g+u1nk27+u1nhrd+u1nhr3+u1nhq8+u1nhmb+u1nhm8+u1nhjr+u1nhjw+u1nhjt+u1nh

[2015-12-29 13:28] fsteeg commented on #202
Deployed to staging, see: http://test.lobid.org/nwbib/search

I've tweaked the facet order and moved the location label from the top into the location facet. I think this is what G.C. meant. I've also generalized the location facet status label for the other facets, to easily see which facets are set and to remove the filters.

I think this also solves #203 in a sensible way (compact, in the same

[2015-12-29 13:37] fsteeg commented on #203
Implemented a potential fix for this as part of general facets changes, see https://github.com/hbz/nwbib/issues/202#issuecomment-167788729.

Deployed to staging, see [this sample search with multiple facets set](http://test.lobid.org/nwbib/search?location=30%20Orte%20aus%20Kartenauswahl|51.449417855436764,8.832754828013321+51.44937047153849,8.832901119471547+51.44933726428079,8.833057141563273+51.

[2015-12-30 09:27] fsteeg commented on #206
Deployed to staging, see:

- subordination links e.g. in: http://test.lobid.org/nwbib/HT006984941
- advanced search: http://test.lobid.org/nwbib/advanced

[2015-12-30 14:44] fsteeg commented on #201
Deployed to staging:

- Make column narrower (like right column in search results)
- Move holdings map zoom controls to avoid overlap with popup
- Don't show holdings details table by default, add link to show
- Decrease holdings map height
- Link subject chains to corresponding search requests
- Use single table for all fields in details view
- Custom labels for links to toc, description, and cat

[2016-01-04 09:32] acka47 commented on #201
+1 with one minor adjustment I did in https://github.com/hbz/nwbib/commit/085a7459bb8d5f79512c97241bb0e8a7ffecdaa7.

[2016-01-04 09:37] acka47 commented on #207
+1

[2016-01-04 09:43] acka47 commented on #202
+1 for the re-ordering. I will discuss the new orientation features in #203.

[2016-01-04 09:51] acka47 commented on #203
I think think this goes in the right direction. We won't have the sequence the user set the different filters (as we would have with breadcrumbs) but that is Ok.

One thing hast to be resolved to make it work: When setting a publication year or subject facet besides the orientation text at the respective facets (which I think are a good way to go) there additionally is a row from the extended sear

[2016-01-04 09:53] acka47 commented on #206
+1

[2016-01-04 14:47] fsteeg commented on #40
I've looked into CSL and after being a bit confused I now understand what this is about (different *presentations* of the Merkliste).

Stakeholders mentioned printing and saving as their use cases. For the printing, I'd expect they want the same format as in our details views. This is what we have in the old NWBib, and we can easily implement this based on existing templates.

This HTML export can

[2016-01-04 15:56] acka47 commented on #40
This would be the minimum. Ideally, we would support export of a list in different styles and formats (including BibTeX).

Yes, BibTeX should be supported but also other formats. As far as I can see CSL supports BibTeX (see https://github.com/citation-style-language/styles/blob/7116881001d4e494c7f56140b177b99492255517/bibtex.csl) and [hundreds of styles and other formats](https://github.com/citati

[2016-01-04 19:53] hatorikibble commented on #40
no sorry, I don't have any special BibTeX knowledge, talk to @heikojansen he implemented the bibliographic exports in the DigiBib

[2016-01-05 13:53] acka47 commented on #40
I have just started reading [Philipp Zumstein und Matti Stöhr (2015): Zur Nachnutzung von bibliographischen Katalog- und Normdaten für die persönliche Literaturverwaltung und Wissensorganisation](http://ub-madoc.bib.uni-mannheim.de/39937/1/abitech-2015-0037.pdf). It seems highly relevant for our discussion.

[2016-01-05 14:18] fsteeg commented on #40
Deployed to staging, see: http://test.lobid.org/nwbib/stars

The link above now redirects to a URL with the IDs as query parameters, making the resulting URL shareable and bookmarkable, e.g. see: http://test.lobid.org/nwbib/stars?format=details&ids=HT015539122%2CHT015448633%2CHT017127240

I agree that CSL and BibTeX support make sense as part of the API and should get issues at https://github.com/

[2016-01-05 15:14] acka47 commented on #40
I think this solution is fine for the launch. I wonder whether we could shorten the URLs in any way. As the URL is for sharing a list with other people via email, twitter etc. it should be as short as possible. Having a list of ten titles already makes the URL quite long, e.g. http://test.lobid.org/nwbib/stars?ids=HT018843259%2CHT018774232%2CHT018843269%2CHT018807238%2CHT018544772%2CHT018652670%2C

[2016-01-06 10:34] fsteeg commented on #203
Deployed to staging, see:

http://test.lobid.org/nwbib/search?person=m%C3%BCller&subject=http%3A%2F%2Fd-nb.info%2Fgnd%2F4123092-9&issued=1996&nwbibspatial=http%3A%2F%2Fpurl.org%2Flobid%2Fnwbib-spatial%23n03

[2016-01-06 10:46] acka47 commented on #40
This is right but we won't do this now and rather think about if, how and when to implement it in https://github.com/hbz/lobid/issues/278.

+1 for this then

[2016-01-06 12:53] acka47 opened #219 "Always show timeline from 1983 to current year for filtering by publication year"
Currently, only the publication years which actually exist in the results are shown in the timeline for filtering a result list. this is awkward for results with only one year e.g. http://test.lobid.org/nwbib/search?name=smartphone or only two publication years, e.g. http://test.lobid.org/nwbib/search?word=smartphone.

Solution: Always show the same timeline from 1983 till current year and only sh

[2016-01-06 12:56] acka47 commented on #219
Also, this is quite confusing where I chose one year and two others are shown: http://test.lobid.org/nwbib/search?person=schmidt&issued=1991&nwbibspatial=http%3A%2F%2Fpurl.org%2Flobid%2Fnwbib-spatial%23n03&location=50.871944362297654%2C6.6961111687123775

[2016-01-06 13:02] acka47 commented on #203
+1

[2016-01-07 09:03] fsteeg commented on #83
Based on https://github.com/hbz/geodata/issues/21, I think the next step is that @dr0i should test switching the way the locations are looked up during transformation, to see if this is already an improvement.

[2016-01-07 12:43] acka47 commented on #83
Also, the response doesn't look correct for the entries we need an imporvement for: part sof a town like "Köln-Ehrenfeld". [Köln](http://gaia.hbz-nrw.de:7400/geodata?q=K%C3%B6ln) ([wikidata entity](http://www.wikidata.org/entity/Q365)), [Köln-Ehrenfeld](http://gaia.hbz-nrw.de:7400/geodata?q=K%C3%B6ln-Ehrenfeld) ([wikidata entity](http://www.wikidata.org/entity/Q897382)), and [Köln-Mülheim](http://

[2016-01-07 12:45] acka47 commented on #83
Is the query template I provided in https://github.com/hbz/nwbib/issues/83#issuecomment-65620502 actually used here: `https://www.wikidata.org/w/api.php?action=query&list=search&format=json&srsearch=$place_name` ?

[2016-01-11 13:06] fsteeg commented on #201
Deployed to production, closing. See:

- http://lobid.org/nwbib/HT017557310
- http://lobid.org/nwbib/HT018263803
- http://lobid.org/nwbib/HT018845503
- http://lobid.org/nwbib/HT018810939
- http://lobid.org/nwbib/HT006916592

[2016-01-11 13:06] #201 closed

[2016-01-11 13:07] fsteeg commented on #40
Deployed to production, closing. See:

- http://lobid.org/nwbib/stars
- http://lobid.org/nwbib/stars?format=details&ids=HT015539122%2CHT015448633%2CHT017127240

[2016-01-11 13:07] #40 closed

[2016-01-11 13:08] fsteeg commented on #203
Deployed to production, closing. See:

http://lobid.org/nwbib/search?person=m%C3%BCller&subject=http%3A%2F%2Fd-nb.info%2Fgnd%2F4123092-9&issued=1996&nwbibspatial=http%3A%2F%2Fpurl.org%2Flobid%2Fnwbib-spatial%23n03

[2016-01-11 13:08] #203 closed

[2016-01-11 13:09] fsteeg commented on #207
Deployed to production, closing. See: [Hochsauerlandkreis](http://lobid.org/nwbib/search?location=Hochsauerlandkreis|u1nm1x+u1nm1x+u1nm4r+u1nm4m+u1nm4k+u1nm4t+u1nm4e+u1nm56+u1nm58+u1nmh1+u1nmh0+u1nkfv+u1nkf7+u1nkf6+u1nkfb+u1nkdy+u1nkej+u1nkdf+u1nke6+u1nked+u1nke8+u1nk7x+u1nk7q+u1nk7s+u1nk77+u1nk6g+u1nk67+u1nk32+u1nk34+u1nk34+u1nk2f+u1nk2g+u1nk27+u1nhrd+u1nhr3+u1nhq8+u1nhmb+u1nhm8+u1nhjr+u1nhjw+u1n

[2016-01-11 13:10] #207 closed

[2016-01-11 13:10] fsteeg commented on #202
Deployed to production, closing. See http://lobid.org/nwbib/search

[2016-01-11 13:10] #202 closed

[2016-01-11 13:12] fsteeg commented on #206
Deployed to production, closing. See:

- subordination links e.g. in: http://lobid.org/nwbib/HT006984941
- advanced search: http://lobid.org/nwbib/advanced

[2016-01-11 13:12] #206 closed

[2016-01-13 09:02] acka47 commented on #83
@droi can go for this now.

[2016-01-13 15:11] fsteeg commented on #208
Deployed to staging (using a small test set), see:

`q`

- http://test.lobid.org/nwbib/search?q=köln
- http://test.lobid.org/nwbib/search?q=koeln

`word`

- http://test.lobid.org/nwbib/search?word=köln
- http://test.lobid.org/nwbib/search?word=koeln

`name`

- http://test.lobid.org/nwbib/search?name=Gebäude
- http://test.lobid.org/nwbib/search?name=Gebaeude

`subject`

- http://test.lobid.org/nwbi

[2016-01-14 07:25] acka47 commented on #208
+1

[2016-01-14 08:58] fsteeg commented on #205
Deployed to staging: http://test.lobid.org/nwbib

(Light green and red initially, strong colors on hover).

[2016-01-14 09:43] acka47 opened #221 "Add facet over field "coverage""
To meet stakeholder demands for showing list of values of property `coverage` (fields 700n, notations 96, 97, 99 in source data), we will add a facet within the "Ortsbezug" section over this field.

[2016-01-14 09:45] acka47 commented on #205
As far as I can remember, stakeholders weren't happy when we the last time presented green/red for Rhineland vs. Westphalia. Anyway, as it isn't clear at all what they want, I think we should deploy this as a proposal, thus: +1 If they don't like it, we should ask them to clarify their expectations and/or to contact a designer...

[2016-01-14 12:41] acka47 opened #222 "Content in angle brackets from nwbibspatial not shown in HTML"
Similar to #104. See e.g. http://lobid.org/nwbib/HT016180747 where the HTML reads

[code]
 but you can only see "Handorf" in the browser.

[2016-01-14 13:02] acka47 opened #223 "Subject facet is broken after search via subject in title page"
When I initiate a subject search via GND ID, e.g. from a single resource view, the subject facet for the result kist us then broken. Example: http://lobid.org/nwbib/search?subject=http%3A%2F%2Fd-nb.info%2Fgnd%2F4076769-3

The subject facet always looks like this:

![2060114_subject-facet-bug](https://cloud.githubusercontent.com/assets/160292/12324997/581017ee-bac7-11e5-9b8e-ab2684bdc0ea.png)

Prob

[2016-01-14 16:55] fsteeg commented on #221
Deployed to staging (with test set), see: http://test.lobid.org/nwbib/search

[2016-01-15 09:12] acka47 commented on #221
I noticed some problems trying this out. Here is the first:
In the test data, there are two "Münster" elements, one for the Regierungsbezirk and one for the town. As the content in angle brackets is missing both look the same. See e.e.g http://test.lobid.org/nwbib/HT008353259 and http://test.lobid.org/nwbib/HT003160768 Thus, before deploying this on production we should fix #222 .

[2016-01-15 09:13] acka47 commented on #221
Also, there is a problem with Umlauts but it only exists in the test data on staging.

[2016-01-15 09:16] fsteeg commented on #222
Deployed to staging. Your sample is not in the currently deployed test set, but see:

http://test.lobid.org/nwbib/HT008353259

[2016-01-15 09:17] acka47 commented on #222
+1

[2016-01-15 09:19] acka47 commented on #221
This should also be fixed for the elements in the "Orte" facet.

[2016-01-15 09:28] fsteeg commented on #221
Deployed to staging, see http://test.lobid.org/nwbib/search

[2016-01-15 09:33] acka47 commented on #221
+1

[2016-01-15 09:58] fsteeg commented on #221
Seem to go wrong for GND subjects, where umlauts are now escaped (but oddly not in Sachsystematik), see: http://test.lobid.org/nwbib/search

[2016-01-15 10:00] fsteeg commented on #223
Seems to be fixed on staging by subsequent changes, see:

http://test.lobid.org/nwbib/search?subject=http%3A%2F%2Fd-nb.info%2Fgnd%2F4076769-3

(But made me aware of different issue: https://github.com/hbz/nwbib/issues/221#issuecomment-171918095)

[2016-01-15 10:25] fsteeg commented on #221
https://github.com/hbz/nwbib/issues/221#issuecomment-171918095 looks like a deployment issue. Alos it's non-critical (no broken functionality). Will open separate issue if still present after deployment to production.

[2016-01-15 10:33] acka47 commented on #223
Ok. So leave this be for now and I will check whether it runs after other issues are deployed...

[2016-01-15 10:45] fsteeg commented on #223
I'll self assign and move to deploy, will move back if still an issue with full data on staging.

[2016-01-18 10:13] fsteeg commented on #223
Deployed to production, closing.

See: http://lobid.org/nwbib/search?subject=http%3A%2F%2Fd-nb.info%2Fgnd%2F4076769-3

And search by subjects e.g. via links from http://lobid.org/nwbib/HT018809722

[2016-01-18 10:14] #223 closed

[2016-01-18 10:15] fsteeg commented on #222
Deployed to production, closing. See: http://lobid.org/nwbib/HT016180747

[2016-01-18 10:15] #222 closed

[2016-01-18 10:17] fsteeg commented on #221
Deployed to production, closing. See: http://lobid.org/nwbib/search

[2016-01-18 10:17] #221 closed

[2016-01-18 10:17] fsteeg commented on #205
Deployed to production, closing. See: http://lobid.org/nwbib

[2016-01-18 10:17] #205 closed

[2016-01-18 10:20] fsteeg commented on #208
Deployed to production, closing. See:

`q`

- http://lobid.org/nwbib/search?q=köln
- http://lobid.org/nwbib/search?q=koeln

`word`

- http://lobid.org/nwbib/search?word=köln
- http://lobid.org/nwbib/search?word=koeln

`name`

- http://lobid.org/nwbib/search?name=Gebäude
- http://lobid.org/nwbib/search?name=Gebaeude

`subject`

- http://lobid.org/nwbib/search?subject=köln
- http://lobid.org/nwbib/s

[2016-01-18 10:20] #208 closed

[2016-01-18 12:06] fsteeg commented on #163
Tagging as `nwbib-launch`. Is this correct, @acka47?

[2016-01-18 13:06] acka47 commented on #163
At least G.C. doesn't think this is important for the launch. Thus, moved to backlog.

[2016-01-18 13:10] acka47 opened #227 "Switch domain to nwbib.de"
The domain is already reserved by hbz.

[2016-01-25 12:48] fsteeg opened #229 "Wrong map facet label when multiple spatial facets set"
[Sample link](http://lobid.org/nwbib/search?q=kohle&nwbibspatial=http%3A%2F%2Fpurl.org%2Flobid%2Fnwbib-spatial%23n20&location=64+Orte+aus+Kartenauswahl|51.216184076148224%2C7.632550224608195+51.21610199748479%2C7.6327055165756+51.21603923570643%2C7.6328822834927035+51.21599793769891%2C7.633074478943698+51.21597951614367%2C7.633275528770883+51.21598460118834%2C7.633478555947355+51.23311813570036%2C

[2016-01-25 13:20] fsteeg commented on #229
Number is calculated when map is clicked, and inserted into the query parameter, resulting in wrong value when other facets are set after the map. Removing number since it's not crucial, and actually redundant (map contains cluster labels with counts).

Deployed to staging: [sample result](http://test.lobid.org/nwbib/search?q=kohle&nwbibspatial=http%3A%2F%2Fpurl.org%2Flobid%2Fnwbib-spatial%23n03&l

[2016-01-25 17:41] acka47 commented on #229
+1

[2016-01-26 08:10] fsteeg commented on #229
Deployed to production, closing. [Sample result](http://lobid.org/nwbib/search?q=kohle&nwbibspatial=http%3A%2F%2Fpurl.org%2Flobid%2Fnwbib-spatial%23n65&location=Orte+in+Kartenauswahl|51.216184076148224%2C7.632550224608195+51.21610199748479%2C7.6327055165756+51.21603923570643%2C7.6328822834927035+51.21599793769891%2C7.633074478943698+51.21597951614367%2C7.633275528770883+51.21598460118834%2C7.63347

[2016-01-26 08:10] #229 closed

[2016-01-26 09:00] fsteeg commented on #219
Deployed to staging, see:

- http://test.lobid.org/nwbib/search?name=smartphone
- http://test.lobid.org/nwbib/search?word=smartphone

Also now avoids redundant labels when facet is active:

- http://test.lobid.org/nwbib/search?q=glessen&issued=2008-2016
- http://test.lobid.org/nwbib/search?person=schmidt&issued=1991&nwbibspatial=http%3A%2F%2Fpurl.org%2Flobid%2Fnwbib-spatial%23n03&location=50.87194

[2016-01-26 09:11] fsteeg opened #233 "HTML escape sequences in icon popups"
http://lobid.org/nwbib/search?q=*&t=http%3A%2F%2Fpurl.org%2Fontology%2Fbibo%2FMultiVolumeBook

Hover over type icon -> `Mehrb&auml;ndig`

[2016-01-26 09:38] fsteeg commented on #233
Deployed to staging:

http://test.lobid.org/nwbib/search?q=*&t=http%3A%2F%2Fpurl.org%2Fontology%2Fbibo%2FMultiVolumeBook

Hover over type icon -> `Mehrbändig`

[2016-01-26 10:12] acka47 commented on #219
+1

[2016-01-26 10:13] acka47 commented on #233
+1

[2016-01-26 11:50] fsteeg commented on #219
Deployed to production, closing. See:

- http://lobid.org/nwbib/search?name=smartphone
- http://lobid.org/nwbib/search?word=smartphone
- http://lobid.org/nwbib/search?q=glessen&issued=2008-2016
- http://lobid.org/nwbib/search?person=schmidt&issued=1991&nwbibspatial=http%3A%2F%2Fpurl.org%2Flobid%2Fnwbib-spatial%23n03&location=50.871944362297654%2C6.6961111687123775

[2016-01-26 11:50] #219 closed

[2016-01-26 11:50] fsteeg commented on #233
Deployed to production, closing. See:

http://lobid.org/nwbib/search?q=*&t=http%3A%2F%2Fpurl.org%2Fontology%2Fbibo%2FMultiVolumeBook

Hover over type icon -> `Mehrbändig`

[2016-01-26 11:50] #233 closed

[2016-01-26 16:14] acka47 opened #235 "Make it possible to collapse facet lists"
Requeuesd by stakeholders on 2016-01-26 (mail from G.C):

	geöffneten Facetten wieder verkürzen bzw. 	auch schließen zu können.

[2016-01-26 16:15] acka47 commented on #194
Demanded again by stakeholders on 2016-01-26 (mail by G.C.):

	Schlagwort) bei großen Treffermengen. Es ist uns wichtig, dass hier noch bis
	März eine Verbesserung erzielt wird.

[2016-01-26 16:17] acka47 opened #236 "Only show small version of "Raumbezug" map"
Requested by stakeholders as of mail from 2016-01-26 by G.C.:

	dargestellt werden; der interessierte Nutzer kann dann mit einem Klick die
	Karte aufmachen.  Zwar stellt diese geographische Navigation einen
	alternativen Zugang dar, jedoch ist die Karte in ihrer jetzigen Größe
	ein eye-catcher und hebt sich dadurch sehr von den anderen
	Facetten ab. Sie erschließt sich nicht unbedingt intuitiv, is

[2016-01-26 16:20] acka47 opened #237 "Tweak detail view"
Requested by stakeholders in mail by G.C. from 2016-01-26:

	Anmerkungen: 1. Nicht gut finden wir hier die Bezeichnung Ortsbezug, wir
	würden "Raumsystematik" aus sachlichen Gründen bevorzugen. 2. Gibt es
	zwei Schlagwortfolgen, sollten diese auch differenziert werden, z. B.
	durch ein deutliches Trennzeichen (Raute) oder jeweils eine eigene Zeile.

- [ ] Use "Raumsystematik" instead of "Raumbezug

[2016-01-26 16:22] acka47 opened #238 "Moving all entries from result list to Merkliste"
Requested by stakeholders in mail by G.C. from 2016-01-26:

		Trefferliste zu markieren und in die Merkliste zu übernehmen.

[2016-01-26 16:24] acka47 opened #239 "Star markers stay set after entries have been deleted from Merkliste"
Reported by stakeholders in mail by G.C. from 2016-01-26:

		neuen=alten Trefferliste die alten gesetzten Markierungen
		immer noch vorhanden, auch als die Merkliste zwischenzeitlich gelöscht
		worden war.

[2016-01-26 16:26] acka47 opened #240 "OPAC links don't work for ULBs Düsseldorf and Bonn"
Reported by stakeholders in mail by G.C. from 2016-01-26:

	wird auch noch "keine Treffer" gemeldet.

We will have to fix this in https://github.com/hbz/link-templates/blob/master/isil2opac_hbzid.json.

[2016-01-27 08:26] fsteeg commented on #235
Duplicate of #192, closing.

[2016-01-27 08:26] #235 closed

[2016-01-27 10:14] fsteeg commented on #192
Deployed to staging, see: http://test.lobid.org/nwbib/search?location=&q=radwandern

[2016-01-27 12:27] fsteeg commented on #236
We should not hide the map by default, in particular because we'd lose the spatial visualization aspect, which is one of the defining characteristics of a regional bibliography and NWBib in particular.

I've significantly decreased the size of the map and moved it back up to the `issued` facet (which also provides a visualization), to avoid cutting off the textual facets as mentioned by stakeholde

[2016-01-28 08:52] acka47 commented on #236
G.C. writes:

um auf die unterste Stufe zu gelangen

To make the map facet more intuitive, I suggest the following:

1. Enable scrolling only via mouse scrolling and Strg++
2. Don't open a popup when clicking on a cluster or pin but directly apply the facet to the result list.

[2016-01-28 09:35] fsteeg commented on #194
Improved speed by loading only 250 facet values for subject facet. Loading all was a remnant from alphabetically sorted facets (where we needed all before we could sort the list). Deployed to staging:

http://test.lobid.org/nwbib

(Facet queries will be cached, so I'm not providing specific queries, test with some random queries).

[2016-01-28 10:40] fsteeg commented on #236
Deployed to staging, see: http://test.lobid.org/nwbib/search?q=heinrich+böll

[2016-01-28 13:42] acka47 commented on #236
+1

[2016-01-28 14:04] fsteeg commented on #240
Deployed to staging, see:

http://test.lobid.org/nwbib/HT017595568
http://test.lobid.org/nwbib/HT018525192
http://test.lobid.org/nwbib/HT017847194

[2016-01-28 14:49] acka47 commented on #240
+1

[2016-01-28 15:47] fsteeg commented on #239
Steps to reproduce the issue:

- Open http://lobid.org/nwbib/search?q=neuehrenfeld
- Star both titles
- Click 'Merkliste'
- Unstar first title
- Click browser back button: one starred, one not: all good
- Click 'Merkliste'
- Click 'Merkliste löschen' and confirm
- Click browser back button twice: one title still starred, even after reload

Fix deployed to staging: http://test.lobid.org/nwbib/searc

[2016-01-29 08:35] acka47 commented on #239
Currently, I can't evebn reproduce the issue on production as starred items won't be shown in "Merkliste" at all (browser issue?).

On staging adding and deleting works fine though. Thus, +1.

[2016-01-29 12:48] acka47 commented on #194
I suggest only loading 150 facet values to even speed it up more.

[2016-02-01 09:00] fsteeg commented on #194
Deployed to staging, see: http://test.lobid.org/nwbib

I actually changed the number of facet values to 150 for all facets, since depending on the connection, they can all get a little slow. It also makes no sense to have these giant lists, and it's more consistent.

[2016-02-01 11:02] fsteeg commented on #237
Deployed to staging.

Change `coverage` label to 'Raumsystematik', but append 'Orte' and 'Regionen' if both `coverage` and `nwbibspatial` exist, to avoid duplicate 'Raumsystematik' label. See:

http://test.lobid.org/nwbib/HT018832788
http://test.lobid.org/nwbib/HT018859890
http://test.lobid.org/nwbib/HT016936007

Separate individual subject chains by line breaks, see:

http://test.lobid.org/nwbib/

[2016-02-01 13:20] fsteeg commented on #238
Deployed to staging, see arrow pointing at individual stars in a result list, e.g.:

http://test.lobid.org/nwbib/search?q=Köln-Longerich

[2016-02-01 13:24] fsteeg commented on #227
@acka47 I seem to remember that you mentioned having access to the DNS management for this, reassigning.

[2016-02-03 09:56] fsteeg opened #247 "Outer NRW border lighter than inner borders"
Inner borders are painted stronger than the outer border.

A possible fix would be to add an additional outer border.

This could also provide a way to incorporate this feedback (by G.C., 26.1.):

[2016-02-03 11:04] fsteeg commented on #247
Deployed to production, see: http://test.lobid.org/nwbib

[2016-02-03 13:51] fsteeg commented on #239
Deployed to production, closing. See https://github.com/hbz/nwbib/issues/239#issuecomment-176243077 for steps to reproduce fix.

[2016-02-03 13:51] #239 closed

[2016-02-03 13:52] fsteeg commented on #240
Deployed to production, closing. See:

http://lobid.org/nwbib/HT017595568
http://lobid.org/nwbib/HT018525192
http://lobid.org/nwbib/HT017847194

[2016-02-03 13:52] #240 closed

[2016-02-05 11:46] fsteeg commented on #29
While working on #247 it occurred to me that there's a relatively easy way to implement our early idea to provide a map with the NRW-Gemeinden as an option to the NRW-Kreise in the main map. Reopening.

[2016-02-05 11:55] fsteeg commented on #29
Deployed to staging: http://test.lobid.org/nwbib

I had the impression that this level is actually more interesting, so I've set it up as the default.

The maps can be switched with a link from the description text on the main page.

[2016-02-08 20:36] acka47 commented on #194
+1

[2016-02-08 20:37] acka47 commented on #192
+1

[2016-02-08 20:38] acka47 commented on #237
+1

[2016-02-08 20:41] acka47 commented on #238
The function of the arrow isn't intuitively understood. Another icon probably wouldn't make things better though. Perhaps we should use text? Anyway, we'll have to discuss this when I am back at work some day...

[2016-02-08 20:41] acka47 commented on #247
We should give it a try with the current map and the "Gemeinden". Thus, +1.

[2016-02-08 20:42] acka47 commented on #29
As already said in another issue, we should give it a try and ask the stakeholders' opinion. +1

[2016-02-10 13:07] fsteeg commented on #194
Deployed to production, closing. See: http://lobid.org/nwbib

[2016-02-10 13:07] #194 closed

[2016-02-10 13:08] fsteeg commented on #192
Deployed to production, closing. See: http://lobid.org/nwbib/search?location=&q=radwandern

[2016-02-10 13:08] #192 closed

[2016-02-10 13:10] fsteeg commented on #237
Deployed to production, closing.

Change `coverage` label to 'Raumsystematik', but append 'Orte' and 'Regionen' if both `coverage` and `nwbibspatial` exist, to avoid duplicate 'Raumsystematik' label. See:

http://lobid.org/nwbib/HT018832788
http://lobid.org/nwbib/HT018859890
http://lobid.org/nwbib/HT016936007

Separate individual subject chains by line breaks, see:

http://lobid.org/nwbib/HT018493

[2016-02-10 13:11] #237 closed

[2016-02-10 13:12] fsteeg commented on #236
Deployed to production, closing. See: http://lobid.org/nwbib/search?q=heinrich+böll

[2016-02-10 13:12] #236 closed

[2016-02-10 13:17] fsteeg commented on #29
Deployed to production, closing. See: http://lobid.org/nwbib

[2016-02-10 13:17] #29 closed

[2016-02-10 13:18] fsteeg commented on #247
Deployed to production, closing. See: http://lobid.org/nwbib

[2016-02-10 13:18] #247 closed

[2016-02-10 13:47] fsteeg commented on #238
Added a 'Merkliste' label in front of the arrow. I like how this also explains the stars next to the individual hits. Also note the tool tip on the link in case you didn't notice it before.

Deployed to staging: http://test.lobid.org/nwbib/search?q=Köln-Longerich

[2016-02-10 16:36] fsteeg commented on #213
Deployed to staging, see: http://test.lobid.org/nwbib/topics?q=köln (and similar, unchached requests).

[2016-02-15 14:25] acka47 commented on #213
+1

[2016-02-15 14:32] acka47 commented on #238
THis might be mistaken as a link to the "Merkliste". Something short for "Zur Mekrliste inzufügen" would be good...

[2016-02-16 10:00] fsteeg opened #251 "Loading holdings maps blocks loading details view"
Test case: `HT001387709`

[2016-02-16 13:07] fsteeg commented on #238
OK, so how about this: use same icon as for starring individual results, with details in the popup (like for individual results). See: http://test.lobid.org/nwbib/search?location=&q=K%C3%B6ln-Longerich

[2016-02-16 13:36] acka47 commented on #238
\o/ Simple and very good solution. I like. +1

[2016-02-17 10:51] #238 closed

[2016-02-17 13:44] acka47 commented on #227
The domain is registered via [DFN](https://www.dfn.de/dienstleistungen/dfninternet/domains/) and DNS entries are configured inhouse by our colleague A.D. I will contact him as soon as we have figured out what DNS entry we need. We will discuss tomorrow whether we need a reverse proxy or whether there is a better way. Please think about it, @dr0i and @fsteeg.

[2016-02-17 14:05] fsteeg opened #253 "Missing subordination links with view based on data 2.0"
Sample: http://test.lobid.org/nwbib/HT001387709

[2016-02-17 14:21] acka47 commented on #253
The data is there, the structure has changed though.

Example 1.0 structure:

[code]
Example new structure:

[code]

[2016-02-17 14:22] acka47 commented on #253
Same for `inSeries`. example:

[code]

[2016-02-18 10:57] fsteeg commented on #227
We will also use emphytos for nwbib.de. @dr0i and me will contact A.D.

[2016-02-18 10:58] fsteeg commented on #227
We also need to ask A.D. for SSL certificates.

[2016-02-18 16:27] fsteeg commented on #253
Deployed to staging, see: http://test.lobid.org/nwbib/HT001387709

[2016-02-19 07:46] acka47 commented on #253
+1

[2016-02-19 09:25] acka47 commented on #227
nwbib.de now points to emphytos. What's left is the SSL certificate. @dr0i will cover this according to https://wiki.hbz-nrw.de/display/ZIT/Zertifikate+beantragen (internal wiki).

[2016-02-19 09:40] dr0i commented on #227
As there is no wildcard certificate - what (sub)domains we need?
www.nwbib.de , nwbib.de, test.nwbib.de - this' all ?

[2016-02-19 09:57] acka47 commented on #227
Sounds good to me.

[2016-02-22 11:58] #213 closed

[2016-02-22 11:58] #253 closed

[2016-02-22 12:01] fsteeg opened #254 "Black map in IE"
Reported by E.L., NWBib-Mail 2016-02-19

[2016-02-23 08:32] fsteeg commented on #254
I also get the issue in Chromium (Mac, 41.0.2231.0)

[2016-02-23 09:33] fsteeg opened #255 "Error on details"
http://lobid.org/nwbib/HT018582218

[2016-02-23 09:36] fsteeg opened #256 "Additional path segment for details view?"
Brought up by @acka47:

http://lobid.org/nwbib/HT017903876 (will be `http://nwbib.de/HT017903876`) or
http://lobid.org/nwbib/details/HT017903876 (will be `http://nwbib.de/details/HT017903876`)

If the answer is the latter, what should we serve for:

http://lobid.org/nwbib/details (will be `http://nwbib.de/details`)
Perhaps simple instructions: "Details for titles can be acccessed directly or via s

[2016-02-23 10:37] fsteeg opened #257 "nwbibspatial facet checkbox not set"
See http://lobid.org/nwbib/search?nwbibspatial=Essen-Kettwig

[2016-02-23 13:12] fsteeg commented on #227
Deployed for staging:

http://nwbib.de

`nwbib.de.conf` uses a ProxyPass:

[code]

http://test.lobid.org/nwbib

`test.lobid.org.conf` replaces the `/nwbib` proxy with a permanent redirect:

[code]

This should ensure that old URLs keep working, like:
http://test.lobid.org/nwbib/search?q=ehrenfeld&issued=2015

Assigning @acka47 for functional review.

After that, or in parallel, we'll have to:

- [

[2016-02-23 14:04] fsteeg commented on #254
Deployed to staging: http://test.lobid.org/nwbib

I've tested in Chromium, do you have an IE at hand, @acka47?

[2016-02-23 14:52] acka47 commented on #254
Works in IE as well.

[2016-02-23 15:07] acka47 commented on #227
nwbib.de works. Redirection looks good to meas well:

[code]

+1

[2016-02-24 10:35] dr0i commented on #227
I also configured already https://test.nwbib.de/.

[2016-02-24 16:38] fsteeg opened #260 "No ISBN with data 2.0"
See:

http://lobid.org/nwbib/HT018807238
http://gaia.hbz-nrw.de:9200/resources/resource/HT018807238

[2016-02-24 16:44] fsteeg commented on #255
Deployed to staging, see:

http://test.lobid.org/nwbib/HT018582218
http://test.lobid.org/nwbib/HT018596489
http://test.lobid.org/nwbib/HT018596444
http://test.lobid.org/nwbib/HT018755634
http://test.lobid.org/nwbib/HT005016197

[2016-02-24 16:47] dr0i commented on #260
But the data resides in the new data (search for `isbn` in http://gaia.hbz-nrw.de:9200/resources/resource/HT018807238 ).

[2016-02-24 16:57] fsteeg commented on #260
Yes, this is just an nwbib/UI issue, I only added the gaia link for reference to the data to use.

[2016-02-24 18:03] acka47 commented on #255
+1

[2016-02-25 09:45] #254 closed

[2016-02-25 09:45] #255 closed

[2016-02-25 13:35] #227 closed

[2016-02-25 14:10] acka47 opened #262 "Implement search functionality with API 2.0"
This would solve the following issues reported by I.N. on 2015-12-02:

[2016-02-25 14:22] fsteeg commented on #260
Deployed to staging, see:

http://test.nwbib.de/HT018807238
http://test.nwbib.de/HT005016197

[2016-02-25 14:32] fsteeg commented on #262
If I'm not mistaken, this depends on https://github.com/hbz/lobid-rdf-to-json/issues/24 (correct, @acka47?)

[2016-02-25 19:05] acka47 commented on #260
+1 Out of curiosity: Did we have the pipe-separated ISBNs for titles with two ISBNs before?

[2016-02-25 19:08] acka47 commented on #262
Yes, and another issue to created based on https://github.com/hbz/lobid-resources/issues/10 re. indicating contributor role via "role"+ MARC relator code instead of using the relator code as property...

[2016-02-26 08:10] acka47 commented on #83
Unassigning @dr0i because he has a lot of other stuff to do until his parental leave. @fsteeg, can you take care of this,?

[2016-02-26 08:29] fsteeg commented on #260
Conceptually yes, but the display is still quite new, before we had repeated table rows instead of pipe-separated values in a single row.

[2016-02-26 08:32] fsteeg commented on #83
This is actually a `lobid-resources` issue, data 2.0 contains no locations yet.

[2016-02-26 08:33] fsteeg commented on #262
Also depends on #83

[2016-02-26 11:19] acka47 opened #264 "Repair link to journal under "Zum Bestand siehe""
Reported by U.P.on 2016-02-25:

Currently, the link goes to lobid.org/resource instead of lobid.org/nwbib.

[2016-02-26 11:21] acka47 opened #265 "Fix Umlauts in field "Publikationstyp""
Reported via email by U.P. on 2016-02-25:

[2016-02-26 11:24] acka47 opened #266 "Detail view not working"
Example of title without working detail view: https://nwbib.de/HT006933578

Reported via email by U.P. on 2016-02-25:

[2016-02-29 09:21] fsteeg commented on #264
Deployed to staging: http://test.nwbib.de/HT017196116

[2016-02-29 09:35] fsteeg commented on #266
Deployed to staging, see:

http://test.nwbib.de/HT006933578
http://test.nwbib.de/HT016841615

[2016-02-29 09:57] fsteeg commented on #265
Deployed to staging: http://test.nwbib.de/HT018486420

[2016-02-29 10:40] fsteeg commented on #257
To reproduce: this happens when clicking non norm data links from details view, e.g. `Ascheberg-Herbern` from http://test.nwbib.de/HT007070509, not when actually facetting over `nwbibspatial`.

[2016-02-29 13:29] fsteeg commented on #257
Deployed to staging, see literal `Raumsystematik` links from:

http://test.nwbib.de/HT007070509
http://test.nwbib.de/HT018582218
http://test.nwbib.de/HT015518874

[2016-02-29 15:55] acka47 commented on #264
+1

[2016-02-29 15:56] acka47 commented on #266
+1

[2016-02-29 15:58] acka47 commented on #265
+1

[2016-02-29 15:59] acka47 commented on #257
+1

[2016-03-01 08:37] fsteeg opened #271 "Errors on all details pages with data 2.0"
All detail pages yield errors when using data 2.0 for viewing.

Toggled production to use data 1.x, issue is reproducible on staging: http://test.nwbib.de/

Will investigate. @dr0i: Any idea about possible changes in the production data 2.0 since yesterday?

[2016-03-01 09:01] dr0i commented on #271
Yes, new index was deployed. See hbz/lobid-rdf-to-json#29.

[2016-03-01 10:10] fsteeg commented on #271
Updates for `@id` -> `id` and new `type` structure deployed to staging: http://test.nwbib.de

[2016-03-01 10:37] #260 closed

[2016-03-01 10:37] #264 closed

[2016-03-01 10:37] #266 closed

[2016-03-01 10:37] #257 closed

[2016-03-01 10:37] #265 closed

[2016-03-01 10:37] #271 closed

[2016-03-01 11:26] fsteeg opened #273 "Update index page text"
U.P, 2016-02-26:

[2016-03-01 11:28] fsteeg opened #274 "Cache index page"
U.P., 2016-02-25

And later:

[2016-03-01 11:31] fsteeg opened #275 "Unstar all hits on page"
U.P., 2016-02-25

[2016-03-01 11:56] fsteeg opened #276 "Don't display `nwbibspatial` `96` and `97` if `coverage` is given"
My interpretation of E.L., 2016-02-19:

[2016-03-01 11:59] fsteeg commented on #276
@acka47 I suspect we still didn't really understand the mapping for these fields, but given our current software and situation I think the solution from this issue's title makes sense. What do you think?

[2016-03-01 12:02] fsteeg commented on #276
Correction: I guess this should only happen for `96` and `97` in `nwbibspatial`. Updating title.

[2016-03-01 12:06] fsteeg commented on #74
Requested by U.P., 2016-02-25:

[2016-03-01 12:14] fsteeg opened #277 "'Show less' facet links"
U.P., 2016-02-25

[2016-03-01 12:17] fsteeg opened #278 "Error message sometimes appears under a search result"
Seems to be some session related issue.

Maybe related hint from play in the log:

[code]

[2016-03-01 12:19] fsteeg opened #279 "Wrong count in holdings facet"
U.P., 2016-02-25

[2016-03-02 08:21] acka47 commented on #276
If I remember correctly, our handling of these fields dates back to a point where we didn't have/use the "coverage" field. However, I agree with the suggested solution and add as example [HT006696859](http://nwbib.de/HT006696859). It looks like this in the source:

[code]

The proposed solution goes like this. If subfield `b` of 700n is given, we add this to the "coverage" field – as we already do

[2016-03-02 08:24] acka47 commented on #276
Just noticed that I thought about this like we would have to adjust the data transformation but @fsteeg only proposed to adjust the presentation in NWBib. As the underlying data isn't really wrong but just gives an accurate representation of the base data, it's+1 from me for only adjusting the presentation.

[2016-03-02 14:27] fsteeg commented on #279
Deployed to staging, see: http://test.nwbib.de/search?subject=düsseldorf+geschichte

[2016-03-02 14:45] acka47 commented on #279
The numbers still differ a bit (750 in the facet and 740 when setting the filter). I guess this is because for some resources the library holds more then one item, isn't it?
Anyway, +1.

[2016-03-02 15:09] fsteeg commented on #279
That sounds like a good explanation.

Also, facet counts are only estimates in general according to the Elasticsearch documentation.

[2016-03-02 15:18] acka47 opened #282 "Detail view for Merkliste not working"
Example: http://nwbib.de/stars?format=details&ids=HT017100141%2CHT014840101%2CHT014520803

[2016-03-02 15:48] fsteeg commented on #276
Deployed to staging:

http://test.nwbib.de/HT006696859 (sample from this issue, no `96`)
http://test.nwbib.de/HT018902207 (no `coverage`, is actually about `96`)
http://test.nwbib.de/HT017203152 (will have additional `coverage` when https://github.com/hbz/lobid-resources/issues/44 is done)

[2016-03-02 16:08] fsteeg commented on #276
We just discussed offline that we'll also remove 10, 12, 14, 24, 28, 35, 36, 37, 52, 54, 72, 74 as requested by stakeholders (see also https://github.com/hbz/lobid-resources/issues/44).

[2016-03-02 16:13] fsteeg commented on #276
Deployed to staging: http://test.nwbib.de/HT017203152

No longer has `10`, will have additional coverage instead when hbz/lobid-resources#44 is done.

[2016-03-02 16:15] acka47 commented on #276
+1

[2016-03-02 16:26] fsteeg commented on #282
Deployed to staging, see:
http://test.nwbib.de/stars?format=details&ids=HT017100141%2CHT014840101%2CHT014520803

[2016-03-02 19:07] acka47 commented on #282
+1

[2016-03-03 09:03] #278 closed

[2016-03-03 09:03] #276 closed

[2016-03-03 09:03] #279 closed

[2016-03-03 09:03] #282 closed

[2016-03-03 13:07] fsteeg commented on #274
Server-side caching makes no difference here: there is no heavy server side work, and data is cached on the client side anyways. The issue here is probably JavaScript performance on rendering the Gemeinden map, which has quite a few map segments. When I test I get no noticable delays, rendering is < 0.5 seconds for both maps, on initial load, and when returning to the main page after searching. Mi

[2016-03-03 13:08] #274 closed

[2016-03-03 13:37] fsteeg commented on #273
Deployed to staging: http://test.nwbib.de

[2016-03-03 14:44] acka47 commented on #273
+1

[2016-03-07 09:14] fsteeg opened #286 "Subject facet empty"
No subject facet content for any query, e.g. http://nwbib.de/search?q=ehrenfeld

[2016-03-07 09:29] fsteeg commented on #286
Edit: updated description and comment. It's actually a general issue: the subject facet is gone.

@dr0i: Any production updates/changes in the last hour or so?

[2016-03-07 09:41] fsteeg commented on #277
Deployed to staging, see e.g. http://test.nwbib.de/search?q=ehrenfeld

[2016-03-07 09:53] dr0i commented on #286
Nope.

[2016-03-07 10:35] fsteeg commented on #286
Deployed to staging: http://test.nwbib.de/search?q=ehrenfeld

Was caused by `@id` to `id` switch. No idea why it was still working earlier today though.

[2016-03-07 11:01] acka47 commented on #277
+1

[2016-03-07 11:03] acka47 commented on #286
+1

[2016-03-07 11:49] #273 closed

[2016-03-07 11:49] #277 closed

[2016-03-07 11:49] #286 closed

[2016-03-07 11:57] fsteeg commented on #256
I'd consider the data set name `nwbib` to be moved up from `lobid.org/nwbib` to `nwbib.de`. So `http://nwbib.de/HT017903876` is the `nwbib` entry for `HT017903876`. I think this current solution is good and this issue can be closed.

[2016-03-07 12:26] fsteeg commented on #262
As a heads-up, in particular for @acka47:

I don't think it's realistic or even advisable to implement this for nwbib-launch, which is in about 1 month:

1. It depends on another large issue: #83 (which is actually 'Implement geodata inclusion for data 2.0')
2. We have [a few smaller nwbib-launch issues](https://github.com/hbz/nwbib/issues?q=is%3Aissue+is%3Aopen+label%3Anwbib-launch) to be impleme

[2016-03-08 08:27] fsteeg commented on #275
Deployed to staging. See any search result, e.g. http://test.nwbib.de/search?q=longerich

[2016-03-08 08:40] acka47 commented on #275
Hmm, I liked the star icon we ha dbefore. Would be nice to have star icons with a `+` and `-`. I guess, this isn't available. (Ceterim censeo, we need a designer.)

[2016-03-08 09:33] fsteeg commented on #275
Thanks for your persistence in finding a good solution around this functionality!

The toggle option we discussed offline was actually much easier to implement than I expected.

Deployed to staging: http://test.nwbib.de/search?q=longerich

[2016-03-08 11:47] acka47 commented on #275
+1

[2016-03-09 10:47] #275 closed

[2016-03-11 11:40] acka47 opened #291 "Use "title" value as HTML <title>"
For detail views t would be good to have the title of the shown bibliographic resource as title of the HTML page instead of the generic `<title>NWBib - Vollanzeige</title>` for every resource. This would be nice for people with several tabs open and would probably also make sense from an SEO point of view.

[2016-03-11 12:33] fsteeg opened #292 "Data 2.0 subject chain links in details yield 0 hits"
Samples:

http://nwbib.de/HT017832548
http://nwbib.de/HT017312517

[2016-03-11 12:40] fsteeg commented on #292
If the `subjectChain` values will be identical in 1.x and 2.0 after https://github.com/hbz/lobid-resources/issues/29 is fixed, this should be fixed automatically. @dr0i Will they be identical?

[2016-03-11 12:43] dr0i commented on #292
yes, after fulldump deployement , which takes 13 h. (Syncing the morph was easy here.)

[2016-03-11 13:30] fsteeg commented on #251
Since the item owners are loaded on the server side, there is no straightforward way to add them after the main content is loaded. To mitigate the loading time for resources with many owners, owners are now cached globally for one week (ie every owner will only be loaded once, not once for every resource).

Deployed to staging, see http://test.nwbib.de/HT001387709

No externally visible, testable

[2016-03-11 14:00] acka47 commented on #256
+1. Closing.

[2016-03-11 14:00] #256 closed

[2016-03-11 15:01] acka47 commented on #164
We will get a clear differentiation between corporate bodies as creators and persons as creators with API 2.0. The issue will be solved then. Closing.

[2016-03-11 15:01] #164 closed

[2016-03-14 10:16] fsteeg commented on #292
Fix via https://github.com/hbz/lobid-resources/issues/29 deployed to production, closing. See:

- http://nwbib.de/HT017832548 `->` http://nwbib.de/search?q=%22Heinrich-Heine-Institut%2C+Rheinisches+Literaturarchiv+|+Archivp%C3%A4dagogik+|+Jugend+|+Projekt+|+Geschichte+2009-2011%22
- http://nwbib.de/HT017312517 `->` http://nwbib.de/search?q=%22LWL-Archivamt+f%C3%BCr+Westfalen%2C+Westf%C3%A4lisches+

[2016-03-14 10:16] #292 closed

[2016-03-14 10:32] #251 closed

[2016-03-15 10:33] fsteeg commented on #291
Deployed to staging, see:

http://test.nwbib.de/HT017718339
http://test.nwbib.de/HT017253098
http://test.nwbib.de/HT016989920

[2016-03-15 12:14] acka47 commented on #291
This looks better but I am not sure whether we shouldn't add something more to the HTML title. Maybe a `NWBib: ` before every title. Or maybe the author name before the title. (would this be a problem to implement?). What do you think?

[2016-03-15 13:24] fsteeg commented on #291
I actually had it deployed with "NWBib - " prepended first, but in a browser window with a few tabs all I saw was the "NWBib" part, so I changed that before assigning for review. Prepending the author should be possible, but I don't see the advantage. The resources have a clearly defined title, which I think is the ideal content for the HTML title.

[2016-03-15 14:14] acka47 opened #295 "Adding (links to) images for geo searches"
Wikimedia Commons enables a query for (geotagged) images by geo location, see https://commons.wikimedia.org/wiki/Commons:API/MediaWiki#Retrieve_files_given_a_pair_of_coordinates_.28latitude.2C_longitude.29

Perspectively, we could add an illustrating image from Wikimedia Commons next to a geo search in NWBib.

[2016-03-15 17:05] acka47 commented on #291
Ok. As you tried other approaches, I say: +1

[2016-03-16 09:06] #291 closed

[2016-03-16 09:50] fsteeg opened #296 "Performance issue on index page"
Reported on 2016-03-14 by U.P.:

See also #274

@dr0i Suspected an HTTPS issue (old lynx won't open https://nwbib.de/, reproducible e.g. on quaoar1 with `lynx https://nwbib.de/`). But this 1) would lead to not loading at all, 2) would presume entering "nwbib.de" redirects to HTTPS.

My first guess would be a Javascript/SVG performance issue with IE.

[2016-03-16 09:55] fsteeg commented on #296
Made index page map script `async` to mitigate slow performance.

Deployed to staging: http://test.nwbib.de

@acka47 Could you give it a try in IE and check if you notice any difference?

[2016-03-17 08:21] acka47 commented on #296
I just tried it in IE and don't notice any difference. Both production and staging work fine. I will contact U.P. and ask her to try out test.nwbib.de

[2016-03-17 08:49] acka47 commented on #296
Just talked to U.P. The problem occurs in [Firefox ESR 38.4.0](https://www.mozilla.org/en-US/firefox/38.4.0/releasenotes/) _every_ time the home page is loaded. I tried to reproduce it in my Firefox (44.0.2) and actually encountered the problem twice (in about ten tries) myself. It won't occur anymore, although I tried it a lot.

U.P. will try this out on different computers/browsers and report ho

[2016-03-17 09:20] fsteeg opened #298 "Singular label if 1 topic found"
See http://nwbib.de/topics?q=Rheinisches+Literaturarchiv

[2016-03-17 09:26] acka47 commented on #296
Am 17.03.2016 um 10:14 schrieb U.P.:

[2016-03-17 09:34] acka47 commented on #296
This is really strange. As I said, I can not reproduce this with the same Firefox version on Linux. I also tried it on a Windows PC running Firefox 44.0.2 and could also _not_ reproduce the problem.

BTW, U.P. pointed out that it used to work and that the problem appeared after one of our changes to the site.

[2016-03-17 09:37] fsteeg commented on #298
Deployed to staging:

http://test.nwbib.de/topics?q=Rheinisches+Literaturarchiv
http://test.nwbib.de/topics?q=Westfälisches+Literaturarchiv

[2016-03-17 09:39] acka47 commented on #298
+1

[2016-03-17 09:44] #298 closed

[2016-03-17 10:28] acka47 commented on #296
U.P. just pointed out via email that the fix in #297 didn't bring any improvements but instead may even have made things worse.

[2016-03-17 11:07] fsteeg commented on #296
If I remember correctly, the issue came up with the switch to Gemeinden as default for the main map. That map has way more segments in the SVG, and it's created with Javascript, so maybe that's the issue. Deployed Kreise as default to staging, to pin down the issue: http://test.nwbib.de

[2016-03-17 13:34] fsteeg commented on #156
Moving comment here from #74.

Also requested by U.P., 2016-02-25:

[2016-03-17 13:35] fsteeg commented on #74
Issue is better described in #156, closing.

[2016-03-17 13:35] #74 closed

[2016-03-17 13:40] fsteeg commented on #156
Deployed to staging:

- http://test.nwbib.de/search?location=2%20Orte%20aus%20Kartenauswahl|51.75499998964369,8.040277753025293+51.8366667162627,8.025555443018675&q=wandern&sort=newest
- http://test.nwbib.de/search?subject=juden+geschichte&location=51.166666662320495%2C7.0833333022892475

[2016-03-17 14:04] acka47 commented on #296
+1 for making "Kreise" the default view. U.P. just confirmed the performance improvement:

Am 17.03.2016 um 13:46 schrieb U.P.:

[2016-03-17 14:19] acka47 commented on #156
+1

[2016-03-17 14:44] fsteeg opened #301 "Increase timeouts for Lobid API calls"
Most are 10 seconds (10000ms).

[2016-03-17 14:44] #156 closed

[2016-03-17 14:44] #296 closed

[2016-03-17 15:29] #301 closed

[2016-03-18 12:50] #103 closed

[2016-03-29 06:52] acka47 opened #302 "NWBib down due to problems on quaoar2"
On easter (26-28 March) several Nagios messages concerning quaoar2 and also emphytos came in.

The first critical one (26.03.2016, 16:07):

From then on, CRITICAL ones like that for quaor2 repeated.

The first regarding emphytos (26.03.2016, 23:58):

I realized yesterday evening that NWBib is down and asked @jschnasse to restart the play app this morning. NWBib is up again, but strangely the detai

[2016-03-29 06:56] jschnasse opened #303 "Missing MAB-Source"
http://lobid.org/resource/HT018097995/about?format=source

[2016-03-29 11:14] fsteeg commented on #302
The issue seems to be that quaoar2 didn't recover (yet) from its critical state.

The lobid API is configured to access the cluster via quaoar3, so that remained working. NWBib accessed the cluster via quaoar2 for its classification data, so only NWBib titles failed. Configured NWBib to access the cluster via quaoar3:

http://nwbib.de/HT018866841
http://nwbib.de/HT018826410

Also deleted old index

[2016-03-30 08:22] acka47 commented on #302
Doesn't look like quaoar2 would recover. Nagios mail from 30.03.2016, 04:17:

[2016-03-30 09:59] acka47 opened #304 "Importing resource descriptions from KuLaDig"
I stumbled over the information system [KuLaDig](https://www.kuladig.de/) which has information (geo data, historical description, pictures) on places in the Rheinland. The application seems to be driven by a database with lots of structured data including bibliographic references.

It would make sense to include the objects in KuLaDig in the NWBib and it might be quite easy to do a lot automatica

[2016-03-30 14:43] acka47 commented on #209
With the last email by H.F. I think this question gets interesting again. I would really like to have this data. Moving to "Ready.

[2016-04-04 07:10] fsteeg commented on #303
[code]

http://lobid.org/resource/HT018097995

[2016-04-04 09:10] fsteeg opened #305 "Fail gracefully if classification index cannot be accessed"
If the classification index cannot be accessed, currently the complete details page errors (see #302).

We should only skip the affected fields, or a add "missing" labels.